//color basic
:root{
	--default: #333;
	--black: #000;

	--less-orange: #f0ad4e;
	--dark-orange: #eb9114;

	--less-gray: rgb(221, 221, 221);
	--dark-gray: #666;

	--less-red: #fa1515;
	--dark-red: #d43f3a;

	--less-green: #006600;
	--dark-green: #003300;

	--less-blue: #07c;
	--dark-blue: #0d47a1; 

	--white: #fff;
	--less-white: #f2f2f2;
	--skin: #f9f9f9;
	
	//font value
	--font-main: Roboto,-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
	--font-primary: Arial,"Helvetica Neue",Helvetica,sans-serif;
	--font-size-default: 12px;
}

//screen value
$extra-large-screen: 1200px;
$large-screen: 1000px;
$medium-screen: 800px;
$small-screen: 600px;
$extra-small-screen: 400px;


/*section bg color*/
$bg-topbar: #000;
$bg-head: #ffaa11;
$bg-menu: #a60c19;
$bg-menu-hover: #8e0b16;
$bg-main: #f5f5f5;

/*classname - color_value*/
$colours : (
	("default","default"),
	("primary","less-blue"),
	("success","less-green"),
	("danger","less-red"),
	("warning","less-orange")
);


/*-------*/
*{
	margin: 0;
	padding: 0;
}
html{
	@extend %autosize_height_auto;
}
/*tag body*/
body{
    font-family: var(--font-main);
    overflow-x: hidden;
    font-size: var(--font-size-default);
    font-weight: 400;
    color: var(--default);
    background: $bg-main;
}

/*end tag body*/

/*a tag*/
a {
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    &:not(.link-no-color){
    	color: var(--dark-blue);;
    }
}
.border{
	&-none{
		outline: 0;
		border: none;
	}
}

$pre_class : 'link';
$pre_value : 'var(--';
$after_value : ');';
$att : 'color';
@include generateClassByValue( $pre_class, $colours, $att ,$pre_value, $after_value );
/*end a tag*/

.link-hvr-underline{
	&:hover{
		text-decoration: underline;
	}
}

/*tag form*/
.form{
	h1, .h1, h2, .h2, h3, .h3 {
    	font-size: 18px;
	}
	h4, .h4, h5, .h5, h6, .h6 {
   		margin-top: 15px;
    	margin-bottom: 10px;
	}

	h5, .h5 {
	    font-size: 13px;
	}
	h4, .h4, h5, .h5, h6, .h6 {
	    margin-top: 9px;
	    margin-bottom: 9px;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	    font-family: inherit;
	    font-weight: 550;
	    line-height: 1.1;
	    color: inherit;
	}
}
/*end tag form*/

textarea {
  resize: none;
}

/*tag i*/
i{
	cursor: pointer;
}
/*end tag i*/

/*----------------------------------------------Basic Component----------------------------------------*/
.row{
	@extend %row;
}

.ml{
	&-5{
		margin-left: 5px;
	}
}
.mr{
	&-5{
		margin-right: 5px;
	}
}
.mt{
	&-10{
		margin-top: 10px;
	}
	&-15{
		margin-top: 15px;
	}
	&-20{
		margin-top: 20px;
	}
	&-30{
		margin-top: 30px;
	}
	&-50{
		margin-top: 50px;
	}
}

.mb{
	&-10{
		margin-bottom: 10px;
	}
	&-15{
		margin-bottom: 15px;
	}
	&-20{
		margin-bottom: 20px;
	}
	&-30{
		margin-bottom: 30px;
	}
	&-50{
		margin-bottom: 50px;
	}
}
/*label*/
.label{
	&-danger{
		height: auto;
		padding: 5px 0;
		text-align: center;
		color: var(--less-red);;
	}
	&-bold{
		font-weight: 550;
	}
	&-default{
		color: #000;
	}
	&-hover{
		&:hover{
			text-decoration: underline;
		}
	}
}
/*end label*/


/*hide*/
.hide{
	display: none;
}
/*hide*/

/*pull*/
.pull {
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}

}
/*end pull*/

/*img*/
.img{
	&-fill{
		@extend %maxsize;
	}
	&-responsive{
		@extend %autosize_height_hidden;
	}
}
.virtual-image{
	margin:auto;
	border: 2px dashed var(--less-gray);
	cursor: pointer;
	img{
		height: 40px;
		width: 40px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
@media only screen and (min-width :  $small-screen){
	.virtual-image{
		width: 70px;
		height: 70px;
		margin: 13px auto;
	}
}
@media only screen and (min-width :  $extra-small-screen) and (max-width :  $small-screen){
	.virtual-image{
		width: 80px;
		height: 80px;
		margin: 13px auto;
	}
}
@media only screen and (min-width: 400px) and (max-width: $extra-small-screen){
	.virtual-image{
		width: 60px;
		height: 60px;
		margin: 8px auto;
	}
}
@media only screen and (min-width: 300px) and (max-width: 400px){
	.virtual-image{
		width: 40px;
		height: 40px;
		margin: 8px auto;
	}
}
@media only screen and (min-width: 200px) and (max-width: 300px){
	.virtual-image{
		width: 40px;
	    height: 40px;
	    margin: 8px auto;
	}
}
@media only screen and (max-width: 200px){
	.virtual-image{
		width: 40px;
		height: 40px;
		margin: 8px auto;
	}
}
/*end img*/

/*background image*/
.bg-img{
	&-center{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
/*end background image*/

/*nav*/
.horizontal-nav{
	li,a{
		display: inline-block;
		float: left;
	}
}

.vertical-nav{
	li,a{
		display: block;
	}
}


.navbar{
	&__links{

	}
	&__link-text{
	}
	&__link{
		&--separator{
			border-left: 1px solid #474747;
			margin: 0 5px;
		}
	}
}
/*end nav*/
.no-select{
	@include userselect(none);
}
/*hover link left*/
.hover-link{

	&-left{
		vertical-align: middle;
		&:after{
			content: '';
			display: block;
			width: 0;
			height: 2px;
			background: var(--dark-blue);;
			transition: width .3s;
		}
		&:hover::after{
			width: 100%;
		}
	}
}
/*end hover link left*/

/*list*/
.list{
	&-unstyle{
		list-style: none;
	}
	&-circle{
		list-style: circle;
	}
}
/*end list*/

/*position*/
.relative{
	position: relative;
}
.absolute{
	position: absolute;
	&-left{
		@include absolute_center_left(0);
	}
	&-right{
		@include absolute_center_right(0);
	}
	&-center{
		@include absolute_middle;
	}
}

.fixed{
	&-top{
		position: fixed;
		width: 100% !important;
		top:0;
		z-index:1000;
		box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
		@include transform(translate3d(0, 0, 0));
	}
}

/*end position*/

/*search bar*/
.search-bar{
	position: relative;
	width: auto;
	overflow: auto;
	&__text{
		position: absolute;
		left: 0;
		background: transparent;
	}
	&__btn{
		position: absolute;
		height: 100%;
		width:auto;
		right: 0;
		height: 100%;
	}
}
/*end search bar*/

/*text*/
.text {
	&-center {
		text-align: center;
	}
	&-uppercase {
		text-transform: uppercase;
	}
	&-lowercase {
		text-transform: lowercase;
	}
}
/*end text*/

/*button*/
.btn{
	cursor: pointer;
	outline: 0;
	@include borderradius(3px);

	//style
	&-primary{
		font-weight: 550;
		color: #FFF;
		background: #0097ff;
		border: 1px solid #07c;
		box-shadow: inset 0 1px 0 #66bfff;
   	}
   	&-default {
   		border: 0 !important;
		color: #24292e;
		background-color: var(--white);;
		font-weight: 550;
		font-size: 14px;
		border: 1px solid var(--less-gray);
		box-sizing: border-box;

		@include transition(box-shadow cubic-bezier(.165, .84, .44, 1) .25s);

   	}
   	&-danger {
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		background-color: var(--dark-red);
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
   		&:hover{
   			background: var(--dark-red);
   		}
   	}
   	&-warning {
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		background-color: var(--dark-orange);
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
   		&:hover{
   			background: var(--less-orange);
   		}
   	}
   	&-success {
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		background-color: var(--dark-green);
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		&:hover{
   			background: var(--dark-green);
   		}
   	}
   	&-outline{
   		color: #888;
   		background: #fff;
   		border: 1px solid #dedede;
   		&:hover{	
			color: var(--dark-gray);
			border-color: #979797;
			background-color: var(--less-white);
   		}
   	}
	//size
	
	&-xl{
	    padding: 0 12px;
	    font-size: 16px;
	    line-height: 40px;
	    @include borderradius(3px);
	    font-weight: 550;
	}
	&-lg{
	    padding: 0 10px;
	    font-size: 14px;
	    line-height: 35px;
	    @include borderradius(2px);
	}
	&-sm{
	    padding: 6px 12px;
	    font-size: 13px;
	    line-height: 23px;
	}
	&-xs{
	    padding: 4px 10px;
	    font-size: 12px;
	    line-height: 12px;
	}
}
/*end button*/

/*splash*/
.splash{
	&-screen {
		background: var(--less-white);
		width:100%;
		height: 100%;
		overflow: auto;
	}
	&-container{
		
	}
	&-description{
	}
}
/*panel*/

.panel{
	width: 100%;
    height: auto;
    overflow: auto;
    @include borderradius(3px);
    background: #fff;
	&-border-color {
		&-primary {
	    	border-top-color: var(--less-blue);
		}
	}
	&-heading{
		padding: 20px 0 10px;
		&-divider {
			border-bottom:1px dotted var(--less-gray);
			margin: 0 20px 8px;
    		padding-left: 0;
   			padding-right: 0;
		}
		.logo{
			@extend %autosize;
			img{
				height: 60px;
				width: 60px;
				@include borderradius(3px);
			}
		}
		span{
			h3{
				@extend %autosize_height_hidden;
				padding: 5px 0 2px 0;
			}
			h4{
				padding: 4px 0 6px 0;
			}
		}
	}
	&-body {
		padding: 20px 30px 15px;
    	height: auto;
   		overflow: hidden;
    }
}
/*end panel*/

/*form*/
.form{
	&-group{
		width: 100%;
    	margin-bottom: 15px;
    	float:left;
    	input[type="text"] , input[type="password"] {
    		width: 100%;
	    	padding: 0 5px;
    		&:focus{
    			outline: none !important;
    			border-color: var(--dark-blue);
    		}

    	}
    	select{
    		padding: 5px 10px;
    		min-height: 40px;
    		outline: none;
    		border-color: var(--less-gray);
    		background: #e9ebee;
    	}
    	.row{
    		padding: 5px 0;
    	}
    	.form-label{
    		position: relative;
    		font-size: 13px;
    		top: -3px;
    		padding: 0 5px;
    	}
    	.lc{
	    	line-height: 40px;
	    	font-size: 14px;
	    	font-weight: 550;
	    }

		.btn-link{
			margin:0 5px;
		}
	}
	.readonly{
		background: #ddd;
		color: #90949c;;
		pointer-events: none;
	}
	&-log{
		@extend %autosize_height_hidden;
		padding: 5px 0;
	}
	&-control {
		width: 100%;
	    display: block;
	    min-height: 40px;
	    font-size: 13px;
	    line-height: 1.428571429;
	    background-image: none;
	    border: 1px solid #d5d8de;

	    @include borderradius(2px);
		@include boxshadow_full(inset, 0, 1px, 1px,'',rgba(0, 0, 0, 0.075));
		@include transition("border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s");
	   
		&:not(.disabled, select){
			color: #404040;
			background-color: #fff;
		}
	}
	&-comment{
		@extend %autosize_height_hidden;
		position: relative;
		min-height: 40px;
		background: var(--white);
		border: 1px solid var(--less-gray);
		color: #fff !important;
		margin: 0 0 10px 0;
		outline: none;

		@include transition(all .3s ease 0s !important);	
		@include borderradius(40px);


		.input-text{
			height: 100%;
  			width: 100%;
  			overflow: hidden;
			padding: 0 70px 0 20px;
			position:absolute;
			z-index: 1;
			left: 0;
			top: 0;
			outline: 0;
			border: 0;

			font-size: 13px;
    		line-height: 40px;
		}

		&__control{
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 2;
			height: 100%;
			.attachment-icons{
				@extend %autosize_width_hidden;
				float: left;
				i{
					line-height: 40px;
					color: var(--dark-gray);
					float: left;
					margin:0 5px;
					float: left;
				}
			}
			.btn-submit{
				float: left;
				width: 40px;
				height: 100%;
				border: 0;
				outline: 0;
				background: transparent;
				color: var(--dark-gray);
				i{
					line-height: 40px;
				}
			}
		}
	}

	&-comment--big{
		min-height: 100px;
		@include borderradius(10px);
		
		.input-text{
			line-height: 14px;
			font-size: 13px;
			width: 100% !important;
			padding: 10px 5px !important;
			min-height: 70px;
			height: calc(100% - 40px) !important;
		}
		.form-comment__control{
			bottom: 0;
			right: 0;
			height: 40px;
		}
		.btn-submit{
		
		}
	}
	
}
/*end form*/

/*third party*/
.form-submit, .third-party-login{
	.btn{
		width:100%;
	}
	.btn{
		padding: 0 !important;
		margin: 0;
	}
}
.third-party-login{
	.btn{
		margin-bottom:10px;
	}
}
.third-party-login{
	&-line{
		margin-bottom: 12px;
   		width: 100%;
	}
}

.facebook {
	&-btn{
		outline: 0;
		color: #FFF;
	    background-color: #3b5999;
	    border-color: transparent;
	}
}
.google {
	&-btn{
		outline: 0;
		color: #FFF;
	    background-color: #dd4b39;
	    border-color: transparent;
	}
}
/*end third party*/

/*icon self-definition*/
.ic{
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
    &_gui{
    	&-md{
    		background-image: url('../imgs/gui-ic-md.png');
    	}
    }
	&_utl{
		&-sm{
    		background-image: url('../imgs/m-ic-sm.png');
		}
		&-md{
			background-image: url('../imgs/m-ic-md.png');
		}
	}
	

	&-sm{
		height: 16px;
		width: 16px;
	}
	&-md{
		height: 24px;
		width: 24px;
	}
	
	&-lg{
		height: 48px;
		width: 24px;
	}
	&_menu-md{
		background-position: 0px 0px;
	}
	&_close-md{
		background-position: 0px -24px;
	}
	&_arwleft-lg{
		background-position: 0px -144px;
	}
	&_arwright-lg{
 		background-position: 0px -192px;
	}
	&_arwleft-md{
		background-position: 0px -240px;;
	}
	&_arwright-md{
 		background-position: 0px -264px;
	}
	&_home-md{
		background-position: 0px -120px;
	}

	&_lock-md{
		background-position: 0px -48px;
	}
	
	&_user-md{
		background-position: 0px -72px;
	}
	&_forgotpass-md{
		background-position: 0px -288px;
	}
	&_black-lock-md{
		background-position: 0px -504px;
	}
	&_logout-md{
		background-position: 0px -528px;
	}
	
	&_lock-sm{
		background-position: 0px 0px;
	}
	&_user-sm{
		background-position: 0px -16px;
	}
	&_home-sm{
		background-position: 0px -32px;
	}
	&_search-sm{
		background-position: 0px -48px;
	}

	&_img-sm{
		background-position: 0px -96px;
	}
	&_video-sm{
		background-position: 0px -112px;
	}
	&_img-dir-sm{
		background-position: 0px -128px;
	}
	&_send-sm{
		background-position: 0px -144px;
	}
	&_logout-sm{
		background-position: 0px -192px;
	}
	&_arwup-sm{
 		background-position: 0px -192px;
	}
	&_arwdown-sm{
 		background-position: 0px -208px;
	}
	&_close-sm{
		background-position: 0px -224px;
	}
	&_vnflag-sm{
		background-position: 0px -240px;
	}
	&_enflag-sm{
		background-position: 0px -256px;
	}

	
	//gui ic
	&_heart-md{
		background-position: 0px 0px;
	}
	&_comment-md{
		background-position: 0px -24px;
	}
	&_news-md{
		background-position: 0px -48px;
	}
	&_members-md{
		background-position: 0px -72px;
	}
	&_photos-md{
		background-position: 0px -96px;
	}
	&_comments-md{
		background-position: 0px -120px;
	}
	&_faqs-md{
		background-position: 0px -144px;
	}
	&_contactus-md{
		background-position: 0px -168px;
	}
	&-circle{
		@include circle;
	}
}

/*end icon self-definition*/

//progressbar
.progress-bar{
	min-height: 50px;
    overflow: auto;
	.dot{
		width: 24px;
		height: 24px;
		line-height: 24px;
		border: 2px solid #979797;
		color: #bebebe;
		background-color: #fff;
		font-size: 16px;
		font-weight: 550;
		text-align: center;
		@include circle;
		z-index: 2;
	}
	.active{
		background: var(--less-blue);;
		color: var(--white);;
	}
}
.progress-line{
	z-index: 1;
	height: 3px;
	border-radius: 3px;
	width: calc(100% - 4px);
	background: #979797;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	top: 23px;
	bottom:0;
	z-index: 0;
	&__value{
		border-radius: 10px;
		background: var(--less-blue);;
		&--50{
			width: 50%;
		}
		&--100{
			width: 100%;
		}
	}
}

//message-box
.screen-fade{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.2);
	top:0;
	z-index:999;
	transition: all .5s;
}
.message-box{
	background: #fff;
	z-index: 100;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #304E72;
	&__header{
		padding: 5px 0;
		background: #1F427C;
		border-bottom: 1px solid #416371;
		.close-btn{

		}
		.title{
			padding:0 5px;
			font-size: 1.1rem;
			font-weight: 550;
			font-size: 1rem;
			color: var(--white);
		}
	}
	&--bg-sky{
		background: #BDD3FB;
	}
	&__body{		
		color: var(--dark-orange);
		padding: 10px 0;
	}
	&__footer{
		padding-bottom: 20px;
		.btn{
			margin: 0 5px;
			
			display: inline-block;
		}
		.no-btn{

		}
		.yes-btn{
			padding: 5px 20px;
		}
	}
}
.box{
	border: 1px solid var(--less-gray);
	&:focus{
		border: 1px solid var(--less-orange);
	}
	&-sm{
		padding: 10px 0;
		font-size: 20px;
		line-height: 20px;
		margin: 0 5px;
	}
}
/*----------------------------------------------End Basic Component----------------------------------------*/
