/*===========- FOR HEADER COMPONENT -========*/
.header{
}
/*===- section topbar -===*/
.topbar{

	background: $bg-topbar;
    line-height: 16px;
    height: 16px;
    padding: 3px;
    width: 100%;
    overflow: hidden;
	text-transform: uppercase;
	a{
		font-size: 11px;
		font-weight: 550;
		color: var(--white);
		cursor: pointer;
	}
	span{			
		float: left;
		display: inline-block;
	}
	&__img-saved{
		font-weight: 600;
	}
	&--center{
		font-size: 11px;
		max-width: 300px;
		margin: auto;
		left: 0;
		right: 0;
		color: var(--white);
	}
}
/*===- end section topbar -===*/

/*===- section head -===*/
.head{

	height: 60px;
	overflow: hidden;
	background: $bg-head;
	vertical-align: middle;
	color: var(--default);
	.logo{
		&__image{
			img{
				margin: 10px;
				height: 40px;
				width: 40px;
			}
		}
	}
	.account{
		.quickview{
			margin-top: 8px;
		}
		span{
			display: inline-block;
			float: right;
			padding: 0 10px;
		}
	}
	.toggle{
		margin: 15px 10px;
		i{
			line-height: 24px;
		}

	}
	.search-box {
		overflow: hidden;
		height: 100%;
	}
	.search-bar{
		height: 30px;
		margin: 15px 0;
		background: #fff;
		@include borderradius(2px);
		overflow: hidden;
		&:focus-within{
			input{
				border-color: var(--less-blue);
			}
		}
		&__text{
			height: 100%;
			@include borderradius_full(2px, 0, 0, 2px);
			font-size: 13px;
			text-overflow: ellipsis;
			padding: 0 5px;
			width: calc(100% - 50px);
			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;
			-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
			outline: none;
			border: 1px solid #ccc;
		}
		&__btn{
    		background: #f8f8f8;
			@include borderradius_full(0, 2px, 2px, 0);
			height: 100%;
			width: 50px;
			border-top: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			border-left: 0;
			outline: 0;
			text-align: center;
			cursor: pointer;
		}
	}
}

/*responsive head*/
@media only screen and (min-width: $medium-screen){
	.head{
		.toggle{
			display: none;
		}
	}
}

@media only screen and (max-width: $medium-screen){
	.head{
		.toggle{
			display: block;
		}
	}
	.topbar{
		display: none;
	}

}
/*end responsive*/
/*===- end section head -===*/

/*===- section mainbar -===*/
.menu{
	background: $bg-menu;
	font-weight: 550;	
	font-family: var(--font-primary);
	outline: 0;	
	a{
		line-height: 20px;
		font-size: 13px;
		padding: 6px 12px;
		white-space: nowrap;
		color: var(--less-white);
		&:hover{
			background: $bg-menu-hover;
		}
	}
	ul li{
		&.active{
			background: $bg-menu-hover;
		}

	}	
	ul{
		width: auto;
	}
}

/*responsive mainbar*/
@media only screen and (max-width:  $medium-screen){
	.menu{
		width: 100%;
		position: absolute;
		z-index: 100;
		top: 50px;
		opacity: 1;
		&--hide{
			display: none;
		}
		ul{
			padding: 0 20px;
			width: calc(100% - 40px);
			height: auto;
			overflow: auto;

		}
		li,a{
			width: 100%;
			padding: 5px 0;
			margin: 0 !important;
			border-right: 0 !important;
			border-left: 0 !important;
		}
		ul li.active{
			background-color: transparent !important;
			a{
				color: rgba(255,255,255,.4) !important;
			}
		}
		li:not(:last-child){
			border-bottom: .5px solid rgba(0,0,0,.3);
		}
		li:hover a{
			color: rgba(255,255,255,.4) !important; 
			background-color: transparent !important;
		}
		a:after, a:before{
			width: 0 !important;

		}
	}
}
/*end responsive mainbar*/

/*===- end section mainbar -===*/

/*===- section slide -===*/
.slider{
	height: auto;
	width: 100%;
	overflow: hidden;
	position: relative;
	&__container{
		height: auto;
		width: 100%;
		overflow: hidden;
	}
	&__track{
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		display: block;
		height: auto;
    	transform: translate3d(0px, 0px, 0px);
	}
	&__item{
		overflow: auto;
		height: auto;
		display: inline-block;
		float: left;
		clear: none;
    	
    	&-hover{
    		&:hover{
    			box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    		}
    	}
		a{
			width: 100%;
			height: 100%;
			overflow: auto;
		}
		img{
			width: 100%;
			outline: 0;
			border: 0;
			height: auto;
		}
	}
	&__control{
		.prev-next-btn{
			cursor: pointer;
			transition: all 1s;
		}

		&--center {
			.prev-next-btn{
				@extend %absolute_center_height;
			}
			.prev-btn{
				left: 5px;
			}
			.next-btn{
				right: 5px;
			}
		}
		
	}	
	&__dots{
		height: auto;
		overflow: auto;
		margin-top: 5px;
		padding: 10px 0;
	    width: 100%;
		.dot{
			height:10px;
			width:10px;
			background: rgba(0,0,0,.2);
			@include circle;
			display: inline-block;
			margin:0 5px;
			cursor: pointer;
			&:not(.active):hover{
				background: var(--less-blue);
			}
		}
		.active{
			background: var(--dark-blue);;
		}
	}
}

/*responsive slide*/

/*end responsive slide*/
/*===- end section slide -===*/

/*=================- END FOR HEADER COMPONENT -================*/

/*==============- FOR BODY COMPONENT -================*/

/*=======- some primary component -=======*/

/*===- list image -===*/
.image{
	&-list{
		height: auto;
		width: 100%;
		overflow: auto;
		clear: both;
	}
	&-card{
		vertical-align: middle;
   		overflow: hidden;
    	border: none;
		height:auto;
		float: left;
		cursor: pointer;
		@include borderradius(2px);
    	&--bg-skin{
    		background: var(--skin);
    		&:hover{
    			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    		}
    	}
	}
}
.image-hover{
	 &-blur{
		img:hover {
			-webkit-filter: opacity(60%);
			filter: opacity(60%);

	    }		
	 }
}
.card {
	&__img-cover{
		overflow: hidden;
	}
	&__padding{
		padding: 10px;
		h3{
			@include ellipsis(1);
			line-height: 1.1rem;
			font-size: .95rem;
		}
	}
	&__details{
		.details{
			&__title{
				padding: 5px 0;
				color: var(--dark-blue);;
			}
			&__description{
				color: #888;
				overflow: auto;
				padding: 5px 0;
				font-size: .8rem;
				height: auto;
			}
		}
	}
	
	&__control{
		padding: 8px 0;
		a{
			margin:0 5px;
			color: #fff;
		}
	}
	&__footer{
		padding: 5px 0;
		.card-carer{
			span{
				line-height: 24px;
				color: var(--dark-gray);
			}
		}
		.card-comment{
			float: right;
			span{

				line-height: 24px;
				color: var(--dark-gray);
			}
		}
	}

}
.image-list{
	.image-card{
		margin-bottom: 5px;
		transition: all 0.1s;
	}
	&--datatable{
		.card{
			&__padding{
				padding: 3px!important;
			}
		}
		.details{
			&__title{
				font-size: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1; /* number of lines to show */
				line-height: 1.2rem;        /* fallback */
				max-height: 1.3rem;       /* fallback */
				height: 1.3rem;
			}
			&__description{
				font-size: 12px;
			}
		}

	}
	&--extra-large{
		.image-card{
			padding: 0;
			.image-card{

			}
			.card{
				&__img-cover{
					img{
						max-height: 140px;
						overflow: hidden;
					}
				}
			}
		}
	}
	&--small{
		.image-card{

		}
	}
}
@media only screen and (min-width : $extra-large-screen){

	.image-list{

		&--extra-large{

		}
	}
}

@media only screen and (min-width : $large-screen){
	.image-list{
		&--datatable{
			img{
				height: 100px;
			}
			.image-card{
				width: calc(16.67% - 3px);
				margin-bottom: 3px;
				&:not(:nth-child(6n+6)){
					margin-right:3px;
				}
			}
		}
	}
}
@media only screen and (min-width : $medium-screen)  and( max-width : $large-screen){
	.image-list{
		&--datatable{
			.image-card{
				width: calc(16.67% - 3px);
				margin-bottom: 3px;
				&:not(:nth-child(6n+6)){
					margin-right:3px;
				}
			}

			img{
				height: 100px;
			}

		}
	}
}

@media only screen and (min-width : $medium-screen) and(max-width : $extra-large-screen){
	.image-list{
		&--extra-large{

		}
	}
}

@media only screen and (min-width : $small-screen) and (max-width : $medium-screen){
	.image-list{
		&--datatable{
			.image-card{
				width: calc(25% - 2.8px);
				margin-bottom: 4px;
				&:not(:nth-child(4n+1)){
					margin-left:3px;
				}
				&:nth-child(4n+1){
					clear: both;
				}
			}

			img{
				height: 120px;
			}

		}
		&--extra-large{
		}
	}
}

@media only screen and (min-width : $small-screen){
	.image-list{
		&--small-not-auto-response{
			.image-card{
				width: calc(20% - 3px);
				margin-bottom: 4px;
				height: 100px;
				&:not(:nth-child(5n+1)){
					margin-left:3px;
				}
				&:nth-child(5n+1){
					clear: both;
				}
			}
		}
	}
}

@media only screen and (min-width : $extra-small-screen) and (max-width : $small-screen){

	.image-list{
		&--datatable{
			.image-card{
				width: calc(33.33% - 3px);
				margin-bottom: 4px;
				&:not(:nth-child(3n+1)){
					margin-left:4px;
				}
				&:nth-child(3n+1){
					clear: both;
				}
			}

			img{
				height: 110px;
			}

			.details{
				&__title{
					-webkit-line-clamp: 1; /* number of lines to show */
					line-height: 1.2rem;        /* fallback */
					max-height: 1.2rem;       /* fallback */
					height: 1.15rem;
				}
				&__description{
					font-size: 12px;
				}
			}
		}
		&--extra-large{
		}
		&--small-not-auto-response{
			.image-card{
				height: 110px;
				width: calc(25% - 3px);
				margin-bottom: 3px;
				&:not(:nth-child(4n+1)){
					margin-left:3px;
				}
				&:nth-child(4n+1){
					clear: both;
				}
			}
		}
	}
}

@media only screen and (max-width : $extra-small-screen){
	.card {
		&__padding{
			padding: 5px 0;
		}
	}
	.image-list{
		&--datatable{
			.image-card{
				width: calc(50% - 3px);
				margin-bottom: 4px;
				&:not(:nth-child(2n+1)){
					margin-left:4px;
				}
				&:nth-child(2n+1){
					clear: both;
				}
			}

			img{
				height: 120px;
			}

			.details{
				&__title{
					-webkit-line-clamp: 1; /* number of lines to show */
					line-height: 1.2rem;        /* fallback */
					max-height: 1.3rem;       /* fallback */
					height: 1.3rem;
				}
				&__description{
					font-size: 12px;
				}
			}
		}
		&--extra-large{

		}
		
	}
}
@media only screen and (min-width: 400px) and (max-width: $extra-small-screen){
	.image-list{
		&--small-not-auto-response{
			.image-card{
				height: 80px;
				width: calc(20% - 3px);
				margin-bottom:3px;
				&:not(:nth-child(5n)){
					margin-right:3px;
				}
				&:nth-child(5n+6){
					clear: both;
				}
			}
		}
	}
}
@media only screen and (min-width: 300px) and (max-width: 400px){
	.image-list{
		&--small-not-auto-response{
			.image-card{
				height: 60px;
				width: calc(20% - 3px);
				margin-bottom:3px;
				&:not(:nth-child(5n)){
					margin-right:3px;
				}
				&:nth-child(5n+6){
					clear: both;
				}
			}
		}
	}
}
@media only screen and (min-width: 200px) and (max-width: 300px){
	.image-list{
		&--small-not-auto-response{
			.image-card{
				height: 60px;
				width: calc(25% - 3px);
				margin-bottom:3px;
				&:not(:nth-child(5n)){
					margin-right:3px;
				}
				&:nth-child(5n+6){
					clear: both;
				}
			}
		}
	}
}
@media only screen and (max-width: 200px){
	.image-list{
		&--small-not-auto-response{
			.image-card{
				height: 60px;
				width: calc(33.33% - 3px);
				margin-bottom:3px;
				&:not(:nth-child(3n)){
					margin-right:3px;
				}
				&:nth-child(3n+4){
					clear: both;
				}
			}
		}
	}
}
/*===- end list image -===*/

/*===- section impressive-image-shortcuts -===*/
.impressive-photos{
	width: 100%;
	height: auto;
	overflow: hidden;
	.slider{
		&__container{
			
		}
		
		&__item{
			//box-shadow: 0 0.1rem 20px 0 rgba(0,0,0,.05);
			a,.image-card{
				width: 100%;
				height: auto;

				overflow: auto;
			}
			.image-card{
				@include borderradius(2px);
	 			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
			}
			.card{
				&__img-cover{

					img{
						width: 100%;
						height: 150px;
						overflow: hidden;
					}
				}
			}
		}
	}
}
/*===- end section intro-image-shortcuts -===*/

/*===- load more -===*/
.section-seemore {
	padding: 5px 0;
	.btn{
		padding: 10px 60px;
	}
}
/*===- end load more -===*/

/*=========- end some primary component -=======*/

//*===- section heading -===*/
.section-heading{
	margin: 10px auto 0;
	padding: 10px 0;
	height: auto;
	overflow: auto;
	color: var(--default);
	width: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	h5{
		font-size: 20px;
		font-weight: 550;
		color: var(--less-red);
		padding: 0 20px;
		text-transform: lowercase;
	}
	a.see-more{
		text-decoration: underline;
		color: var(--less-blue);
		text-transform: lowercase;
		font-size: 16px;
		line-height: 20px;
		margin-top: 5px;
	}
	ul{
		height: auto;
		overflow: auto;
	}
	.btn{
		margin: 0 4px;
		font-size: 14px;
		color: var(--dark-gray);
		border-color: var(--less-gray);
    	@include transition(all 0.25s ease);
		&:not(.active):hover{
			background: var(--less-gray);
			color: var(--default);
			border-color: var(--default);
		}
	}
	.active{
		background: var(--less-blue);
		color: #fff;
		border-color: var(--dark-blue);;
		font-weight: 600;

	}
	
	li{
		margin:0 5px; 
		.btn:hover{
			background: var(--less-blue);
			color: #fff;
			border-color: var(--dark-blue);;
		}
	}
	&__sort .select{
		padding: 5px 10px;
		background-color: var(--less-white);
		border-color: var(--less-gray);
		outline: none;
	}
}
/*responsive heading*/
@media only screen and (min-width : $medium-screen) and (max-width : $extra-large-screen){
	.section-heading{
		margin: 30px auto 0;
	}
}
@media only screen and (min-width : $small-screen) and (max-width : $medium-screen){
	.section-heading{
		margin: 20px auto 0;
		.btn, &__sort .select{
			font-size: 13px;
			padding: 4px 6px; 	
			margin: 0 4px;
		}
	}
}
@media only screen and (max-width : $small-screen){
	.section-heading{
		margin: 10px auto 0;
		.btn, &__sort .select{
			font-size: 12px;
			padding: 2px 3px;
			margin: 0 1px;
		}
	}
}
/*end responsive heading*/
/*===- end section heading -===*/

/*===- section control -===*/
.section-control{
    color: var(--default);
    margin: 5px 0;
    padding: 10px 0;
	a{
		color: var(--default);
	}
	i{
		line-height: 15px;
	}
	span{
		padding: 0 5px;
		line-height: 15px;
		font-size: 15px;
	}
}
/*responsive control*/
/*end responsive control*/
/*===- end section control -===*/

/*===- section service -===*/
.services{	
	padding: 0 5px;
	height: auto;
	overflow: auto;
	.boxs{
		width: 100%;
		height: auto;
		overflow: auto;

		.box{
			height: 250px;
			display: inline-block;
			float: left;
			&-padding{
				padding: 15% 8% 2%;
			}
			h3,h4,p,a.text-link{
				width: 100%;
				height: auto;
				overflow: auto;
			}
			h3{
				font-size: 13px;
				letter-spacing: .1em;
				padding: 4px 0;
			}
			h4{
				font-size: 16px;
				font-weight: 550;
				padding: 2px 0;
			}
			p{
				font-size: 14px;
				padding: 2px 0;
			}
			.link-padding{
				padding: 20px 0;
				width: 100%; 
			}
			.text-link{
				font-size: 16px;
				&:hover{
					color: var(--default);
				}
			}
		}
		
	}
}


/*responsive*/
@media only screen and (min-width : $small-screen){
	.services{
		width: calc(50% - 11px);
		
		.slider__dots{
			display: none;
		}
		.slider__track{
			width: 100% !important;
			transform: translate3d(0, 0, 0) !important;
		}

		.boxs{
			background: var(--skin);
			width: calc(100% - 2px);
			border: 1px solid var(--less-gray);
			.box{
				height: 250px;
				border:0;
				width: calc(50% - .5px) !important;
				
				&:nth-child(1),&:nth-child(3){
					float: left;
					border-right: 1px solid var(--less-gray);
				}
				&:nth-child(2),&:nth-child(4){
					float: right;
				}
				&:nth-child(1),&:nth-child(2){
					border-bottom: 1px solid var(--less-gray);
				}
			}
			
		}
	}
}


@media only screen and (min-width : $small-screen) and (max-width : $large-screen){
	.services{	
		height: auto;
		overflow: auto;
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		float: center;
		float: none;
		padding: 0;

		.container{
			max-width: 800px;
			margin: 0 auto;
		}
	}
}
@media only screen and (max-width : $small-screen){
	.services{	
		width: 100%;
		margin: 0;
		padding: 0;

		.slider__dots{
			display: inline-block;
		}

		.box{
			display: inline-block;
			float: left !important;
			height: auto !important;
		}
		.boxs,.box{
			border: 0 !important;
		}
	}
}
/*end responsive*/
/*===- end section services -===*/


/*===- section newest video -===*/
.newest-videos{
	width: 50%;
	height: auto;
	overflow: auto;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;	
	.main-video-player{
		height: auto; 
		overflow: auto;
		width: 100%;
		&__content{
			height: auto; 
			overflow-y: hidden;
			overflow-x: auto;
			background: #aaa;
		}

		&__title{
			color: var(--less-blue);
			h5{
				font-weight: 550;
			}
		}
		.main-video-source{
			width: 100%;
		}
	}
	.primary-video-player{
		max-width: 600px;
		margin:auto;
		overflow: hidden;
		.prev-next-btn{
			width: auto;
			overflow: auto;
			height: 100%;
			top: -1px;	
			padding: 2px 15px;			
			bottom: 0;
			margin: auto 0;
			cursor: pointer;
			background: $bg-main;
			z-index: 1;
		}
		.prev-btn{
			left: 0;
		}
		.next-btn{
			right: 0;
		}
		&__content{

			height: 100%;
			width: 100%;
			img{
				overflow: hidden;
				width: 100%;
				height: 90px;
			}
		}
		.slide{
			&__item{
				img:not(.active){
					transform: scale(.95);
				}
				img.active{
					transform: scale(1);
				}
			}
		}
	}
}

/*responsive*/
@media only screen and (min-width : $small-screen){
	.main-video-source{
		min-height: 340px;
		height: auto;
	}
	.primary-video-player{
		height: 90px; 
		.ic{
			margin: 20px 0;
		}
	}
	.main-video-player{
		&__title{
			line-height: 30px;
			font-size: 30px;
			padding: 20px 0;
		}
	}
}
@media only screen and (max-width : $large-screen){
	.newest-videos{	
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
@media only screen and (min-width:  $small-screen) and (max-width : $large-screen){
	.newest-videos{	
		.container{
			max-width: 600px;
			margin: 0 auto;
		}
	}
	.main-video-source{
		max-width: 600px;
		margin: 0 auto;
	}
	.primary-video-player{
		height: 90px;
		.ic{
			margin: 20px 0;
		}
	}
}

@media only screen and (min-width:  $extra-small-screen) and (max-width:  $small-screen){
	.primary-video-player{
		height: 70px; 
		.ic{
			margin: 10px 0;
		}
	}
	.main-video-player{
		&__title{
			line-height: 20px;
			font-size: 20px;
			padding: 15px 0;
		}
	}
}
@media only screen and (max-width:  $extra-small-screen){
	.primary-video-player{
		height: 60px; 
		.ic{
			margin: 6px 0;
		}
	}
	.main-video-player{
		&__title{
			line-height: 16px;
			font-size: 16px;
			padding: 10px 0;
		}
	}
}
/*end responsive*/
/*===- end section newest video -===*/



/*===- section nav left -===*/
.section-navleft{
	float: left;

	li{
		margin-top: 5px;
		height: auto;
	    overflow: auto;
		font-size: 12px;
		font-weight: 550;
		-moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;
	    a{
	    	float: left;
	    	width: 100%;
	    	padding: 5px 0;
	    	height: auto;
	    	overflow: auto;
	    	font-weight: 690;
	    	cursor: pointer;
	    }
		span{
			line-height: 24px;
			width: calc(100% - 25px);
		}
		
		&:not(.heading){
			&:hover{
				background: var(--skin);
			}
			a{
				color: var(--default);
			}
		}
	}
	.heading{
		color: rgba(0,0,0,.5);
		text-transform: uppercase;
	}
	.toggle{
		font-size: 13px;
		font-weight: 550;
	    line-height: 30px;
	    i{
	    	margin-top: 8px;
	    }
	}
	.active{
		background: var(--skin);
		a{
			color: black !important;
		}
	}
	.icon{
	    margin: 3px;
	    float: left;
	}
}
/*responsive*/

/*end responsive*/
/*===- end section nav left -===*/

/*===- section center -===*/
.section-center{
	float: left;
	height: auto;
	overflow: auto;
}
/*===- end section center -===*/

/*===- section post -===*/
.quickview{
	height: auto;
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	img{
		cursor: pointer;
		height: 100%;
		width: 100%;	
		border: none;
	}
	&--center{
		margin: 0 auto;
	}
	&-lg{
		width: 56px;
		height: 56px;
		outline: 0;
		border: 1px solid rgba(0,0,0,.2);

	}
	&-md{
		width: 40px;
		height: 40px;
		margin-right: 10px;
		border-radius: 50%;
		border: 1px solid var(--less-gray);
	}
	&-sm{
		width: 30px;
		height: 30px;
		margin: 0 5px;
	}
}
.quickview-properties{
	height: auto;
    overflow: auto;
    float: left;
	&-lg{
		width: calc(100% - 60px);
	}
	&-md{
		width: calc(100% - 52px);
	}
	&-sm{
	}
}
.post{
	border: 1px solid var(--less-gray);
	width: calc(100% - 2px);
	font-family: inherit;
	background: var(--white);
	height: auto;
	overflow: hidden;
	@include borderradius_full(3px,3px,0,0);
	font-weight: bold;
	&__control{
		background-color: #eaebec;
		padding: 10px 0;
		height: auto;
		overflow: auto;
		border-bottom: 1px solid var(--less-gray);
		font-size: 11px;

		ul{
			padding: 0 10px;
			
			.separator{
				margin: 0 5px;
				color:var(--less-gray);
			}
			li{
				color: var(--dark-gray);
				cursor: pointer;
				&.active{
					color: var(--default);
				}
			}
		} 

	}
	&__body{
		margin-top: 10px;
		width: 100%;
		height: auto;
		overflow: auto;
		.quickview-properties{
			textarea{
				width: 100%;
				height: auto;
				overflow: hidden;
				border: none;
				outline: 0;
				font-family: var(--font-primary);
			}
		}
		.title{
			padding: 5px 0 10px 10px;
			width: calc(100% - 10px) !important;
			overflow: hidden;
		}
		.tag{
			border-top: 1px solid var(--less-gray);
			font-size: 13px;
			&__title{
				background: #f9f9f9;
				font-weight: 500;
				padding: 10px 5px;
				min-width: 50px;
			}
			&__content{
				font-size: 13px;
				padding: 11px 5px;
				width: calc(100% - 60px);
				&:focus{
					border: 0;
				}

			}
		}

	}
	&__images{
		padding: 10px 0;
		height: auto;
		overflow: auto;
		border-top: 1px solid var(--less-gray);

	}
	&__footer{
		padding: 5px 0;
		width: 100%;
		height: auto;
		overflow: auto;
		border-top: 1px solid var(--less-gray);
		i{
			margin: 10px;
		}

		.btn{
			outline: 0;
			font-weight: 550;
			margin: 0 5px;
		}
	}
}
.post{
	.image{
		&-list{
			float: left;
			width: 100%;
			height: auto;
			overflow: auto;
		}
		&-simple-item{
			overflow: hidden;
			float: left;
			border: none;
			outline: 0;
		}
		&__icon-close{
			@include circle;
			right:10px;
			top:10px;
			font-size: 13px;
			z-index:10;
			color: var(--white);
			
		}
	}
}

/*responsive*/

/*end responsive*/
/*===- end section post -===*/


/*===- section article -===*/
.article{
	&-item{
		height: auto;
		overflow: auto;
		margin-left: auto;
		margin-right: auto;
		background: var(--white);
		@include borderradius(3px);
		border: 1px solid var(--less-gray);
		padding: 0 10px;
		width: calc(100% - 22px);
	}

	&__heading{
		margin-top: 10px;
		width: 100%;
		height: auto;
   		overflow: auto;
		height: auto;
		overflow: auto;
		.avatar{
			width: 62px;
			height: auto;
			overflow: auto;
			float: left;
		}
		.author {
			width: calc(100% - 65px);
			height: auto;
			overflow: auto;
			float: left;
			h3{
				font-size: 15px;
			}
		}
	}
	&__properties{
		padding: 10px 0;
		font-size: 13px;
		color: var(--dark-gray);
		width: 100%;
		height: auto;
		overflow: auto;
		.like-count,.comment-count{
			span{
				line-height: 24px;
			}
		}
	}
	&__control{
		padding: 10px 0;
		width: 100%;
		border-top: 1px solid var(--less-gray);
		overflow: auto;

		.btn{
			background: var(--white);
			color: var(--default);
			outline: 0;
			border: none;
			line-height: 20px;

		}
		.like-btn{
			i{
				color: var(--less-red);
			}

		}
		.comment-btn{
			i{
				color: var(--dark-gray);
			}
		}
	}
	&__body{
		font-size: 14px;
		padding: 10px 0;
	}
	&__images{

	}
	&__footer{
		border-top: 1px solid var(--less-gray);
		.btn-submit{
			width:40px;
			display: inline-block;
			overflow: hidden;
			line-height: 24px;
			text-align: center;
			padding: 5px 0;
			margin: 0 2px;
			border: none;
			outline: 0;
			i{
				margin: 8px 0;
			}
		}
	}
}

/*responsive*/

/*end responsive*/
/*===- end section article -===*/

/*===- comment -===*/
.comment{
	display: block;
    float: left;
    margin-bottom:5px;
    width: 100%;
	&__heading{
		padding: 5px 0;
		height: auto;
   		overflow: auto;
		
	}
	&__control{
		font-size: 12px;
		padding: 3px 0;
		.comment-delete{
		}
		.comment-created-date{
		}
	}
	&__body{
		margin-bottom: 5px;
		p{
			padding: 0 5px;
		}
	}
	&__images{

	}
	&__footer{

	}		
}
.parent-form{
	margin: 10px 0;
}

/*responsive*/

/*end responsive*/
/*===- end comment -===*/

/*===- section right -===*/
.recent-photos,.proposed-group {
	.heading{
		margin:5px 0 10px;	
		font-weight: 550;
		font-size: 14px;
		color: var(--dark-red);
		.h3{
			padding: 0 5px;
		}
	}
}

.recent-photos{
	.preview-image{
		height: auto;
	}
}
.proposed-group{
	&-item{

	}
	.preview-image{

	}
}

.preview-image-details{

	float: left;
	width: 100%;
	height: auto;
	overflow: auto;
	&--padding{
		padding: 10px 5px;
	}
	h3{
		@include ellipsis(1);
		line-height: 1.3rem;
		font-size: 13px;
	}
	p{
		font-size: 11px;
		color: var(--dark-gray);
	}
}

/*responsive*/
@media only screen and(min-width:  $large-screen) and(max-width: $extra-large-screen){
	.recent-photos{

	}
	.proposed-group{
		&-item{

		}
	}

}
@media only screen and(max-width:  $large-screen){
	.section-right{
		width: 100% !important;
	}
}
@media only screen and(min-width:  $medium-screen) and(max-width: $large-screen){

	.section-right{
	}
	
}

@media only screen and(min-width:  $small-screen) and(max-width: $medium-screen){
	.section-right{
	    float: left;
		margin: 0;
		width: 100%;
	}
}
@media only screen and(max-width:  $small-screen){
	.preview-image-details{
		h3{
			font-size: 12px;
		}
		p{
			font-size: 11px;
		}
		&--padding{
		}
	}
	.recent-photos{

	}
	.proposed-group{
	}
}
@media only screen and (max-width: $extra-small-screen){
	.preview-image-details{
		&--padding{
			padding: 5px 0;
		}
		h3{
			font-size: 11px;
		}
		p{
			font-size: 10px;
		}
	}
}

/*end responsive*/

/*===- end section right -===*/


/*datatable*/
.datatable{
	padding: 0;
	margin: 0;
	outline: 0;
	border-spacing: 0;
	border:0;
	tr.title{
		background: #36304a;
		color: #fff;
		font-weight: 550;
		font-size: 11px;
	}
	tr:not(.title){
		color: var(--default);
		font-size: 12px;
	}
	tr.even{
		background-color: #f5f5f5; 
	}
	tr:not(.even,.title){
		background-color: #cdcdcd; 
	}
}
.table{
	&-border-gray{
		border-bottom: 1px solid var(--less-gray);
		border-right: 1px solid  var(--less-gray);
		th,td{
			padding: 5px 4px;
			border-top: 1px solid  var(--less-gray);
			border-left: 1px solid  var(--less-gray);
		}
	}
}

.widget{
	&-box{
		background: none repeat scroll 0 0 #F9F9F9;
		border-left: 1px solid #CDCDCD;
		border-top: 1px solid #CDCDCD;
		border-right: 1px solid #CDCDCD;
		clear: both;
		margin-top: 16px;
		margin-bottom: 16px;
		position: relative;
	}
	&-title{
		height: 30px;
		line-height: 30px;
		color: #222;
		background-color: #ddd;;
		border-bottom: 1px solid #CDCDCD;
		.icon{
			height: 100%;
			border-right: 1px solid #CDCDCD;
			i{  
				padding: 0 10px;
				line-height: 30px;
			}
		}
		h5{
			padding: 0 5px;
		}
	}
	&-content{
		ul li{
			&:not(:last-child){
				border-bottom: 1px dotted #AEBDC8;
			}
		}
	}
}
/*=================- END FOR BODY COMPONENT -================*/

/*===================- FOR FOOTER COMPONENT -=================*/

.footer {
	height: auto;
	width:100%;
	overflow: auto;
	hr{
		border-top: 1px solid #ddd;
	}
}
/*===- section block -===*/
.blocks{
	background-color: #f7f7f7;
	color: var(--default);
	clear: both;
	width:100%;
	padding: 20px 0;
	.footer__logo{
		padding: 5px 0;
		height:100px;
		width:130px;
		margin-left: auto;
		margin-right: auto;
	}
	.block{
		height: auto;
		overflow: auto;
		float: left;
		margin-bottom: 10px;
		li{
		}
		h4,h2{
			color: var(--default);
			padding: 10px 0;;
		}
		h2{
			font-size:24px
		}
		
		h4{
			width: 100%;
			height: auto;
			overflow: auto;
			font-size: 16px;
		}
		p{
			font-size:13px;
		}
		a {
			color: var(--default);
			text-decoration: none;
			font-size: 14px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
/*responsive block*/
@media only screen and (min-width : $extra-large-screen){
	.footer{
		.block{
			width: calc(20% - 20px);
			padding:0 10px;
		}
	}
}
@media only screen and (max-width : $extra-large-screen){
	.footer{
		.about-us-block{
			text-align: center;
			width: 100%;
			clear: both;
		}
	}
}
@media only screen and (min-width : $small-screen) and (max-width : $extra-large-screen){
	.footer{
		.block:not(.about-us-block){
			width: calc(25% - 10px);
			padding:0 5px;
		}

	}
}
@media only screen and (max-width : $small-screen){
	.footer{
		.block:not(.about-us-block){
			width: calc(50% - 10px);
			padding:0 5px;
		}
		.block:nth-child(5n-1){
			clear: both;
		}
	}
}
/*end responsive block*/
/*===- end section block -===*/

/*===- section copyright -===*/
.copyright{
	background: #111;
    color: #eee;
	padding: 20px 0;
	a {
		color: var(--white);
		font-weight: bold;
		text-decoration: none;
	}
}
/*responsive copyright*/
@media only screen and (max-width : $small-screen){
	.copyright{
		p{
			text-align: center;
			float: none;
		}
	}

}
/*end responsive copyright*/
/*===- end section copyright -===*/

/*===================- END FOR FOOTER COMPONENT -==================*/

/*===================- PAGING -==================*/
.paging{
	display: flex;
    justify-content: center;
	a{
		color: var(--dark-gray);
	}
	ul li{
		margin: 0 5px;
		@include transition('all .5s');
		@include borderradius(2px);

		&:not(.disable){
			padding: 4px 8px;
			border: solid 1px #c0c0c0;
    		background: #e9e9e9;
			box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);

		}
		&:not(.active):not(.disable):hover{
			background: #fefefe;
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
			background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
		}
		&.active{
			color: #f0f0f0;
			border-color: var(--default);
			background: var(--default);
			box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
			text-shadow: 0px 0px 3px rgba(0,0,0, .5);
			a{
				color: #f0f0f0;
			}
		}
	}
}
/*===================- END PAGING -==================*/