:root {
  --default: #333;
  --skin: #f2f2f2;
  --white: #ffffff;
  --shadow: #464953;
  --less-black: #36383F;
  --dark-shadow: #9fa2ad;
  --less-shadow: #c8cad0;
  --font-code-title: 16px;
  --font-code: 14px;
  --line-height-code: 14px;
  --line-height-code-title: 20px; }

.editor {
  background: #1D1E22; }

.main-header {
  overflow: hidden;
  height: 69px;
  min-height: 69px;
  min-width: 1000px;
  border-bottom: 5px solid var(--black);
  box-shadow: 0 1px 1px var(--black); }

.pen-title {
  height: 100%;
  margin-top: 10px;
  margin-left: 15px; }

.pen-text h1 {
  font-size: 24px;
  color: var(--white); }
.pen-text p {
  font-size: 12px;
  color: var(--skin); }

.secondary-nav {
  color: var(--skin);
  font-weight: 550; }

.controls {
  margin-right: 15px;
  list-style: none; }

.controls-default {
  cursor: pointer;
  line-height: 69px;
  margin: 0 8px;
  font-size: 18px;
  background: var(--black); }

textarea {
  resize: none; }

.box-row {
  width: 100%; }
.box-content {
  width: calc(100% - 20px); }
.box-html, .box-struct, .box-command {
  background: var(--skin); }
  .box-html .code-content, .box-html .code-line, .box-struct .code-content, .box-struct .code-line, .box-command .code-content, .box-command .code-line {
    padding: 0 5px; }
  .box-html .code-line, .box-struct .code-line, .box-command .code-line {
    line-height: var(--font-code); }
  .box-html .code-content, .box-struct .code-content, .box-command .code-content {
    height: calc(100% - var(--line-height-code-title) - 1px);
    width: calc(100% - 35px); }
    .box-html .code-content textarea, .box-struct .code-content textarea, .box-command .code-content textarea {
      line-height: var(--line-height-code);
      overflow: hidden; }
.box-result {
  background: var(--skin);
  height: auto;
  overflow: auto; }
  .box-result .box-content {
    padding: 15px 0;
    width: 100%; }
  .box-result .code-line {
    height: auto; }
  .box-result .code-content {
    padding: 0 5px;
    width: calc(100% - var(--font-code) - 20px); }
    .box-result .code-content textarea {
      line-height: var(--line-height-code); }
.box-resize {
  background: red; }
.box-sperator {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background: var(--shadow);
  height: 10px !important; }

.code-title {
  width: 100%;
  border-bottom: 1px solid var(--less-shadow);
  display: inline-block;
  text-overflow: ellipsis; }
  .code-title h3 {
    font-size: var(--font-code-title);
    line-height: var(--line-height-code-title);
    font-weight: 550;
    padding: 0 5px; }
.code-line, .code-content, .code-content textarea {
  font-size: var(--font-code); }
.code-line {
  padding: 0 5px;
  line-height: var(--line-height-code);
  color: var(--dark-shadow); }
  .code-line span {
    display: block; }
.code-content {
  padding: 0 5px;
  overflow-wrap: break-word; }

.resize {
  background: var(--shadow); }
  .resize-horizontal {
    width: 18px;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    background: #36383F; }
    .resize-horizontal:not(.resize-fixed) {
      cursor: col-resize; }
  .resize-vertical {
    height: 18px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
    .resize-vertical:not(.resize-fixed) {
      cursor: row-resize; }
