:root{
	--default: #333;
	--skin: #f2f2f2;
	--white: #ffffff;
	--shadow: #464953;
	--less-black: #36383F;
	--dark-shadow: #9fa2ad;
	--less-shadow: #c8cad0;
	
	--font-code-title: 16px;
	--font-code: 14px;
	--line-height-code: 14px;
	--line-height-code-title: 20px;
}
.editor{
	background: #1D1E22;
}
.main-header{
	overflow:hidden;
    height: 69px;
    min-height: 69px;
    min-width: 1000px;
    border-bottom: 5px solid var(--black);
    box-shadow: 0 1px 1px var(--black);
}	

.pen-title{
	height: 100%;
	margin-top: 10px;
	margin-left: 15px;
}
.pen-text{
	h1{
		font-size: 24px;
		color: var(--white);
	}
	p{
		font-size: 12px;
		color: var(--skin);
	}
}
.secondary-nav {
	color: var(--skin);
	font-weight: 550;
}
.controls{
	margin-right: 15px;
	list-style: none;
}
.controls-default{
	cursor: pointer;
	line-height: 69px;
	margin: 0 8px;
	font-size: 18px;
	background: var(--black);
}
textarea {
	resize: none;
}
.box{
	//overflow: hidden;
	&-col{
	}
	&-row{
		width: 100%;	
	}
	&-content{
		width: calc(100% - 20px);
	}
	&-html, &-struct, &-command{
		background: var(--skin);
		.code-content, .code-line{
			padding: 0 5px;
		}
		.code-line{
			line-height: var(--font-code);
		}
		.code-content{
			height: calc(100% - var(--line-height-code-title) - 1px);
			width: calc(100% - 35px);
			textarea{
				line-height: var(--line-height-code);
				overflow: hidden;
			}
		}
	}
	&-result{
		background: var(--skin);
		height: auto;
		overflow: auto;
		.box-content{
			padding: 15px 0;
			width: 100%;
		}
		.code-line{
			height: auto;
		}
		.code-content{
			padding: 0 5px;
			width: calc(100% - var(--font-code) - 20px);
			textarea{
				line-height: var(--line-height-code);
			}
		}
	}
	&-resize{
		background: red;
	}
	&-sperator{
		border-top: 1px solid rgba(255,255,255,0.1);
		border-bottom: 1px solid rgba(0,0,0,0.4);
		background: var(--shadow);
		height: 10px !important;
	}
}
.code{
	&-title{
		width: 100%;
		border-bottom: 1px solid var(--less-shadow);
		display: inline-block;
		text-overflow: ellipsis;
		h3{
			font-size: var(--font-code-title);
			line-height: var(--line-height-code-title);
			font-weight: 550;
			padding: 0 5px; 

		}
	}
	&-line, &-content, &-content textarea{
		font-size: var(--font-code);
	}
	&-line{
		padding: 0 5px;
		line-height: var(--line-height-code);
		color: var(--dark-shadow);
		span{
			display: block;
		}
	}
	&-content{
		padding: 0 5px;
		overflow-wrap: break-word;
	}
}
.resize{
	background: var(--shadow);
	&-horizontal{
		width: 18px;
		height: 100%;
		border-left: 1px solid rgba(255,255,255,0.1);
		border-right: 1px solid rgba(0,0,0,0.4);
		background: #36383F;
		&:not(.resize-fixed){
			cursor: col-resize;
		}
	}
	&-vertical{
		height: 18px;
		width: 100%;
		border-top: 1px solid rgba(255,255,255,0.1);
		border-bottom: 1px solid rgba(0,0,0,0.4);
		&:not(.resize-fixed){
			cursor: row-resize;
		}
	}
}