$mains : (1200, 600, 500, 400, 350, 300, 250);

/*screen size responsive*/
$main_pre : '.main-';
@each $value in $mains {
    #{$main_pre}#{$value} {
      max-width: #{$value + "px"};
      @extend %main_center;
   }
}

/*grid view*/
$from: 1;
$to: 10;
$col_pre : '.col-';
@for $i from $from through $to {
   #{$col_pre}#{$i} {
      width: $i*8.33%;
      float: left;
   }

}
