/*3:09am 28-11-2018*/
/*===========- BASIC COMPONENT SASS -========*/
/*===- size -===*/
.img-fill {
  width: 100%;
  height: 100%; }

.panel-heading .logo {
  width: auto;
  height: auto;
  overflow: auto; }

.row, html {
  width: 100%;
  height: auto;
  overflow: auto; }

.img-responsive, .panel-heading span h3, .form-log, .form-comment {
  width: 100%;
  height: auto;
  overflow: hidden; }

.form-comment__control .attachment-icons {
  width: auto;
  height: 100%;
  overflow: hidden; }

/*margin*/
.absolute-center {
  margin: auto; }

.absolute-left, .absolute-right, .slider__control--center .prev-next-btn {
  margin-top: auto;
  margin-bottom: auto; }

/*===- position -===*/
/*center*/
.absolute-center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.absolute-left, .absolute-right, .slider__control--center .prev-next-btn {
  top: 0;
  bottom: 0; }

/*row*/
.row {
  clear: both; }

.main-1200, .main-600, .main-500, .main-400, .main-350, .main-300, .main-250 {
  margin: 0 auto;
  height: auto;
  overflow: auto; }

/*2019-02-01*/
/*===========- END MINXIN BASIC COMPONENT SASS -========*/
/*screen size responsive*/
.main-1200 {
  max-width: 1200px; }

.main-600 {
  max-width: 600px; }

.main-500 {
  max-width: 500px; }

.main-400 {
  max-width: 400px; }

.main-350 {
  max-width: 350px; }

.main-300 {
  max-width: 300px; }

.main-250 {
  max-width: 250px; }

/*grid view*/
.col-1 {
  width: 8.33%;
  float: left; }

.col-2 {
  width: 16.66%;
  float: left; }

.col-3 {
  width: 24.99%;
  float: left; }

.col-4 {
  width: 33.32%;
  float: left; }

.col-5 {
  width: 41.65%;
  float: left; }

.col-6 {
  width: 49.98%;
  float: left; }

.col-7 {
  width: 58.31%;
  float: left; }

.col-8 {
  width: 66.64%;
  float: left; }

.col-9 {
  width: 74.97%;
  float: left; }

.col-10 {
  width: 83.3%;
  float: left; }

:root {
  --default: #333;
  --black: #000;
  --less-orange: #f0ad4e;
  --dark-orange: #eb9114;
  --less-gray: rgb(221, 221, 221);
  --dark-gray: #666;
  --less-red: #fa1515;
  --dark-red: #d43f3a;
  --less-green: #006600;
  --dark-green: #003300;
  --less-blue: #07c;
  --dark-blue: #0d47a1;
  --white: #fff;
  --less-white: #f2f2f2;
  --skin: #f9f9f9;
  --font-main: Roboto,-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  --font-primary: Arial,"Helvetica Neue",Helvetica,sans-serif;
  --font-size-default: 12px; }

/*section bg color*/
/*classname - color_value*/
/*-------*/
* {
  margin: 0;
  padding: 0; }

/*tag body*/
body {
  font-family: var(--font-main);
  overflow-x: hidden;
  font-size: var(--font-size-default);
  font-weight: 400;
  color: var(--default);
  background: #f5f5f5; }

/*end tag body*/
/*a tag*/
a {
  overflow: hidden;
  text-decoration: none;
  cursor: pointer; }
  a:not(.link-no-color) {
    color: var(--dark-blue); }

.border-none {
  outline: 0;
  border: none; }

.link-default {
  color: var(--default);; }

.link-primary {
  color: var(--less-blue);; }

.link-success {
  color: var(--less-green);; }

.link-danger {
  color: var(--less-red);; }

.link-warning {
  color: var(--less-orange);; }

/*end a tag*/
.link-hvr-underline:hover {
  text-decoration: underline; }

/*tag form*/
.form h1, .form .h1, .form h2, .form .h2, .form h3, .form .h3 {
  font-size: 18px; }
.form h4, .form .h4, .form h5, .form .h5, .form h6, .form .h6 {
  margin-top: 15px;
  margin-bottom: 10px; }
.form h5, .form .h5 {
  font-size: 13px; }
.form h4, .form .h4, .form h5, .form .h5, .form h6, .form .h6 {
  margin-top: 9px;
  margin-bottom: 9px; }
.form h1, .form h2, .form h3, .form h4, .form h5, .form h6, .form .h1, .form .h2, .form .h3, .form .h4, .form .h5, .form .h6 {
  font-family: inherit;
  font-weight: 550;
  line-height: 1.1;
  color: inherit; }

/*end tag form*/
textarea {
  resize: none; }

/*tag i*/
i {
  cursor: pointer; }

/*end tag i*/
/*----------------------------------------------Basic Component----------------------------------------*/
.ml-5 {
  margin-left: 5px; }

.mr-5 {
  margin-right: 5px; }

.mt-10 {
  margin-top: 10px; }
.mt-15 {
  margin-top: 15px; }
.mt-20 {
  margin-top: 20px; }
.mt-30 {
  margin-top: 30px; }
.mt-50 {
  margin-top: 50px; }

.mb-10 {
  margin-bottom: 10px; }
.mb-15 {
  margin-bottom: 15px; }
.mb-20 {
  margin-bottom: 20px; }
.mb-30 {
  margin-bottom: 30px; }
.mb-50 {
  margin-bottom: 50px; }

/*label*/
.label-danger {
  height: auto;
  padding: 5px 0;
  text-align: center;
  color: var(--less-red); }
.label-bold {
  font-weight: 550; }
.label-default {
  color: #000; }
.label-hover:hover {
  text-decoration: underline; }

/*end label*/
/*hide*/
.hide {
  display: none; }

/*hide*/
/*pull*/
.pull-left {
  float: left; }
.pull-right {
  float: right; }

/*end pull*/
/*img*/
.virtual-image {
  margin: auto;
  border: 2px dashed var(--less-gray);
  cursor: pointer; }
  .virtual-image img {
    height: 40px;
    width: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

@media only screen and (min-width: 600px) {
  .virtual-image {
    width: 70px;
    height: 70px;
    margin: 13px auto; } }
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .virtual-image {
    width: 80px;
    height: 80px;
    margin: 13px auto; } }
@media only screen and (min-width: 400px) and (max-width: 400px) {
  .virtual-image {
    width: 60px;
    height: 60px;
    margin: 8px auto; } }
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .virtual-image {
    width: 40px;
    height: 40px;
    margin: 8px auto; } }
@media only screen and (min-width: 200px) and (max-width: 300px) {
  .virtual-image {
    width: 40px;
    height: 40px;
    margin: 8px auto; } }
@media only screen and (max-width: 200px) {
  .virtual-image {
    width: 40px;
    height: 40px;
    margin: 8px auto; } }
/*end img*/
/*background image*/
.bg-img-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

/*end background image*/
/*nav*/
.horizontal-nav li, .horizontal-nav a {
  display: inline-block;
  float: left; }

.vertical-nav li, .vertical-nav a {
  display: block; }

.navbar__link--separator {
  border-left: 1px solid #474747;
  margin: 0 5px; }

/*end nav*/
.no-select {
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none; }

/*hover link left*/
.hover-link-left {
  vertical-align: middle; }
  .hover-link-left:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--dark-blue);
    transition: width .3s; }
  .hover-link-left:hover::after {
    width: 100%; }

/*end hover link left*/
/*list*/
.list-unstyle {
  list-style: none; }
.list-circle {
  list-style: circle; }

/*end list*/
/*position*/
.relative {
  position: relative; }

.absolute {
  position: absolute; }
  .absolute-left {
    left: 0; }
  .absolute-right {
    right: 0; }

.fixed-top {
  position: fixed;
  width: 100% !important;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*end position*/
/*search bar*/
.search-bar {
  position: relative;
  width: auto;
  overflow: auto; }
  .search-bar__text {
    position: absolute;
    left: 0;
    background: transparent; }
  .search-bar__btn {
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    height: 100%; }

/*end search bar*/
/*text*/
.text-center {
  text-align: center; }
.text-uppercase {
  text-transform: uppercase; }
.text-lowercase {
  text-transform: lowercase; }

/*end text*/
/*button*/
.btn {
  cursor: pointer;
  outline: 0;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .btn-primary {
    font-weight: 550;
    color: #FFF;
    background: #0097ff;
    border: 1px solid #07c;
    box-shadow: inset 0 1px 0 #66bfff; }
  .btn-default {
    border: 0 !important;
    color: #24292e;
    background-color: var(--white);
    font-weight: 550;
    font-size: 14px;
    border: 1px solid var(--less-gray);
    box-sizing: border-box;
    -webkit-transition: box-shadow;
    -o-transition: box-shadow;
    -ms-transition: box-shadow;
    -moz-transition: box-shadow;
    transition: box-shadow;
    -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  .btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--dark-red);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
    .btn-danger:hover {
      background: var(--dark-red); }
  .btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--dark-orange);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
    .btn-warning:hover {
      background: var(--less-orange); }
  .btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--dark-green);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
    .btn-success:hover {
      background: var(--dark-green); }
  .btn-outline {
    color: #888;
    background: #fff;
    border: 1px solid #dedede; }
    .btn-outline:hover {
      color: var(--dark-gray);
      border-color: #979797;
      background-color: var(--less-white); }
  .btn-xl {
    padding: 0 12px;
    font-size: 16px;
    line-height: 40px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 550; }
  .btn-lg {
    padding: 0 10px;
    font-size: 14px;
    line-height: 35px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
  .btn-sm {
    padding: 6px 12px;
    font-size: 13px;
    line-height: 23px; }
  .btn-xs {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 12px; }

/*end button*/
/*splash*/
.splash-screen {
  background: var(--less-white);
  width: 100%;
  height: 100%;
  overflow: auto; }

/*panel*/
.panel {
  width: 100%;
  height: auto;
  overflow: auto;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff; }
  .panel-border-color-primary {
    border-top-color: var(--less-blue); }
  .panel-heading {
    padding: 20px 0 10px; }
    .panel-heading-divider {
      border-bottom: 1px dotted var(--less-gray);
      margin: 0 20px 8px;
      padding-left: 0;
      padding-right: 0; }
    .panel-heading .logo img {
      height: 60px;
      width: 60px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    .panel-heading span h3 {
      padding: 5px 0 2px 0; }
    .panel-heading span h4 {
      padding: 4px 0 6px 0; }
  .panel-body {
    padding: 20px 30px 15px;
    height: auto;
    overflow: hidden; }

/*end panel*/
/*form*/
.form-group {
  width: 100%;
  margin-bottom: 15px;
  float: left; }
  .form-group input[type="text"], .form-group input[type="password"] {
    width: 100%;
    padding: 0 5px; }
    .form-group input[type="text"]:focus, .form-group input[type="password"]:focus {
      outline: none !important;
      border-color: var(--dark-blue); }
  .form-group select {
    padding: 5px 10px;
    min-height: 40px;
    outline: none;
    border-color: var(--less-gray);
    background: #e9ebee; }
  .form-group .row {
    padding: 5px 0; }
  .form-group .form-label {
    position: relative;
    font-size: 13px;
    top: -3px;
    padding: 0 5px; }
  .form-group .lc {
    line-height: 40px;
    font-size: 14px;
    font-weight: 550; }
  .form-group .btn-link {
    margin: 0 5px; }
.form .readonly {
  background: #ddd;
  color: #90949c;
  pointer-events: none; }
.form-log {
  padding: 5px 0; }
.form-control {
  width: 100%;
  display: block;
  min-height: 40px;
  font-size: 13px;
  line-height: 1.428571429;
  background-image: none;
  border: 1px solid #d5d8de;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px  rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px  rgba(0, 0, 0, 0.075);
  -ms-box-shadow: inset 0 1px 1px  rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px  rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px  rgba(0, 0, 0, 0.075);
  -webkit-transition: "border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s";
  -o-transition: "border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s";
  -ms-transition: "border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s";
  -moz-transition: "border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s";
  transition: "border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s"; }
  .form-control:not(.disabled, select) {
    color: #404040;
    background-color: #fff; }
.form-comment {
  position: relative;
  min-height: 40px;
  background: var(--white);
  border: 1px solid var(--less-gray);
  color: #fff !important;
  margin: 0 0 10px 0;
  outline: none;
  -webkit-transition: all;
  -o-transition: all;
  -ms-transition: all;
  -moz-transition: all;
  transition: all;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: ease;
  -o-transition: ease;
  -ms-transition: ease;
  -moz-transition: ease;
  transition: ease;
  -webkit-transition: 0s;
  -o-transition: 0s;
  -ms-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
  -webkit-transition: !important;
  -o-transition: !important;
  -ms-transition: !important;
  -moz-transition: !important;
  transition: !important;
  -webkit-border-radius: 40px;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px; }
  .form-comment .input-text {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 70px 0 20px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    outline: 0;
    border: 0;
    font-size: 13px;
    line-height: 40px; }
  .form-comment__control {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 100%; }
    .form-comment__control .attachment-icons {
      float: left; }
      .form-comment__control .attachment-icons i {
        line-height: 40px;
        color: var(--dark-gray);
        float: left;
        margin: 0 5px;
        float: left; }
    .form-comment__control .btn-submit {
      float: left;
      width: 40px;
      height: 100%;
      border: 0;
      outline: 0;
      background: transparent;
      color: var(--dark-gray); }
      .form-comment__control .btn-submit i {
        line-height: 40px; }
.form-comment--big {
  min-height: 100px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .form-comment--big .input-text {
    line-height: 14px;
    font-size: 13px;
    width: 100% !important;
    padding: 10px 5px !important;
    min-height: 70px;
    height: calc(100% - 40px) !important; }
  .form-comment--big .form-comment__control {
    bottom: 0;
    right: 0;
    height: 40px; }

/*end form*/
/*third party*/
.form-submit .btn, .third-party-login .btn {
  width: 100%; }
.form-submit .btn, .third-party-login .btn {
  padding: 0 !important;
  margin: 0; }

.third-party-login .btn {
  margin-bottom: 10px; }

.third-party-login-line {
  margin-bottom: 12px;
  width: 100%; }

.facebook-btn {
  outline: 0;
  color: #FFF;
  background-color: #3b5999;
  border-color: transparent; }

.google-btn {
  outline: 0;
  color: #FFF;
  background-color: #dd4b39;
  border-color: transparent; }

/*end third party*/
/*icon self-definition*/
.ic {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block; }
  .ic_gui-md {
    background-image: url("../imgs/gui-ic-md.png"); }
  .ic_utl-sm {
    background-image: url("../imgs/m-ic-sm.png"); }
  .ic_utl-md {
    background-image: url("../imgs/m-ic-md.png"); }
  .ic-sm {
    height: 16px;
    width: 16px; }
  .ic-md {
    height: 24px;
    width: 24px; }
  .ic-lg {
    height: 48px;
    width: 24px; }
  .ic_menu-md {
    background-position: 0px 0px; }
  .ic_close-md {
    background-position: 0px -24px; }
  .ic_arwleft-lg {
    background-position: 0px -144px; }
  .ic_arwright-lg {
    background-position: 0px -192px; }
  .ic_arwleft-md {
    background-position: 0px -240px; }
  .ic_arwright-md {
    background-position: 0px -264px; }
  .ic_home-md {
    background-position: 0px -120px; }
  .ic_lock-md {
    background-position: 0px -48px; }
  .ic_user-md {
    background-position: 0px -72px; }
  .ic_forgotpass-md {
    background-position: 0px -288px; }
  .ic_black-lock-md {
    background-position: 0px -504px; }
  .ic_logout-md {
    background-position: 0px -528px; }
  .ic_lock-sm {
    background-position: 0px 0px; }
  .ic_user-sm {
    background-position: 0px -16px; }
  .ic_home-sm {
    background-position: 0px -32px; }
  .ic_search-sm {
    background-position: 0px -48px; }
  .ic_img-sm {
    background-position: 0px -96px; }
  .ic_video-sm {
    background-position: 0px -112px; }
  .ic_img-dir-sm {
    background-position: 0px -128px; }
  .ic_send-sm {
    background-position: 0px -144px; }
  .ic_logout-sm {
    background-position: 0px -192px; }
  .ic_arwup-sm {
    background-position: 0px -192px; }
  .ic_arwdown-sm {
    background-position: 0px -208px; }
  .ic_close-sm {
    background-position: 0px -224px; }
  .ic_vnflag-sm {
    background-position: 0px -240px; }
  .ic_enflag-sm {
    background-position: 0px -256px; }
  .ic_heart-md {
    background-position: 0px 0px; }
  .ic_comment-md {
    background-position: 0px -24px; }
  .ic_news-md {
    background-position: 0px -48px; }
  .ic_members-md {
    background-position: 0px -72px; }
  .ic_photos-md {
    background-position: 0px -96px; }
  .ic_comments-md {
    background-position: 0px -120px; }
  .ic_faqs-md {
    background-position: 0px -144px; }
  .ic_contactus-md {
    background-position: 0px -168px; }
  .ic-circle {
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

/*end icon self-definition*/
.progress-bar {
  min-height: 50px;
  overflow: auto; }
  .progress-bar .dot {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border: 2px solid #979797;
    color: #bebebe;
    background-color: #fff;
    font-size: 16px;
    font-weight: 550;
    text-align: center;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 2; }
  .progress-bar .active {
    background: var(--less-blue);
    color: var(--white); }

.progress-line {
  z-index: 1;
  height: 3px;
  border-radius: 3px;
  width: calc(100% - 4px);
  background: #979797;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  top: 23px;
  bottom: 0;
  z-index: 0; }
  .progress-line__value {
    border-radius: 10px;
    background: var(--less-blue); }
    .progress-line__value--50 {
      width: 50%; }
    .progress-line__value--100 {
      width: 100%; }

.screen-fade {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 999;
  transition: all .5s; }

.message-box {
  background: #fff;
  z-index: 100;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #304E72; }
  .message-box__header {
    padding: 5px 0;
    background: #1F427C;
    border-bottom: 1px solid #416371; }
    .message-box__header .title {
      padding: 0 5px;
      font-size: 1.1rem;
      font-weight: 550;
      font-size: 1rem;
      color: var(--white); }
  .message-box--bg-sky {
    background: #BDD3FB; }
  .message-box__body {
    color: var(--dark-orange);
    padding: 10px 0; }
  .message-box__footer {
    padding-bottom: 20px; }
    .message-box__footer .btn {
      margin: 0 5px;
      display: inline-block; }
    .message-box__footer .yes-btn {
      padding: 5px 20px; }

.box {
  border: 1px solid var(--less-gray); }
  .box:focus {
    border: 1px solid var(--less-orange); }
  .box-sm {
    padding: 10px 0;
    font-size: 20px;
    line-height: 20px;
    margin: 0 5px; }

/*----------------------------------------------End Basic Component----------------------------------------*/
/*===========- FOR HEADER COMPONENT -========*/
/*===- section topbar -===*/
.topbar {
  background: #000;
  line-height: 16px;
  height: 16px;
  padding: 3px;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase; }
  .topbar a {
    font-size: 11px;
    font-weight: 550;
    color: var(--white);
    cursor: pointer; }
  .topbar span {
    float: left;
    display: inline-block; }
  .topbar__img-saved {
    font-weight: 600; }
  .topbar--center {
    font-size: 11px;
    max-width: 300px;
    margin: auto;
    left: 0;
    right: 0;
    color: var(--white); }

/*===- end section topbar -===*/
/*===- section head -===*/
.head {
  height: 60px;
  overflow: hidden;
  background: #ffaa11;
  vertical-align: middle;
  color: var(--default); }
  .head .logo__image img {
    margin: 10px;
    height: 40px;
    width: 40px; }
  .head .account .quickview {
    margin-top: 8px; }
  .head .account span {
    display: inline-block;
    float: right;
    padding: 0 10px; }
  .head .toggle {
    margin: 15px 10px; }
    .head .toggle i {
      line-height: 24px; }
  .head .search-box {
    overflow: hidden;
    height: 100%; }
  .head .search-bar {
    height: 30px;
    margin: 15px 0;
    background: #fff;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden; }
    .head .search-bar:focus-within input {
      border-color: var(--less-blue); }
    .head .search-bar__text {
      height: 100%;
      -webkit-border-radius: 2px 0 0 2px;
      -o-border-radius: 2px 0 0 2px;
      -ms-border-radius: 2px 0 0 2px;
      -moz-border-radius: 2px 0 0 2px;
      border-radius: 2px 0 0 2px;
      font-size: 13px;
      text-overflow: ellipsis;
      padding: 0 5px;
      width: calc(100% - 50px);
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      border: 1px solid #ccc; }
    .head .search-bar__btn {
      background: #f8f8f8;
      -webkit-border-radius: 0 2px 2px 0;
      -o-border-radius: 0 2px 2px 0;
      -ms-border-radius: 0 2px 2px 0;
      -moz-border-radius: 0 2px 2px 0;
      border-radius: 0 2px 2px 0;
      height: 100%;
      width: 50px;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 0;
      outline: 0;
      text-align: center;
      cursor: pointer; }

/*responsive head*/
@media only screen and (min-width: 800px) {
  .head .toggle {
    display: none; } }
@media only screen and (max-width: 800px) {
  .head .toggle {
    display: block; }

  .topbar {
    display: none; } }
/*end responsive*/
/*===- end section head -===*/
/*===- section mainbar -===*/
.menu {
  background: #a60c19;
  font-weight: 550;
  font-family: var(--font-primary);
  outline: 0; }
  .menu a {
    line-height: 20px;
    font-size: 13px;
    padding: 6px 12px;
    white-space: nowrap;
    color: var(--less-white); }
    .menu a:hover {
      background: #8e0b16; }
  .menu ul li.active {
    background: #8e0b16; }
  .menu ul {
    width: auto; }

/*responsive mainbar*/
@media only screen and (max-width: 800px) {
  .menu {
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 50px;
    opacity: 1; }
    .menu--hide {
      display: none; }
    .menu ul {
      padding: 0 20px;
      width: calc(100% - 40px);
      height: auto;
      overflow: auto; }
    .menu li, .menu a {
      width: 100%;
      padding: 5px 0;
      margin: 0 !important;
      border-right: 0 !important;
      border-left: 0 !important; }
    .menu ul li.active {
      background-color: transparent !important; }
      .menu ul li.active a {
        color: rgba(255, 255, 255, 0.4) !important; }
    .menu li:not(:last-child) {
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.3); }
    .menu li:hover a {
      color: rgba(255, 255, 255, 0.4) !important;
      background-color: transparent !important; }
    .menu a:after, .menu a:before {
      width: 0 !important; } }
/*end responsive mainbar*/
/*===- end section mainbar -===*/
/*===- section slide -===*/
.slider {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .slider__container {
    height: auto;
    width: 100%;
    overflow: hidden; }
  .slider__track {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: auto;
    transform: translate3d(0px, 0px, 0px); }
  .slider__item {
    overflow: auto;
    height: auto;
    display: inline-block;
    float: left;
    clear: none; }
    .slider__item-hover:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); }
    .slider__item a {
      width: 100%;
      height: 100%;
      overflow: auto; }
    .slider__item img {
      width: 100%;
      outline: 0;
      border: 0;
      height: auto; }
  .slider__control .prev-next-btn {
    cursor: pointer;
    transition: all 1s; }
  .slider__control--center .prev-btn {
    left: 5px; }
  .slider__control--center .next-btn {
    right: 5px; }
  .slider__dots {
    height: auto;
    overflow: auto;
    margin-top: 5px;
    padding: 10px 0;
    width: 100%; }
    .slider__dots .dot {
      height: 10px;
      width: 10px;
      background: rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      margin: 0 5px;
      cursor: pointer; }
      .slider__dots .dot:not(.active):hover {
        background: var(--less-blue); }
    .slider__dots .active {
      background: var(--dark-blue); }

/*responsive slide*/
/*end responsive slide*/
/*===- end section slide -===*/
/*=================- END FOR HEADER COMPONENT -================*/
/*==============- FOR BODY COMPONENT -================*/
/*=======- some primary component -=======*/
/*===- list image -===*/
.image-list {
  height: auto;
  width: 100%;
  overflow: auto;
  clear: both; }
.image-card {
  vertical-align: middle;
  overflow: hidden;
  border: none;
  height: auto;
  float: left;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .image-card--bg-skin {
    background: var(--skin); }
    .image-card--bg-skin:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.image-hover-blur img:hover {
  -webkit-filter: opacity(60%);
  filter: opacity(60%); }

.card__img-cover {
  overflow: hidden; }
.card__padding {
  padding: 10px; }
  .card__padding h3 {
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 1.1rem;
    font-size: .95rem; }
.card__details .details__title {
  padding: 5px 0;
  color: var(--dark-blue); }
.card__details .details__description {
  color: #888;
  overflow: auto;
  padding: 5px 0;
  font-size: .8rem;
  height: auto; }
.card__control {
  padding: 8px 0; }
  .card__control a {
    margin: 0 5px;
    color: #fff; }
.card__footer {
  padding: 5px 0; }
  .card__footer .card-carer span {
    line-height: 24px;
    color: var(--dark-gray); }
  .card__footer .card-comment {
    float: right; }
    .card__footer .card-comment span {
      line-height: 24px;
      color: var(--dark-gray); }

.image-list .image-card {
  margin-bottom: 5px;
  transition: all 0.1s; }
.image-list--datatable .card__padding {
  padding: 3px !important; }
.image-list--datatable .details__title {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-height: 1.2rem;
  /* fallback */
  max-height: 1.3rem;
  /* fallback */
  height: 1.3rem; }
.image-list--datatable .details__description {
  font-size: 12px; }
.image-list--extra-large .image-card {
  padding: 0; }
  .image-list--extra-large .image-card .card__img-cover img {
    max-height: 140px;
    overflow: hidden; }

@media only screen and (min-width: 1000px) {
  .image-list--datatable img {
    height: 100px; }
  .image-list--datatable .image-card {
    width: calc(16.67% - 3px);
    margin-bottom: 3px; }
    .image-list--datatable .image-card:not(:nth-child(6n+6)) {
      margin-right: 3px; } }
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .image-list--datatable .image-card {
    width: calc(16.67% - 3px);
    margin-bottom: 3px; }
    .image-list--datatable .image-card:not(:nth-child(6n+6)) {
      margin-right: 3px; }
  .image-list--datatable img {
    height: 100px; } }
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .image-list--datatable .image-card {
    width: calc(25% - 2.8px);
    margin-bottom: 4px; }
    .image-list--datatable .image-card:not(:nth-child(4n+1)) {
      margin-left: 3px; }
    .image-list--datatable .image-card:nth-child(4n+1) {
      clear: both; }
  .image-list--datatable img {
    height: 120px; } }
@media only screen and (min-width: 600px) {
  .image-list--small-not-auto-response .image-card {
    width: calc(20% - 3px);
    margin-bottom: 4px;
    height: 100px; }
    .image-list--small-not-auto-response .image-card:not(:nth-child(5n+1)) {
      margin-left: 3px; }
    .image-list--small-not-auto-response .image-card:nth-child(5n+1) {
      clear: both; } }
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .image-list--datatable .image-card {
    width: calc(33.33% - 3px);
    margin-bottom: 4px; }
    .image-list--datatable .image-card:not(:nth-child(3n+1)) {
      margin-left: 4px; }
    .image-list--datatable .image-card:nth-child(3n+1) {
      clear: both; }
  .image-list--datatable img {
    height: 110px; }
  .image-list--datatable .details__title {
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-height: 1.2rem;
    /* fallback */
    max-height: 1.2rem;
    /* fallback */
    height: 1.15rem; }
  .image-list--datatable .details__description {
    font-size: 12px; }
  .image-list--small-not-auto-response .image-card {
    height: 110px;
    width: calc(25% - 3px);
    margin-bottom: 3px; }
    .image-list--small-not-auto-response .image-card:not(:nth-child(4n+1)) {
      margin-left: 3px; }
    .image-list--small-not-auto-response .image-card:nth-child(4n+1) {
      clear: both; } }
@media only screen and (max-width: 400px) {
  .card__padding {
    padding: 5px 0; }

  .image-list--datatable .image-card {
    width: calc(50% - 3px);
    margin-bottom: 4px; }
    .image-list--datatable .image-card:not(:nth-child(2n+1)) {
      margin-left: 4px; }
    .image-list--datatable .image-card:nth-child(2n+1) {
      clear: both; }
  .image-list--datatable img {
    height: 120px; }
  .image-list--datatable .details__title {
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-height: 1.2rem;
    /* fallback */
    max-height: 1.3rem;
    /* fallback */
    height: 1.3rem; }
  .image-list--datatable .details__description {
    font-size: 12px; } }
@media only screen and (min-width: 400px) and (max-width: 400px) {
  .image-list--small-not-auto-response .image-card {
    height: 80px;
    width: calc(20% - 3px);
    margin-bottom: 3px; }
    .image-list--small-not-auto-response .image-card:not(:nth-child(5n)) {
      margin-right: 3px; }
    .image-list--small-not-auto-response .image-card:nth-child(5n+6) {
      clear: both; } }
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .image-list--small-not-auto-response .image-card {
    height: 60px;
    width: calc(20% - 3px);
    margin-bottom: 3px; }
    .image-list--small-not-auto-response .image-card:not(:nth-child(5n)) {
      margin-right: 3px; }
    .image-list--small-not-auto-response .image-card:nth-child(5n+6) {
      clear: both; } }
@media only screen and (min-width: 200px) and (max-width: 300px) {
  .image-list--small-not-auto-response .image-card {
    height: 60px;
    width: calc(25% - 3px);
    margin-bottom: 3px; }
    .image-list--small-not-auto-response .image-card:not(:nth-child(5n)) {
      margin-right: 3px; }
    .image-list--small-not-auto-response .image-card:nth-child(5n+6) {
      clear: both; } }
@media only screen and (max-width: 200px) {
  .image-list--small-not-auto-response .image-card {
    height: 60px;
    width: calc(33.33% - 3px);
    margin-bottom: 3px; }
    .image-list--small-not-auto-response .image-card:not(:nth-child(3n)) {
      margin-right: 3px; }
    .image-list--small-not-auto-response .image-card:nth-child(3n+4) {
      clear: both; } }
/*===- end list image -===*/
/*===- section impressive-image-shortcuts -===*/
.impressive-photos {
  width: 100%;
  height: auto;
  overflow: hidden; }
  .impressive-photos .slider__item a, .impressive-photos .slider__item .image-card {
    width: 100%;
    height: auto;
    overflow: auto; }
  .impressive-photos .slider__item .image-card {
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .impressive-photos .slider__item .card__img-cover img {
    width: 100%;
    height: 150px;
    overflow: hidden; }

/*===- end section intro-image-shortcuts -===*/
/*===- load more -===*/
.section-seemore {
  padding: 5px 0; }
  .section-seemore .btn {
    padding: 10px 60px; }

/*===- end load more -===*/
/*=========- end some primary component -=======*/
.section-heading {
  margin: 10px auto 0;
  padding: 10px 0;
  height: auto;
  overflow: auto;
  color: var(--default);
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .section-heading h5 {
    font-size: 20px;
    font-weight: 550;
    color: var(--less-red);
    padding: 0 20px;
    text-transform: lowercase; }
  .section-heading a.see-more {
    text-decoration: underline;
    color: var(--less-blue);
    text-transform: lowercase;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px; }
  .section-heading ul {
    height: auto;
    overflow: auto; }
  .section-heading .btn {
    margin: 0 4px;
    font-size: 14px;
    color: var(--dark-gray);
    border-color: var(--less-gray);
    -webkit-transition: all;
    -o-transition: all;
    -ms-transition: all;
    -moz-transition: all;
    transition: all;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
    -webkit-transition: ease;
    -o-transition: ease;
    -ms-transition: ease;
    -moz-transition: ease;
    transition: ease; }
    .section-heading .btn:not(.active):hover {
      background: var(--less-gray);
      color: var(--default);
      border-color: var(--default); }
  .section-heading .active {
    background: var(--less-blue);
    color: #fff;
    border-color: var(--dark-blue);
    font-weight: 600; }
  .section-heading li {
    margin: 0 5px; }
    .section-heading li .btn:hover {
      background: var(--less-blue);
      color: #fff;
      border-color: var(--dark-blue); }
  .section-heading__sort .select {
    padding: 5px 10px;
    background-color: var(--less-white);
    border-color: var(--less-gray);
    outline: none; }

/*responsive heading*/
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .section-heading {
    margin: 30px auto 0; } }
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .section-heading {
    margin: 20px auto 0; }
    .section-heading .btn, .section-heading__sort .select {
      font-size: 13px;
      padding: 4px 6px;
      margin: 0 4px; } }
@media only screen and (max-width: 600px) {
  .section-heading {
    margin: 10px auto 0; }
    .section-heading .btn, .section-heading__sort .select {
      font-size: 12px;
      padding: 2px 3px;
      margin: 0 1px; } }
/*end responsive heading*/
/*===- end section heading -===*/
/*===- section control -===*/
.section-control {
  color: var(--default);
  margin: 5px 0;
  padding: 10px 0; }
  .section-control a {
    color: var(--default); }
  .section-control i {
    line-height: 15px; }
  .section-control span {
    padding: 0 5px;
    line-height: 15px;
    font-size: 15px; }

/*responsive control*/
/*end responsive control*/
/*===- end section control -===*/
/*===- section service -===*/
.services {
  padding: 0 5px;
  height: auto;
  overflow: auto; }
  .services .boxs {
    width: 100%;
    height: auto;
    overflow: auto; }
    .services .boxs .box {
      height: 250px;
      display: inline-block;
      float: left; }
      .services .boxs .box-padding {
        padding: 15% 8% 2%; }
      .services .boxs .box h3, .services .boxs .box h4, .services .boxs .box p, .services .boxs .box a.text-link {
        width: 100%;
        height: auto;
        overflow: auto; }
      .services .boxs .box h3 {
        font-size: 13px;
        letter-spacing: .1em;
        padding: 4px 0; }
      .services .boxs .box h4 {
        font-size: 16px;
        font-weight: 550;
        padding: 2px 0; }
      .services .boxs .box p {
        font-size: 14px;
        padding: 2px 0; }
      .services .boxs .box .link-padding {
        padding: 20px 0;
        width: 100%; }
      .services .boxs .box .text-link {
        font-size: 16px; }
        .services .boxs .box .text-link:hover {
          color: var(--default); }

/*responsive*/
@media only screen and (min-width: 600px) {
  .services {
    width: calc(50% - 11px); }
    .services .slider__dots {
      display: none; }
    .services .slider__track {
      width: 100% !important;
      transform: translate3d(0, 0, 0) !important; }
    .services .boxs {
      background: var(--skin);
      width: calc(100% - 2px);
      border: 1px solid var(--less-gray); }
      .services .boxs .box {
        height: 250px;
        border: 0;
        width: calc(50% - .5px) !important; }
        .services .boxs .box:nth-child(1), .services .boxs .box:nth-child(3) {
          float: left;
          border-right: 1px solid var(--less-gray); }
        .services .boxs .box:nth-child(2), .services .boxs .box:nth-child(4) {
          float: right; }
        .services .boxs .box:nth-child(1), .services .boxs .box:nth-child(2) {
          border-bottom: 1px solid var(--less-gray); } }
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .services {
    height: auto;
    overflow: auto;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    float: center;
    float: none;
    padding: 0; }
    .services .container {
      max-width: 800px;
      margin: 0 auto; } }
@media only screen and (max-width: 600px) {
  .services {
    width: 100%;
    margin: 0;
    padding: 0; }
    .services .slider__dots {
      display: inline-block; }
    .services .box {
      display: inline-block;
      float: left !important;
      height: auto !important; }
    .services .boxs, .services .box {
      border: 0 !important; } }
/*end responsive*/
/*===- end section services -===*/
/*===- section newest video -===*/
.newest-videos {
  width: 50%;
  height: auto;
  overflow: auto;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }
  .newest-videos .main-video-player {
    height: auto;
    overflow: auto;
    width: 100%; }
    .newest-videos .main-video-player__content {
      height: auto;
      overflow-y: hidden;
      overflow-x: auto;
      background: #aaa; }
    .newest-videos .main-video-player__title {
      color: var(--less-blue); }
      .newest-videos .main-video-player__title h5 {
        font-weight: 550; }
    .newest-videos .main-video-player .main-video-source {
      width: 100%; }
  .newest-videos .primary-video-player {
    max-width: 600px;
    margin: auto;
    overflow: hidden; }
    .newest-videos .primary-video-player .prev-next-btn {
      width: auto;
      overflow: auto;
      height: 100%;
      top: -1px;
      padding: 2px 15px;
      bottom: 0;
      margin: auto 0;
      cursor: pointer;
      background: #f5f5f5;
      z-index: 1; }
    .newest-videos .primary-video-player .prev-btn {
      left: 0; }
    .newest-videos .primary-video-player .next-btn {
      right: 0; }
    .newest-videos .primary-video-player__content {
      height: 100%;
      width: 100%; }
      .newest-videos .primary-video-player__content img {
        overflow: hidden;
        width: 100%;
        height: 90px; }
    .newest-videos .primary-video-player .slide__item img:not(.active) {
      transform: scale(0.95); }
    .newest-videos .primary-video-player .slide__item img.active {
      transform: scale(1); }

/*responsive*/
@media only screen and (min-width: 600px) {
  .main-video-source {
    min-height: 340px;
    height: auto; }

  .primary-video-player {
    height: 90px; }
    .primary-video-player .ic {
      margin: 20px 0; }

  .main-video-player__title {
    line-height: 30px;
    font-size: 30px;
    padding: 20px 0; } }
@media only screen and (max-width: 1000px) {
  .newest-videos {
    width: 100%;
    margin: 0;
    padding: 0; } }
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .newest-videos .container {
    max-width: 600px;
    margin: 0 auto; }

  .main-video-source {
    max-width: 600px;
    margin: 0 auto; }

  .primary-video-player {
    height: 90px; }
    .primary-video-player .ic {
      margin: 20px 0; } }
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .primary-video-player {
    height: 70px; }
    .primary-video-player .ic {
      margin: 10px 0; }

  .main-video-player__title {
    line-height: 20px;
    font-size: 20px;
    padding: 15px 0; } }
@media only screen and (max-width: 400px) {
  .primary-video-player {
    height: 60px; }
    .primary-video-player .ic {
      margin: 6px 0; }

  .main-video-player__title {
    line-height: 16px;
    font-size: 16px;
    padding: 10px 0; } }
/*end responsive*/
/*===- end section newest video -===*/
/*===- section nav left -===*/
.section-navleft {
  float: left; }
  .section-navleft li {
    margin-top: 5px;
    height: auto;
    overflow: auto;
    font-size: 12px;
    font-weight: 550;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    .section-navleft li a {
      float: left;
      width: 100%;
      padding: 5px 0;
      height: auto;
      overflow: auto;
      font-weight: 690;
      cursor: pointer; }
    .section-navleft li span {
      line-height: 24px;
      width: calc(100% - 25px); }
    .section-navleft li:not(.heading):hover {
      background: var(--skin); }
    .section-navleft li:not(.heading) a {
      color: var(--default); }
  .section-navleft .heading {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase; }
  .section-navleft .toggle {
    font-size: 13px;
    font-weight: 550;
    line-height: 30px; }
    .section-navleft .toggle i {
      margin-top: 8px; }
  .section-navleft .active {
    background: var(--skin); }
    .section-navleft .active a {
      color: black !important; }
  .section-navleft .icon {
    margin: 3px;
    float: left; }

/*responsive*/
/*end responsive*/
/*===- end section nav left -===*/
/*===- section center -===*/
.section-center {
  float: left;
  height: auto;
  overflow: auto; }

/*===- end section center -===*/
/*===- section post -===*/
.quickview {
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }
  .quickview img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none; }
  .quickview--center {
    margin: 0 auto; }
  .quickview-lg {
    width: 56px;
    height: 56px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .quickview-md {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--less-gray); }
  .quickview-sm {
    width: 30px;
    height: 30px;
    margin: 0 5px; }

.quickview-properties {
  height: auto;
  overflow: auto;
  float: left; }
  .quickview-properties-lg {
    width: calc(100% - 60px); }
  .quickview-properties-md {
    width: calc(100% - 52px); }

.post {
  border: 1px solid var(--less-gray);
  width: calc(100% - 2px);
  font-family: inherit;
  background: var(--white);
  height: auto;
  overflow: hidden;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-weight: bold; }
  .post__control {
    background-color: #eaebec;
    padding: 10px 0;
    height: auto;
    overflow: auto;
    border-bottom: 1px solid var(--less-gray);
    font-size: 11px; }
    .post__control ul {
      padding: 0 10px; }
      .post__control ul .separator {
        margin: 0 5px;
        color: var(--less-gray); }
      .post__control ul li {
        color: var(--dark-gray);
        cursor: pointer; }
        .post__control ul li.active {
          color: var(--default); }
  .post__body {
    margin-top: 10px;
    width: 100%;
    height: auto;
    overflow: auto; }
    .post__body .quickview-properties textarea {
      width: 100%;
      height: auto;
      overflow: hidden;
      border: none;
      outline: 0;
      font-family: var(--font-primary); }
    .post__body .title {
      padding: 5px 0 10px 10px;
      width: calc(100% - 10px) !important;
      overflow: hidden; }
    .post__body .tag {
      border-top: 1px solid var(--less-gray);
      font-size: 13px; }
      .post__body .tag__title {
        background: #f9f9f9;
        font-weight: 500;
        padding: 10px 5px;
        min-width: 50px; }
      .post__body .tag__content {
        font-size: 13px;
        padding: 11px 5px;
        width: calc(100% - 60px); }
        .post__body .tag__content:focus {
          border: 0; }
  .post__images {
    padding: 10px 0;
    height: auto;
    overflow: auto;
    border-top: 1px solid var(--less-gray); }
  .post__footer {
    padding: 5px 0;
    width: 100%;
    height: auto;
    overflow: auto;
    border-top: 1px solid var(--less-gray); }
    .post__footer i {
      margin: 10px; }
    .post__footer .btn {
      outline: 0;
      font-weight: 550;
      margin: 0 5px; }

.post .image-list {
  float: left;
  width: 100%;
  height: auto;
  overflow: auto; }
.post .image-simple-item {
  overflow: hidden;
  float: left;
  border: none;
  outline: 0; }
.post .image__icon-close {
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  font-size: 13px;
  z-index: 10;
  color: var(--white); }

/*responsive*/
/*end responsive*/
/*===- end section post -===*/
/*===- section article -===*/
.article-item {
  height: auto;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background: var(--white);
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid var(--less-gray);
  padding: 0 10px;
  width: calc(100% - 22px); }
.article__heading {
  margin-top: 10px;
  width: 100%;
  height: auto;
  overflow: auto;
  height: auto;
  overflow: auto; }
  .article__heading .avatar {
    width: 62px;
    height: auto;
    overflow: auto;
    float: left; }
  .article__heading .author {
    width: calc(100% - 65px);
    height: auto;
    overflow: auto;
    float: left; }
    .article__heading .author h3 {
      font-size: 15px; }
.article__properties {
  padding: 10px 0;
  font-size: 13px;
  color: var(--dark-gray);
  width: 100%;
  height: auto;
  overflow: auto; }
  .article__properties .like-count span, .article__properties .comment-count span {
    line-height: 24px; }
.article__control {
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid var(--less-gray);
  overflow: auto; }
  .article__control .btn {
    background: var(--white);
    color: var(--default);
    outline: 0;
    border: none;
    line-height: 20px; }
  .article__control .like-btn i {
    color: var(--less-red); }
  .article__control .comment-btn i {
    color: var(--dark-gray); }
.article__body {
  font-size: 14px;
  padding: 10px 0; }
.article__footer {
  border-top: 1px solid var(--less-gray); }
  .article__footer .btn-submit {
    width: 40px;
    display: inline-block;
    overflow: hidden;
    line-height: 24px;
    text-align: center;
    padding: 5px 0;
    margin: 0 2px;
    border: none;
    outline: 0; }
    .article__footer .btn-submit i {
      margin: 8px 0; }

/*responsive*/
/*end responsive*/
/*===- end section article -===*/
/*===- comment -===*/
.comment {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 100%; }
  .comment__heading {
    padding: 5px 0;
    height: auto;
    overflow: auto; }
  .comment__control {
    font-size: 12px;
    padding: 3px 0; }
  .comment__body {
    margin-bottom: 5px; }
    .comment__body p {
      padding: 0 5px; }

.parent-form {
  margin: 10px 0; }

/*responsive*/
/*end responsive*/
/*===- end comment -===*/
/*===- section right -===*/
.recent-photos .heading, .proposed-group .heading {
  margin: 5px 0 10px;
  font-weight: 550;
  font-size: 14px;
  color: var(--dark-red); }
  .recent-photos .heading .h3, .proposed-group .heading .h3 {
    padding: 0 5px; }

.recent-photos .preview-image {
  height: auto; }

.preview-image-details {
  float: left;
  width: 100%;
  height: auto;
  overflow: auto; }
  .preview-image-details--padding {
    padding: 10px 5px; }
  .preview-image-details h3 {
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 1.3rem;
    font-size: 13px; }
  .preview-image-details p {
    font-size: 11px;
    color: var(--dark-gray); }

/*responsive*/
@media only screen and (max-width: 1000px) {
  .section-right {
    width: 100% !important; } }
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .section-right {
    float: left;
    margin: 0;
    width: 100%; } }
@media only screen and (max-width: 600px) {
  .preview-image-details h3 {
    font-size: 12px; }
  .preview-image-details p {
    font-size: 11px; } }
@media only screen and (max-width: 400px) {
  .preview-image-details--padding {
    padding: 5px 0; }
  .preview-image-details h3 {
    font-size: 11px; }
  .preview-image-details p {
    font-size: 10px; } }
/*end responsive*/
/*===- end section right -===*/
/*datatable*/
.datatable {
  padding: 0;
  margin: 0;
  outline: 0;
  border-spacing: 0;
  border: 0; }
  .datatable tr.title {
    background: #36304a;
    color: #fff;
    font-weight: 550;
    font-size: 11px; }
  .datatable tr:not(.title) {
    color: var(--default);
    font-size: 12px; }
  .datatable tr.even {
    background-color: #f5f5f5; }
  .datatable tr:not(.even, .title) {
    background-color: #cdcdcd; }

.table-border-gray {
  border-bottom: 1px solid var(--less-gray);
  border-right: 1px solid var(--less-gray); }
  .table-border-gray th, .table-border-gray td {
    padding: 5px 4px;
    border-top: 1px solid var(--less-gray);
    border-left: 1px solid var(--less-gray); }

.widget-box {
  background: none repeat scroll 0 0 #F9F9F9;
  border-left: 1px solid #CDCDCD;
  border-top: 1px solid #CDCDCD;
  border-right: 1px solid #CDCDCD;
  clear: both;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative; }
.widget-title {
  height: 30px;
  line-height: 30px;
  color: #222;
  background-color: #ddd;
  border-bottom: 1px solid #CDCDCD; }
  .widget-title .icon {
    height: 100%;
    border-right: 1px solid #CDCDCD; }
    .widget-title .icon i {
      padding: 0 10px;
      line-height: 30px; }
  .widget-title h5 {
    padding: 0 5px; }
.widget-content ul li:not(:last-child) {
  border-bottom: 1px dotted #AEBDC8; }

/*=================- END FOR BODY COMPONENT -================*/
/*===================- FOR FOOTER COMPONENT -=================*/
.footer {
  height: auto;
  width: 100%;
  overflow: auto; }
  .footer hr {
    border-top: 1px solid #ddd; }

/*===- section block -===*/
.blocks {
  background-color: #f7f7f7;
  color: var(--default);
  clear: both;
  width: 100%;
  padding: 20px 0; }
  .blocks .footer__logo {
    padding: 5px 0;
    height: 100px;
    width: 130px;
    margin-left: auto;
    margin-right: auto; }
  .blocks .block {
    height: auto;
    overflow: auto;
    float: left;
    margin-bottom: 10px; }
    .blocks .block h4, .blocks .block h2 {
      color: var(--default);
      padding: 10px 0; }
    .blocks .block h2 {
      font-size: 24px; }
    .blocks .block h4 {
      width: 100%;
      height: auto;
      overflow: auto;
      font-size: 16px; }
    .blocks .block p {
      font-size: 13px; }
    .blocks .block a {
      color: var(--default);
      text-decoration: none;
      font-size: 14px; }
      .blocks .block a:hover {
        text-decoration: underline; }

/*responsive block*/
@media only screen and (min-width: 1200px) {
  .footer .block {
    width: calc(20% - 20px);
    padding: 0 10px; } }
@media only screen and (max-width: 1200px) {
  .footer .about-us-block {
    text-align: center;
    width: 100%;
    clear: both; } }
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .footer .block:not(.about-us-block) {
    width: calc(25% - 10px);
    padding: 0 5px; } }
@media only screen and (max-width: 600px) {
  .footer .block:not(.about-us-block) {
    width: calc(50% - 10px);
    padding: 0 5px; }
  .footer .block:nth-child(5n-1) {
    clear: both; } }
/*end responsive block*/
/*===- end section block -===*/
/*===- section copyright -===*/
.copyright {
  background: #111;
  color: #eee;
  padding: 20px 0; }
  .copyright a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none; }

/*responsive copyright*/
@media only screen and (max-width: 600px) {
  .copyright p {
    text-align: center;
    float: none; } }
/*end responsive copyright*/
/*===- end section copyright -===*/
/*===================- END FOR FOOTER COMPONENT -==================*/
/*===================- PAGING -==================*/
.paging {
  display: flex;
  justify-content: center; }
  .paging a {
    color: var(--dark-gray); }
  .paging ul li {
    margin: 0 5px;
    -webkit-transition: "all .5s";
    -o-transition: "all .5s";
    -ms-transition: "all .5s";
    -moz-transition: "all .5s";
    transition: "all .5s";
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .paging ul li:not(.disable) {
      padding: 4px 8px;
      border: solid 1px #c0c0c0;
      background: #e9e9e9;
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8), 0px 1px 3px rgba(0, 0, 0, 0.1); }
    .paging ul li:not(.active):not(.disable):hover {
      background: #fefefe;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
      background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0); }
    .paging ul li.active {
      color: #f0f0f0;
      border-color: var(--default);
      background: var(--default);
      box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.8);
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }
      .paging ul li.active a {
        color: #f0f0f0; }

/*===================- END PAGING -==================*/
.animated {
  transition: transform .5s; }

.transition--veryfast {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

/*====== -FOR ALL- =======*/
/* -HEADER- */
/* -END HEADER- */
/* -BODY- */
/* -END BODY- */
/* -FOOTER- */
/* -END FOOTER- */
/*====== -END FOR ALL- =======*/
/*====== -homepage- ========*/
/* -HEADER- */
/* -END HEADER- */
/* -BODY- */
.multi-purpose {
  width: 100%;
  height: auto;
  overflow: hidden; }

/* -END BODY- */
/* -FOOTER- */
/* -END FOOTER- */
/*====== -end homepage- ========*/
/*====== -community page- ========*/
/* -HEADER- */
/* -END HEADER- */
/* -BODY- */
.section-navleft {
  width: 200px; }

.section-center {
  margin: 0 10px;
  width: calc(600px - 20px); }

#virtualCard {
  background: var(--white); }

#listCard .image-card:hover .icon-close {
  background: rgba(0, 0, 0, 0.6); }

.section-right {
  float: left;
  margin-bottom: 10px;
  width: calc(100% - 800px); }

/* -END BODY- */
/* -FOOTER- */
/* -END FOOTER- */
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .section-center {
    width: calc(100% - 220px); } }
@media only screen and (min-width: 800px) {
  .section-navleft .toggle {
    display: none; } }
@media only screen and (max-width: 800px) {
  .section-navleft {
    margin-top: 0;
    width: 100%; }
    .section-navleft__info, .section-navleft__support {
      display: none;
      cursor: pointer; }
    .section-navleft .toggle {
      display: block; }
    .section-navleft__management--hide {
      display: none; }

  .section-center {
    width: 100%;
    margin: 0; }
    .section-center .post, .section-center .article {
      height: auto; } }
@media only screen and (max-width: 600px) {
  .section-center {
    width: 100%;
    margin: 0; } }
/*====== -end community page- ========*/
