@import 'custom_library.scss';
@import 'responsive.scss';
@import 'basic.scss';
@import 'component.scss';
@import 'animated.scss';

/*====== -FOR ALL- =======*/

/* -HEADER- */

/* -END HEADER- */

/* -BODY- */
.body{

}
/* -END BODY- */

/* -FOOTER- */

/* -END FOOTER- */

/*====== -END FOR ALL- =======*/


/*====== -homepage- ========*/

//section main slide
#MainSlider{

}
//end section main slide


	/* -HEADER- */

	/* -END HEADER- */

	/* -BODY- */

	//section intro image-shortcuts
	.newest-photos{

	}
	//end section intro-image-shortcuts

	//section impressive-image-shortcuts
	.impressive-photos{
	}
	//end section intro-image-shortcuts

	//section multi-purpose
	.multi-purpose{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	//end section multi-purpose

	/* -END BODY- */

	/* -FOOTER- */

	/* -END FOOTER- */

/*====== -end homepage- ========*/


/*====== -community page- ========*/

	/* -HEADER- */

	/* -END HEADER- */

	/* -BODY- */

	//section left
	.section-navleft{
		width: 200px;
	}
	//end section left

	//section center
	.section-center{
		margin: 0 10px;
		width: calc(600px - 20px);
	}
	#virtualCard{
		background: var(--white);;
	}
	#listCard{
		.image{
			&-card{
				&:hover .icon-close{
					background: rgba(0,0,0,.6);
				}
			}
		}
	}
	//end section center

	//section right
	.section-right{
		float: left;
		margin-bottom: 10px;
		width: calc(100% - 800px);

	}
	.proposed-group{
		.image-card{
		}
	}
	//end section right

	/* -END BODY- */

	/* -FOOTER- */

	/* -END FOOTER- */
@media only screen and(min-width:  $large-screen) and (max-width: $extra-large-screen){


}
@media only screen and(max-width: $large-screen){

}
@media only screen and(min-width:  $medium-screen) and(max-width: $large-screen){
	.section-center{
		width: calc(100% - 220px);
	}
}
@media only screen and (min-width: $medium-screen){
	.section-navleft{
		.toggle{
			display: none;
		}
	}
}

@media only screen and (max-width: $medium-screen){
	.section-navleft{
		margin-top: 0;
		width: 100%;
		&__info, &__support{
			display: none;
			cursor: pointer;
		}
		.toggle{
			display: block;
		}
		&__management{
			&--hide{
				display: none;
			}
		}
	}
	.section-center{
		width: 100%;
		margin: 0;
		.post,.article{
			height: auto;
		}
	}
}
@media only screen and (max-width: $small-screen){
	.section-center{
		width: 100%;
		margin: 0;
	}
}
/*====== -end community page- ========*/
