.main-1200 { max-width: 1200px; }
.main-600 { max-width: 600px; }
.main-400 { max-width: 400px; }

.main-1200, .main-600, .main-400 { margin: 0 auto; height: auto; overflow: auto; }

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 { float: left; }

/*row*/
.row { width: 100%; height: auto; overflow: auto; clear: both; }

* { margin: 0; padding: 0; }

/*tag body*/
body { font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif; overflow-x: hidden; font-size: 12px; font-weight: 400; color: #1a1a1a; }

/*end tag body*/
/*a tag*/
a { overflow: hidden; text-decoration: none; cursor: pointer; }
a:not(.link-default) { color: #004a80; }

/*end a tag*/
/*tag form*/
form h1, form .h1, form h2, form .h2, form h3, form .h3 { font-size: 18px; }
form h4, form .h4, form h5, form .h5, form h6, form .h6 { margin-top: 15px; margin-bottom: 10px; }
form h5, form .h5 { font-size: 13px; }
form h4, form .h4, form h5, form .h5, form h6, form .h6 { margin-top: 9px; margin-bottom: 9px; }
form h1, form h2, form h3, form h4, form h5, form h6, form .h1, form .h2, form .h3, form .h4, form .h5, form .h6 { font-family: inherit; font-weight: 550; line-height: 1.1; color: inherit; }

/*end tag form*/
/*tag i*/
i { cursor: pointer; }

/*end tag i*/
/*----------------------------------------------Basic Component----------------------------------------*/
/*label*/
.label-danger { height: auto; padding: 5px 0; text-align: center; color: #fa1515; }

/*end label*/
/*hide*/
.hide { display: none; }

/*hide*/
/*pull*/
.pull-left { float: left; }
.pull-right { float: right; }

/*end pull*/
/*img*/
.img-fill { width: 100%; height: 100%; }
.img-responsive { width: 100%; height: auto; overflow: auto; }

.virtual-image { margin: auto; border: 2px dashed #dddddd; width: 80%; height: 120px; margin: 13px; cursor: pointer; }
.virtual-image img { height: 40px; width: 40px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }

/*end img*/
/*background image*/
.bg-img-center { background-repeat: no-repeat; background-size: cover; background-position: center center; }

/*end background image*/
/*nav*/
.horizontal-nav li, .horizontal-nav a { display: inline-block; float: left; }

.vertical-nav li, .vertical-nav a { display: block; }

.navbar__link--separator { border-right: 1px solid #dddddd; margin: 0 5px; }

/*end nav*/
/*hover link left*/
.hover-link-left { vertical-align: middle; }
.hover-link-left:after { content: ''; display: block; width: 0; height: 2px; background: #004a80; transition: width .3s; }
.hover-link-left:hover::after { width: 100%; }

/*end hover link left*/
/*list*/
.list-unstyle { list-style: none; }
.list-circle { list-style: circle; }

/*end list*/
/*position*/
.relative { position: relative; }

.absolute { position: absolute; }
.absolute-left { left: 0; top: 0; bottom: 0; margin: auto 0; }
.absolute-right { right: 0; top: 0; bottom: 0; margin: auto 0; }
.absolute-center { right: 0; left: 0; top: 0; bottom: 0; margin: auto; }

.fixed-top { position: fixed; width: 100% !important; top: 0; z-index: 1000; }

/*end position*/
/*search bar*/
.search-bar { position: relative; width: auto; overflow: auto; }
.search-bar__text { height: 100%; position: absolute; left: 0; height: 100%; background: transparent; }
.search-bar__btn { position: absolute; height: 100%; width: auto; right: 0; height: 100%; }

/*end search bar*/
/*text*/
.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }

/*end text*/
/*button*/
.btn { cursor: pointer; outline: 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif; }
.btn-primary { color: #fff; background-color: #07c; border: 1px solid #004a80; -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe; -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe; box-shadow: inset 0px 1px 0px 0px #97c4fe; background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0)); background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%); background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%); background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%); background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%); background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0); border: 1px solid #337fed; display: inline-block; cursor: pointer; color: #ffffff; font-family: Arial; font-weight: bold; text-decoration: none; text-shadow: 0px 1px 0px #1570cd; }
.btn-primary:hover { background: #07c; background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6)); background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%); background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%); background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%); background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%); background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0); }
.btn-default { color: #1a1a1a; background-color: #dddddd; border: 1px solid #666; }
.btn-default:hover { background: transparent; }
.btn-danger { color: #fff; background-color: #fa1515; border: 1px solid #d43f3a; }
.btn-danger:hover { background: #d43f3a; }
.btn-success { color: #fff; background-color: #4cae4c; border: 1px solid #5cb85c; }
.btn-success:hover { background: #5cb85c; }
.btn-outline { background: #f2f2f2; color: #666; border: 1px solid #dddddd; }
.btn-outline:hover { border-color: #666; color: #1a1a1a; }
.btn-xl { padding: 0 12px; font-size: 16px; line-height: 40px; border-radius: 3px; font-weight: 550; }
.btn-lg { padding: 0 10px; font-size: 14px; line-height: 35px; border-radius: 2px; }
.btn-sm { padding: 6px 12px; font-size: 13px; line-height: 23px; }
.btn-xs { padding: 5px 10px; font-size: 12px; line-height: 12px; }

/*end button*/
/*splash*/
.splash-screen { background: #f2f2f2; width: 100%; height: 100%; overflow: auto; }
.splash-container { margin: 50px auto; }

/*panel*/
.panel { margin-top: 50px; margin-bottom: 30px; background: #fff; width: 100%; height: auto; overflow: auto; border-radius: 3px; }
.panel-border-color { border-top: 3px solid color-less-blue; }
.panel-border-color-primary { border-top-color: #07c; }
.panel-heading { margin-bottom: 20px; padding-top: 40px; padding-bottom: 0; }
.panel-heading-divider { border-bottom: 1px solid #dddddd; margin: 0 20px 8px; padding-left: 0; padding-right: 0; }
.panel-heading .logo { height: auto; width: 100%; overflow: auto; }
.panel-heading .logo img { height: 60px; width: 60px; border-radius: 3px; -webkit-border-radius: 3px; }
.panel-heading span h3 { height: auto; width: 100%; overflow: auto; padding: 5px 0 2px 0; }
.panel-body { padding: 20px 30px 15px; height: auto; overflow: auto; }

/*end panel*/
/*form*/
.form-group { width: 100%; margin-bottom: 20px; float: left; }
.form-group input[type="text"]:focus, .form-group input[type="password"]:focus { outline: none !important; border-color: #004a80; }
.form-group select { padding: 5px 10px; outline: none; border-color: #004a80; }
.form-control { display: block; width: 100%; height: 40px; padding: 10px 12px; font-size: 13px; line-height: 1.428571429; color: #404040; background-color: #fff; background-image: none; border: 1px solid #d5d8de; border-radius: 2px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; }
.form-comment { height: auto; position: relative; overflow: hidden; min-height: 40px; width: 100%; background: #fff; border: 1px solid #dddddd; color: #fff !important; margin: 0 0 10px 0; outline: none; transition: all .3s ease 0s !important; -moz-transition: all .3s ease 0s !important; -o-transition: all .3s ease 0s !important; -webkit-transition: all .3s ease 0s !important; border-radius: 50px; -webkit-border-radius: 50px; }
.form-comment .input-text { height: 100%; width: 100%; overflow: hidden; padding: 0 70px 0 20px; position: absolute; z-index: 1; left: 0; top: 0; outline: 0; border: 0; font-size: 14px; line-height: 40px; }
.form-comment__control { position: absolute; bottom: 0; right: 0; z-index: 2; height: 100%; }
.form-comment__control .attachment-icons { width: auto; height: 100%; float: left; }
.form-comment__control .attachment-icons i { line-height: 40px; color: #666; float: left; margin: 0 5px; float: left; }
.form-comment__control .btn-submit { float: left; width: 40px; height: 100%; border: 0; outline: 0; background: transparent; color: #666; }
.form-comment__control .btn-submit i { line-height: 40px; }
.form-comment--big { min-height: 100px; border-radius: 10px; }
.form-comment--big .input-text { line-height: 14px; font-size: 13px; width: 100% !important; padding: 10px 5px !important; height: calc(100% - 40px) !important; }
.form-comment--big .form-comment__control { bottom: 0; right: 0; height: 40px; }

/*end form*/
/*third party*/
.login-submit .btn, .third-party-login .btn { width: 100%; }

.third-party-login .btn { margin-bottom: 10px; }

.third-party-login-line { margin-bottom: 12px; width: 100%; }

.facebook-btn { outline: 0; color: #FFF; background-color: #07c; border-color: transparent; }

.google-btn { outline: 0; color: #FFF; background-color: #fa1515; border-color: transparent; }

/*end third party*/
/*icon self-definition*/
.icon { background-position: center center; background-repeat: no-repeat; background-size: cover; }
.icon-arrow-left { background-image: url("../imgs/arrow-left-icon.png"); }
.icon-arrow-right { background-image: url("../imgs/arrow-right-icon.png"); }

/*end icon self-definition*/
/*----------------------------------------------End Basic Component----------------------------------------*/
/*======================================================Reuse Component===========================================================*/
/*+++++++++++++++++++FOR HEADER COMPONENT+++++++++++++++++++++++++*/
/*--------section topbar----------*/
.topbar { padding: 5px 0; background: #111; font-size: 11px; text-transform: uppercase; }
.topbar a { color: #fff; cursor: pointer; }
.topbar__img-saved { font-weight: 700; }
.topbar--center { max-width: 300px; margin: auto; left: 0; right: 0; color: #fff; }

/*--------end section topbar----------*/
/*--------section head----------*/
.head { background: #ee9911; height: auto; overflow: auto; overflow: hidden; line-height: 50px; vertical-align: middle; color: #1a1a1a; }
.head .logo__image img { margin: 5px; height: 40px; width: 40px; }
.head .account img { height: 30px; width: 30px; margin: 10px 5px; border-radius: 50%; float: left; }
.head .account span { display: inline-block; float: right; padding: 0 10px; }
.head .toggle i { line-height: 50px; padding: 0 20px; }
.head .search-bar { height: 30px; margin: 10px 0; background: #fff; overflow: auto; border-radius: 2px; margin: 10px 0; }
.head .search-bar__text { font-size: 14px; text-overflow: ellipsis; padding: 0 5px; width: calc(100% - 40px); border-radius: 2px 0 0 2px; border: 0; outline: 0; }
.head .search-bar__text:focus .search-bar { border: 2px solid #07c; }
.head .search-bar__btn { width: 40px; border: none; outline: 0; border-radius: 0 2px 2px 0; text-align: center; background: transparent; cursor: pointer; }
.head .search-bar__btn i { color: #666; font-size: 20px; line-height: 30px; }

/*responsive head*/
@media only screen and (min-width: 800px) { .head .toggle { display: none; } }
@media only screen and (min-width: 800px) and (max-width: extra-large-screen) { .head .toggle { display: none; } }
@media only screen and (max-width: 800px) { .topbar { display: none; } }
/*end responsive*/
/*--------end section head----------*/
/*---------section mainbar----------*/
.main-bar { background-color: #a60c19; font-size: 12px; font-weight: 550; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; outline: 0; }
.main-bar a { padding: 10px 15px; color: #fff; }
.main-bar a:hover { background-color: #8e0b16; }
.main-bar ul li.active { background-color: #8e0b16; }
.main-bar ul { width: auto; }

/*responsive mainbar*/
@media only screen and (max-width: 800px) { .main-bar { width: 100%; position: absolute; z-index: 100; top: 50px; opacity: 1; }
.main-bar--hide { display: none; }
.main-bar ul { padding: 0 20px; width: calc(100% - 40px); height: auto; overflow: auto; }
.main-bar li, .main-bar a { width: 100%; padding: 5px 0; line-height: 18px; margin: 0 !important; }
.main-bar li.active { color: rgba(255, 255, 255, 0.6) !important; background-color: #a60c19 !important; }
.main-bar li:not(:last-child) { border-bottom: .5px solid #d1d1d1; }
.main-bar a:hover { color: rgba(255, 255, 255, 0.8) !important; background-color: #a60c19; }
.main-bar a:after, .main-bar a:before { width: 0 !important; } }
/*end responsive mainbar*/
/*---------end section mainbar----------*/
/*---------section slide----------------*/
.slide { height: auto; width: 100%; overflow: hidden; position: relative; }
.slide__container { height: auto; width: 100%; overflow: hidden; }
.slide__track { opacity: 1; position: relative; top: 0; left: 0; display: block; height: auto; transform: translate3d(0px, 0px, 0px); }
.slide__item { overflow: auto; height: auto; display: inline-block; float: left; clear: none; }
.slide__item-hover:hover { box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); }
.slide__item a { width: 100%; height: 100%; overflow: auto; }
.slide__item img { width: 100%; outline: 0; border-color: 0; height: auto; }
.slide__control .prev-next-btn { top: 0; bottom: 0; text-align: center; cursor: pointer; transition: all 1s; }
.slide__control--basic .prev-btn { left: 5px; }
.slide__control--basic .next-btn { right: 5px; }
.slide__control--basic .prev-next-btn { color: rgba(0, 0, 0, 0.8); font-size: 30px; height: 30px; width: 30px; margin: auto 10px; border-radius: 50%; padding: 8px; }
.slide__control--basic .prev-next-btn:hover { color: #f2f2f2; background: rgba(0, 0, 0, 0.6); }
.slide__control--no-bgcolor .prev-btn { left: 10px; }
.slide__control--no-bgcolor .next-btn { right: 10px; }
.slide__control--no-bgcolor .prev-next-btn { background: transparent; font-size: 20px; height: 20px; width: 20px; line-height: 20px; margin: auto -10px; padding: 4px; }
.slide__control--no-bgcolor .prev-next-btn:hover { color: rgba(0, 0, 0, 0.4); }
.slide__control .disable { pointer-events: none; opacity: 0.4; }
.slide__dots { height: auto; overflow: auto; margin-top: 5px; padding: 10px 0; width: 100%; }
.slide__dots .dot { height: 10px; width: 10px; background: rgba(0, 0, 0, 0.4); border-radius: 50%; display: inline-block; margin: 0 5px; cursor: pointer; }
.slide__dots .dot:not(.active):hover { background: #fa1515; }
.slide__dots .active { background: #004a80; }

/*responsive slide*/
@media only screen and (min-width: 600px) and (max-width: 800px) { .slide__control--basic .prev-next-btn { height: 20px; width: 20px; font-size: 20px; padding: 4px; } }
@media only screen and (max-width: 600px) { .slide__control--basic { height: 36px; }
.slide__control--basic .prev-next-btn { line-height: 15px; height: 15px; width: 15px; padding: 5px; font-size: 15px; } }
/*end responsive slide*/
/*---------end section slide----------*/
/*++++++++++++++++++++++++END FOR HEADER COMPONENT++++++++++++++++++++++*/
/*++++++++++++++++++++++++FOR BODY COMPONENT++++++++++++++++++++++++++++*/
/*------------some primary component-----------------*/
/*list image*/
.image-list { height: auto; width: 100%; overflow: auto; clear: both; }
.image-card { vertical-align: middle; background: #f9f9f9; border: none; height: auto; overflow: auto; float: left; cursor: pointer; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.image-card:hover { box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25); }

.card__img-cover { width: 100%; height: auto; overflow: auto; clear: both; }
.card__padding { padding: 10px 20px 10px 10px; }
.card__details__title { padding: 5px 0; }
.card__control { padding: 5px 0; }
.card__footer { padding: 10px 0; }
.card__footer .care i { color: #fa1515; }
.card__footer .care span { color: #666; }
.card__footer .comment { float: right; }
.card__footer .comment i { color: #666; }
.card__footer .comment span { color: #666; }

.image-list--extra-large .image-card { padding: 0 0 10px 0; }

@media only screen and (min-width: 1200px) { .image-list--extra-large .image-card { width: calc(20% - 4px); margin-bottom: 5px; }
.image-list--extra-large .image-card:not(:nth-child(5n+1)) { margin-left: 5px; }
.image-list--extra-large .image-card:nth-child(5n+1) { clear: both; } }
@media only screen and (min-width: 800px) and (max-width: 1200px) { .image-list--extra-large .image-card { width: calc(25% - 4px); margin-bottom: 5px; }
.image-list--extra-large .image-card:not(:nth-child(4n+1)) { margin-left: 5px; }
.image-list--extra-large .image-card:nth-child(4n+1) { clear: both; } }
@media only screen and (min-width: 600px) and (max-width: 800px) { .image-list--extra-large .image-card { width: calc(33.33% - 2px); margin-bottom: 5px; }
.image-list--extra-large .image-card:not(:nth-child(3n+1)) { margin-left: 3px; }
.image-list--extra-large .image-card:nth-child(3n+1) { clear: both; } }
@media only screen and (min-width: 600px) { .image-list--small .image-card { width: calc(25% - 3px); margin-bottom: 4px; }
.image-list--small .image-card:not(:nth-child(4n+1)) { margin-left: 4px; }
.image-list--small .image-card:nth-child(4n+1) { clear: both; } }
@media only screen and (max-width: 600px) and (min-width: 400px) { .image-list--extra-large .image-card { width: calc(50% - 4px); margin-bottom: 5px; }
.image-list--extra-large .image-card:not(:nth-child(2n)) { margin-right: 5px; }
.image-list--extra-large .image-card:nth-child(2n+1) { clear: both; }
.image-list--small .image-card { width: calc(33.33% - 2px); margin-bottom: 3px; }
.image-list--small .image-card:not(:nth-child(3n+1)) { margin-left: 3px; }
.image-list--small .image-card:nth-child(3n+1) { clear: both; } }
@media only screen and (max-width: 400px) { .image-list--extra-large .image-card { width: 100%; margin-bottom: 5px; clear: both; }
.image-list--small .image-card { width: calc(50% - 2px); margin-bottom: 3px; }
.image-list--small .image-card:not(:nth-child(2n)) { margin-right: 3px; }
.image-list--small .image-card:nth-child(2n+1) { clear: both; } }
/*end list image*

/*load more*/
.section-seemore { margin-top: 20px; padding: 5px 0; }
.section-seemore .btn { padding: 10px 80px; }

/*end load more*/
/*-----------end some primary component--------------*/
/*---------section heading----------*/
.section-heading { margin: 40px auto 0; padding: 10px 0; height: auto; overflow: auto; color: #1a1a1a; width: 100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.section-heading h5 { font-size: 20px; font-weight: 550; color: #fa1515; padding: 0 20px; text-transform: lowercase; }
.section-heading a.see-more { text-decoration: underline; color: #07c; text-transform: lowercase; font-size: 16px; line-height: 20px; margin-top: 5px; }
.section-heading ul { height: auto; overflow: auto; }
.section-heading .btn { margin: 0 4px; font-size: 14px; color: #666; border-color: #dddddd; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; }
.section-heading .btn:not(.active):hover { background: #dddddd; color: #1a1a1a; border-color: #1a1a1a; }
.section-heading .active { background: #07c; color: #fff; border-color: #004a80; font-weight: 600; }
.section-heading li { margin: 0 5px; }
.section-heading li .btn:hover { background: #07c; color: #fff; border-color: #004a80; }
.section-heading__sort .select { padding: 5px 10px; background-color: #f2f2f2; border-color: #dddddd; outline: none; }

/*responsive heading*/
@media only screen and (min-width: 800px) and (max-width: 1200px) { .section-heading { margin: 30px auto 0; } }
@media only screen and (min-width: 600px) and (max-width: 800px) { .section-heading { margin: 20px auto 0; }
.section-heading .btn, .section-heading__sort .select { font-size: 13px; padding: 4px 6px; margin: 0 4px; } }
@media only screen and (max-width: 600px) { .section-heading { margin: 10px auto 0; }
.section-heading .btn, .section-heading__sort .select { font-size: 12px; padding: 2px 3px; margin: 0 1px; } }
/*end responsive heading*/
/*---------end section heading----------*/
/*------------section news----------------*/
.news { padding: 0 5px; height: auto; overflow: auto; }
.news .boxs { width: 100%; height: auto; overflow: auto; }
.news .boxs .box { height: 250px; display: inline-block; float: left; }
.news .boxs .box-padding { padding: 5% 8% 2%; }
.news .boxs .box h3, .news .boxs .box h4, .news .boxs .box p, .news .boxs .box a.text-link { width: 100%; height: auto; overflow: auto; }
.news .boxs .box h3 { font-size: 13px; letter-spacing: .1em; padding: 4px 0; }
.news .boxs .box h4 { font-size: 16px; font-weight: 550; padding: 2px 0; }
.news .boxs .box p { font-size: 14px; padding: 2px 0; }
.news .boxs .box .link-padding { padding: 20px 0; width: 100%; }
.news .boxs .box .text-link { font-size: 16px; }
.news .boxs .box .text-link:hover { color: #1a1a1a; }

/*responsive*/
@media only screen and (min-width: 600px) { .news { width: calc(50% - 11px); }
.news .slide__dots { display: none; }
.news .slide__track { width: 100% !important; transform: translate3d(0, 0, 0) !important; }
.news .boxs { width: calc(100% - 2px); border: 1px solid #dddddd; }
.news .boxs .box { height: 250px; width: calc(50% - .5px) !important; }
.news .boxs .box:nth-child(1), .news .boxs .box:nth-child(3) { float: left; border-right: 1px solid #dddddd; }
.news .boxs .box:nth-child(2), .news .boxs .box:nth-child(4) { float: right; }
.news .boxs .box:nth-child(1), .news .boxs .box:nth-child(2) { border-bottom: 1px solid #dddddd; } }
@media only screen and (min-width: 600px) and (max-width: 1000px) { .news { width: 100%; margin: 0; padding: 0; }
.news .container { max-width: 800px; margin: 0 auto; } }
@media only screen and (max-width: 600px) { .news { width: 100%; margin: 0; padding: 0; }
.news .slide__dots { display: inline-block; }
.news .box { display: inline-block; float: left !important; height: auto !important; }
.news .boxs, .news .box { border: 0 !important; } }
/*end responsive*/
/*------------end section news---------------*/
/*------------section newest video----------------*/
.newest-videos { width: 50%; height: auto; overflow: auto; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; -ms-transition: all .3s; transition: all .3s; }
.newest-videos .main-video-player { height: auto; overflow: auto; width: 100%; }
.newest-videos .main-video-player__content { height: auto; overflow-y: hidden; overflow-x: auto; background: #aaa; }
.newest-videos .main-video-player__title { line-height: 30px; font-size: 30px; padding: 20px 0; color: #07c; }
.newest-videos .main-video-player__title h5 { font-weight: 400; }
.newest-videos .main-video-player video { height: auto; width: 100%; }
.newest-videos .primary-video-player { height: 90px; max-width: 600px; margin: auto; overflow: hidden; }
.newest-videos .primary-video-player .prev-next-btn { width: auto; overflow: auto; height: 100%; top: -1px; padding: 2px 15px; bottom: 0; margin: auto 0; cursor: pointer; background: #fff; z-index: 1; }
.newest-videos .primary-video-player .prev-next-btn .icon { height: 40px; width: 30px; margin-top: 30px; }
.newest-videos .primary-video-player .prev-btn { left: 0; }
.newest-videos .primary-video-player .next-btn { right: 0; }
.newest-videos .primary-video-player__content { height: 100%; width: 100%; }
.newest-videos .primary-video-player__content img { overflow: hidden; width: 100%; height: 100%; }
.newest-videos .primary-video-player .slide__item img:not(.active) { transform: scale(0.95); }
.newest-videos .primary-video-player .slide__item img.active { transform: scale(1); }

/*responsive*/
@media only screen and (max-width: 1000px) { .newest-videos { width: 100%; margin: 0; padding: 0; }
.newest-videos .container { max-width: 800px; margin: 0 auto; } }
/*end responsive*/
/*------------end section newest video---------------*/
/*------------------section nav left------------------*/
.section-navleft { float: left; }
.section-navleft li { margin-top: 5px; font-size: 13px; font-weight: 550; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.section-navleft li span { line-height: 30px; width: calc(100% - 25px); }
.section-navleft li:not(.close):not(.heading):hover { background: #f2f2f2; cursor: pointer; }
.section-navleft li:not(.close):not(.heading) a { color: #1a1a1a; }
.section-navleft .heading { color: rgba(0, 0, 0, 0.5); text-transform: uppercase; }
.section-navleft .toggle { margin: 5px 0; font-size: 13px; font-weight: 550; line-height: 30px; }
.section-navleft .toggle i { line-height: 30px; }
.section-navleft .active { background: #f2f2f2; }
.section-navleft .active a { color: #000; font-weight: bold; }
.section-navleft .close { background: #666; }
.section-navleft .close a { color: #fff; }
.section-navleft .icon { height: 20px; width: 20px; margin: 5px; float: left; }
.section-navleft .icon-circle { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.section-navleft .icon-lock { line-height: 20px; font-size: 12px; padding: 5px; }

/*responsive*/
/*end responsive*/
/*----------------end section nav left------------------*/
/*-----------section center-------*/
.section-center { float: left; height: auto; overflow: auto; }

/*-------end section center--------*/
/*----------------section post------------------*/
.post { border: 1px solid #dddddd; width: calc(100% - 2px); font-family: inherit; background: #fff; height: auto; overflow: hidden; border-bottom: 1px solid #dddfe2; border-radius: 2px 2px 0 0; font-weight: bold; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.post__control { background-color: #f5f6f7; padding: 10px 0; height: auto; overflow: auto; border-bottom: 1px solid #dddddd; }
.post__control ul { padding: 0 10px; color: #666; }
.post__control ul .separator { margin: 0 5px; color: #dddddd; }
.post__control ul li { cursor: pointer; }
.post__body { margin-top: 10px; width: 100%; height: auto; overflow: auto; }
.post__body .avatar { width: 62px; height: auto; overflow: auto; float: left; }
.post__body .avatar img { width: 40px; height: 40px; margin: 0 10px; border-radius: 50%; border: 1px solid #dddddd; }
.post__body .content { width: calc(100% - 65px); height: auto; overflow: auto; float: left; }
.post__body .content textarea { width: 100%; height: auto; overflow: auto; line-height: .9rem; border: none; outline: 0; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
.post__images { padding: 10px 0; height: auto; overflow: auto; }
.post__footer { padding: 5px 0; width: 100%; height: auto; overflow: auto; border-top: 1px solid #dddddd; }
.post__footer i { color: #666; margin: 0 5px; padding: 13px 0; }
.post__footer .btn { outline: 0; border: 0; margin: 0 5px; }

.post .images-list { float: left; width: 100%; height: auto; overflow: auto; }
.post .images-simple-item { overflow: hidden; float: left; border: none; outline: 0; }
.post .images__icon-close { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; right: 10px; top: 10px; font-size: 13px; padding: 4px 6px; color: #fff; background: rgba(0, 0, 0, 0.6); z-index: 10; }

/*responsive*/
/*end responsive*/
/*----------------end section post------------------*/
/*----------------section article------------------*/
.article-item { height: auto; overflow: auto; margin: 10px auto; background: #fff; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: 1px solid #dddddd; padding: 0 10px; width: calc(100% - 22px); }
.article__heading { margin-top: 10px; width: 100%; height: auto; overflow: auto; height: auto; overflow: auto; }
.article__heading .avatar { width: 62px; height: auto; overflow: auto; float: left; }
.article__heading .avatar img { width: 40px; height: 40px; margin: 0 10px; border-radius: 50%; border: 1px solid #dddddd; }
.article__heading .author { width: calc(100% - 65px); height: auto; overflow: auto; float: left; }
.article__heading .author h3 { font-size: 15px; }
.article__properties { padding: 10px 0; font-size: 13px; color: #666; width: 100%; height: auto; overflow: auto; border-bottom: 1px solid #dddddd; }
.article__properties .like-count i { color: #fa1515; }
.article__properties .comment-count i { color: #666; }
.article__control { padding: 10px 0; width: 100%; border-bottom: 1px solid #dddddd; overflow: auto; }
.article__control .btn { background: #fff; color: #1a1a1a; outline: 0; border: none; line-height: 20px; }
.article__control .like-btn i { color: #fa1515; }
.article__control .comment-btn i { color: #666; }
.article__body { font-size: 14px; padding: 10px 0; }
.article__footer .archive { height: auto; overflow: auto; min-width: 150px; }
.article__footer .archive .icon-archive { line-height: 40px; margin: 0 2px; float: left; color: #666; }
.article__footer .btn-send { width: 40px; display: inline-block; overflow: auto; line-height: 30px; text-align: center; padding: 5px 0; margin: 0 2px; border: none; outline: 0; }

/*responsive*/
/*end responsive*/
/*----------------end section article------------------*/
/*----------------comment------------------*/
.comment { display: block; float: left; margin-bottom: 5px; }
.comment__heading { padding: 10px 0; height: auto; overflow: auto; }
.comment__heading .avatar { height: auto; overflow: auto; float: left; }
.comment__heading .avatar img { border: none; border-radius: 50%; }
.comment__heading .avatar img:after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0; content: ''; left: 0; position: absolute; right: 0; top: 0; }
.comment__heading .wrapper { height: auto; overflow: auto; float: left; }
.comment__heading .wrapper .author { height: auto; overflow: auto; float: left; }
.comment__body { padding: 10px 0; }

.parent-comment { width: 100%; }
.parent-comment li { float: left; width: 100%; display: block; }
.parent-comment .comment__heading .avatar { width: 60px; }
.parent-comment .comment__heading .avatar img { width: 40px; height: 40px; margin: 0 10px; }
.parent-comment .comment__heading .wrapper { width: calc(100% - 60px); }
.parent-comment .comment__heading .author h3 { font-size: 15px; }
.parent-comment .comment__heading .author p { font-size: 13px; color: #666; }
.parent-comment .comment__footer li { float: left; width: 100%; display: block; }

.child-comment { margin-left: 30px; width: calc(100% - 30px); }
.child-comment .comment__heading .avatar { width: 40px; }
.child-comment .comment__heading .avatar img { width: 30px; height: 30px; margin: 0 5px; }
.child-comment .comment__heading .wrapper { width: calc(100% - 40px); }
.child-comment .comment__heading .author h3 { font-size: 13px; }
.child-comment .comment__heading .author p { font-size: 12px; color: #666; }
.child-comment .comment__footer li { float: left; width: 100%; display: block; }

/*responsive*/
/*end responsive*/
/*----------------end comment------------------*/
/*section right*/
.section-navright { float: left; }
.section-navright li { padding: 5px 0; }
.section-navright li:not(:last-child) { border-bottom: 1px solid #ddd; }
.section-navright li:not(.heading) { height: auto; overflow: auto; font-size: 18px; }
.section-navright li:not(.heading) span { float: left; line-height: 70px; width: calc(100% - 92px); color: #000; }
.section-navright li:not(.heading):hover { border: 1px solid #004a80; }
.section-navright .heading { color: #07c; padding: 10px 0; font-weight: 550; font-size: 15px; }
.section-navright .active { background: #fff; }
.section-navright .active a { color: #000; font-weight: bold; }
.section-navright .preview-image { height: 60px; width: 60px; margin: 5px; float: left; }
.section-navright .preview-image-circle { border-radius: 50%; }
.section-navright .preview-image-details { float: left; width: calc(100% - 70px); height: auto; overflow: auto; }
.section-navright .preview-image-details h3 { font-size: 14px; }
.section-navright .preview-image-details p { font-size: 13px; color: #666; }
.section-navright .new-icon { height: 20px; width: 20px; border-radius: 50%; top: 5px; right: 5px; z-index: 0; }
.section-navright .new-images { height: auto; overflow: auto; width: 100%; }
.section-navright .thirt-party { margin-top: 20px; }

/*responsive*/
/*end responsive*/
/*-------end section right-------*/
/*++++++++++++++++++++++++END FOR BODY COMPONENT++++++++++++++++++++++++*/
/*++++++++++++++++++++++++FOR FOOTER COMPONENT++++++++++++++++++++++++++*/
.footer { margin-top: 30px; color: #1a1a1a; height: auto; width: 100%; overflow: auto; }
.footer hr { border-top: 1px solid #fefefe; }

/*---------section block--------*/
.blocks { background: #f9f9f9; clear: both; width: 100%; padding: 20px 0; }
.blocks .footer__logo { padding: 5px 0; height: 100px; width: 130px; margin-left: auto; margin-right: auto; }
.blocks .block { height: auto; overflow: auto; float: left; margin-bottom: 10px; }
.blocks .block h4, .blocks .block h2 { color: #666; padding: 10px 0; }
.blocks .block h2 { font-size: 24px; }
.blocks .block h4 { width: 100%; height: auto; overflow: auto; font-size: 16px; }
.blocks .block p { font-size: 13px; }
.blocks .block a { color: #666; text-decoration: none; }

/*responsive block*/
@media only screen and (min-width: 1200px) { .footer .block { width: calc(20% - 20px); padding: 0 10px; } }
@media only screen and (max-width: 1200px) { .footer .about-us-block { text-align: center; width: 100%; clear: both; } }
@media only screen and (min-width: 600px) and (max-width: 1200px) { .footer .block:not(.about-us-block) { width: calc(25% - 10px); padding: 0 5px; } }
@media only screen and (max-width: 600px) { .footer .block:not(.about-us-block) { width: calc(50% - 10px); padding: 0 5px; }
.footer .block:nth-child(5n-1) { clear: both; } }
/*end responsive block*/
/*-------end section block------*/
/*-------section copyright------*/
.copyright { background: #f2f2f2; padding: 20px 0; }
.copyright a { color: #004a80; font-weight: bold; text-decoration: none; }

/*responsive copyright*/
@media only screen and (max-width: 600px) { .copyright p { text-align: center; float: none; } }
/*end responsive copyright*/
/*-------end section copyright------*/
/*+++++++++++++++++++++++++END FOR FOOTER COMPONENT+++++++++++++++++*/
.animated { transition: transform .5s; }

/*==========================FOR ALL================*/
/*++++++++++++HEADER++++++++++*/
/*++++++++++END HEADER++++++++*/
/*++++++++++++BODY++++++++++++*/
.body { margin-top: 10px; }

/*+++++++++END BODY+++++++++++*/
/*++++++++++++FOOTER++++++++++*/
/*++++++++++END FOOTER++++++++*/
/*====================END FOR ALL==================*/
/*#############FOR HOMEPAGE#############*/
#homepage { /*++++++++++++HEADER++++++++++*/ /*++++++++++END HEADER++++++++*/ /*section main slide*/ /*end section main slide*/ /*++++++++++++BODY++++++++++++*/ /*section intro image-shortcuts*/ /*end section intro-image-shortcuts*/ /*section impressive-image-shortcuts*/ /*end section intro-image-shortcuts*/ /*------------section multi-purpose----------------*/ /*------------end section multi-purpose-----------*/ /*+++++++++END BODY+++++++++++*/ /*++++++++++++FOOTER++++++++++*/ /*++++++++++END FOOTER++++++++*/ }
#homepage .main-slide { margin-top: 20px; }
#homepage .intro-image-shortcuts { width: 100%; height: auto; overflow: auto; }
#homepage .impressive-image-shortcuts { width: 100%; height: auto; overflow: hidden; }
#homepage .impressive-image-shortcuts .slide__item a, #homepage .impressive-image-shortcuts .slide__item .image-card { width: 100%; height: auto; overflow: auto; }
#homepage .multi-purpose { width: 100%; height: auto; overflow: hidden; }

/*############END FOR HOMEPAGE########################*/
/*################FOR COMMUNITY PAGE###################*/
#community { /*++++++++++++HEADER++++++++++*/ /*++++++++++END HEADER++++++++*/ /*++++++++++++BODY++++++++++++*/ /*section left*/ /*end section left*/ /*section center*/ /*end section center*/ /*section right*/ /*end section right*/ /*+++++++++END BODY+++++++++++*/ /*++++++++++++FOOTER++++++++++*/ /*++++++++++END FOOTER++++++++*/ }
#community .section-navleft { width: 200px; }
#community .section-center { margin: 10px 20px; width: calc(650px - 40px); }
#community .section-navright { margin: 10px 0; width: calc(100% - 850px); }

@media only screen and (min-width: 1000px) and (max-width: 1200px) { #community .section-navright .preview-image { display: none; }
#community .section-navright .preview-image-details { width: 100%; height: auto; overflow: auto; cursor: pointer; } }
@media only screen and (max-width: 1000px) { #community .section-navright { width: 100%; clear: both; }
#community .section-navright li:not(.heading) { width: calc(50% - 2px); float: left; }
#community .section-navright .heading { width: 100%; }
#community .section-navright li { border-bottom: 1px solid #dddddd; }
#community .section-navright li:hover { border-top: 0; border-left: 0; border-right: 0; } }
@media only screen and (min-width: 800px) and (max-width: 1000px) { #community .section-center { width: calc(100% - 240px); } }
@media only screen and (min-width: 800px) { #community .body .section-navleft .toggle { display: none; } }
@media only screen and (max-width: 800px) { #community .body { margin-top: 0; }
#community .body .section-navleft { margin-top: 0; width: 100%; }
#community .body .section-navleft__info { display: none; cursor: pointer; }
#community .body .section-navleft .toggle { display: block; }
#community .body .section-navleft__management--hide { display: none; }
#community .body .section-center { width: 100%; margin: 0; } }
@media only screen and (max-width: 600px) { #community .body .section-center { width: 100%; margin: 0; } }
/*################END FOR COMMUNITY PAGE################*/
/*################FOR COMMUNITY PAGE###################*/
#management { /*++++++++++++HEADER++++++++++*/ /*++++++++++END HEADER++++++++*/ /*++++++++++++BODY++++++++++++*/ /*section left*/ /*end section left*/ /*section right*/ /*end section right*/ /*+++++++++END BODY+++++++++++*/ /*++++++++++++FOOTER++++++++++*/ /*++++++++++END FOOTER++++++++*/ }
#management .section-navleft { width: 200px; }
#management .section-right { margin-left: 20px; width: calc(100% - 220px); }

@media only screen and (min-width: 800px) { #management .body .section-navleft .toggle { display: none; } }
@media only screen and (max-width: 800px) { #management .body { margin-top: 0; }
#management .body .section-navleft { margin-top: 0; width: 100%; }
#management .body .section-navleft__info { display: none; cursor: pointer; }
#management .body .section-navleft .toggle { display: block; }
#management .body .section-navleft__management--hide { display: none; }
#management .body .section-right { width: 100%; margin: 0; } }
/*################END FOR COMMUNITY PAGE################*/

/*# sourceMappingURL=style.css.map */