:root{
	--default: #333;
	--black: #000;

	--less-orange: #f0ad4e;
	--dark-orange: #eb9114;

	--less-gray: rgb(221, 221, 221);
	--dark-gray: #666;

	--less-red: #fa1515;
	--dark-red: #d43f3a;

	--less-green: #0095ff;
	--dark-green: #5cb85c;

	--less-blue: #07c;
	--dark-blue: #0d47a1; 

	--white: #fff;
	--less-white: #f2f2f2;
	--skin: #f9f9f9;
	
	//font value
	--font-main: Roboto,-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
	--font-primary: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

//font component
$font-main: 'Roboto',sans-serif;;
$font-primary: Arial,"Helvetica Neue",Helvetica,sans-serif;

//screen component
$extra-large-screen: 1200px;
$large-screen: 1000px;
$medium-screen: 800px;
$small-screen: 600px;
$extra-small-screen: 400px;

*{
	margin: 0;
	padding: 0;
}

/*tag body*/
body{
    font-family: $font-main;
    height: auto;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    font-size: 12px;
    font-weight: 400;
    color: var(--default);
    
}

/*end tag body*/

/*a tag*/
a {
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    &:not(.link-no-color){
    	color: var(--dark-blue);
    }
}

.link{
	&-simple{
		color: var(--default);
		&:hover{
			text-decoration: underline;
		}
	}
	&-danger{
		color: var(--less-red);
	}
	&-gray{
		color: var(--dark-gray);
	}
}
/*end a tag*/


/*tag form*/
.form{
	h1, .h1, h2, .h2, h3, .h3 {
    	font-size: 18px;
	}
	h4, .h4, h5, .h5, h6, .h6 {
   		margin-top: 15px;
    	margin-bottom: 10px;
	}

	h5, .h5 {
	    font-size: 13px;
	}
	h4, .h4, h5, .h5, h6, .h6 {
	    margin-top: 9px;
	    margin-bottom: 9px;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	    font-family: inherit;
	    font-weight: 550;
	    line-height: 1.1;
	    color: inherit;
	}
}
/*end tag form*/

/*tag i*/
i{
	cursor: pointer;
}
/*end tag i*/

/*----------------------------------------------Basic Component----------------------------------------*/
.ml{
	&-5{
		margin-left: 5px;
	}
}
.mr{
	&-5{
		margin-right: 5px;
	}
}
.mt{
	&-10{
		margin-top: 10px;
	}
	&-15{
		margin-top: 15px;
	}
	&-20{
		margin-top: 20px;
	}
	&-30{
		margin-top: 30px;
	}
	&-50{
		margin-top: 50px;
	}
}
.mb{
	&-10{
		margin-bottom: 10px;
	}
	&-15{
		margin-bottom: 15px;
	}
	&-20{
		margin-bottom: 20px;
	}
	&-30{
		margin-bottom: 30px;
	}
	&-50{
		margin-bottom: 50px;
	}
}
/*label*/
.label{
	&-danger{
		height: auto;
		padding: 5px 0;
		text-align: center;
		color: var(--less-red);
	}
	&-bold{
		font-weight: 550;
	}
	&-default{
		color: #000;
	}
	&-hover{
		&:hover{
			text-decoration: underline;
		}
	}
}
/*end label*/


/*hide*/
.hide{
	display: none;
}
/*hide*/

/*pull*/
.pull {
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}

}
/*end pull*/

/*img*/
.img{
	&-fill{
		width: 100%;
		height: 100%;
	}
	&-responsive{
		width: 100%;
		height: auto;
		overflow: auto;
	}
}
.virtual-image{
	margin:auto;
	border: 2px dashed var(--less-gray);
	width: 70%;
    height: 90px;
    margin: 13px 15%;
	cursor: pointer;
	img{
		height: 40px;
		width: 40px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
/*end img*/

/*background image*/
.bg-img{
	&-center{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
/*end background image*/

/*nav*/
.horizontal-nav{
	li,a{
		display: inline-block;
		float: left;
	}
}

.vertical-nav{
	li,a{
		display: block;
	}
}


.navbar{
	&__links{

	}
	&__link-text{
	}
	&__link{
		&--separator{
			border-right: 1px solid var(--less-gray);
			margin: 0 5px;
		}
	}

}
/*end nav*/

/*hover link left*/
.hover-link{

	&-left{
		vertical-align: middle;
		&:after{
			content: '';
			display: block;
			width: 0;
			height: 2px;
			background: var(--dark-blue);
			transition: width .3s;
		}
		&:hover::after{
			width: 100%;
		}
	}
}
/*end hover link left*/

/*list*/
.list{
	&-unstyle{
		list-style: none;
	}
	&-circle{
		list-style: circle;
	}
}
/*end list*/

/*position*/
.relative{
	position: relative;
}
.absolute{
	position: absolute;
	&-left{
		left: 0;
		top:0;
		bottom: 0;
		margin: auto 0;
	}
	&-right{
		right: 0;
		top:0;
		bottom: 0;
		margin: auto 0;
	}
	&-center{
		right: 0;
		left: 0;
		top:0;
		bottom: 0;
		margin: auto;
	}
}

.fixed{
	&-top{
		position: fixed;
		width: 100% !important;
		top:0;
		z-index:1000;
		box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

/*end position*/

/*search bar*/
.search-bar{
	position: relative;
	width: auto;
	overflow: auto;
	&__text{
		height: 100%;
		position: absolute;
		left: 0;
		height: 100%;
		background: transparent;
	}
	&__btn{
		position: absolute;
		height: 100%;
		width:auto;
		right: 0;
		height: 100%;
	}
}
/*end search bar*/

/*text*/
.text {
	&-center {
		text-align: center;
	}
	&-uppercase {
		text-transform: uppercase;
	}
	&-lowercase {
		text-transform: lowercase;
	}
}
/*end text*/

/*button*/
.btn{
	cursor: pointer;
	outline: 0;
	@include borderradius(3px);

	//style
	&-primary{
		font-weight: 550;
		color: #FFF;
		background: #0097ff;
		border: 1px solid #07c;
		box-shadow: inset 0 1px 0 #66bfff;
   	}
   	&-default {
   		border: 0 !important;
		color: #24292e;
		background-color: var(--white);;
		font-weight: 550;
		font-size: 14px;
		border: 1px solid var(--less-gray);
		box-sizing: border-box;

		@include transition(box-shadow cubic-bezier(.165, .84, .44, 1) .25s);

   	}
   	&-danger {
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		background-color: var(--dark-red);
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
   		&:hover{
   			background: var(--dark-red);
   		}
   	}
   	&-warning {
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		background-color: var(--dark-orange);
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
   		&:hover{
   			background: var(--less-orange);
   		}
   	}
   	&-success {
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		background-color: var(--dark-green);
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		&:hover{
   			background: var(--dark-green);
   		}
   	}
   	&-outline{
   		color: #888;
   		background: #fff;
   		border: 1px solid #dedede;
   		&:hover{	
			color: var(--dark-gray);
			border-color: #979797;
			background-color: var(--less-white);
   		}
   	}
	//size
	
	&-xl{
	    padding: 0 12px;
	    font-size: 16px;
	    line-height: 40px;
	    @include borderradius(3px);
	    font-weight: 550;
	}
	&-lg{
	    padding: 0 10px;
	    font-size: 14px;
	    line-height: 35px;
	    @include borderradius(2px);
	}
	&-sm{
	    padding: 6px 12px;
	    font-size: 13px;
	    line-height: 23px;
	}
	&-xs{
	    padding: 4px 10px;
	    font-size: 12px;
	    line-height: 12px;
	}
}
/*end button*/

/*splash*/
.splash{
	&-screen {
		background: var(--less-white);
		width:100%;
		height: 100%;
		overflow: auto;
	}
	&-container{
		
	}
	&-description{
	}
}
/*panel*/

.panel{
	margin-bottom: 10px;
	width: 100%;
    height: auto;
    overflow: auto;
    border-radius: 3px;
	&-border-color {
    	border-top: 3px solid var(--less-blue);
		&-primary {
	    	border-top-color: var(--less-blue);
		}
	}
	&-heading{
		margin-bottom: 20px;
    	padding-top: 40px;
    	padding-bottom: 0;
		&-divider {
			border-bottom:1px dotted var(--less-gray);
			margin: 0 20px 8px;
    		padding-left: 0;
   			padding-right: 0;
		}
		.logo{
			height: auto;
			width: 100%;
			overflow: auto;
			img{
				height: 60px;
				width: 60px;
				border-radius: 3px;
				-webkit-border-radius: 3px;
			}
		}
		span{
			h3{
				height: auto;
				width: 100%;
				overflow: auto;
				padding: 5px 0 2px 0;
			}
			h4{
				padding: 4px 0 6px 0;
			}
		}
	}
	&-body {
		background: var(--white);
    	padding: 20px 30px 15px;
    	height: auto;
   		overflow: hidden;
    }
}
/*end panel*/

/*form*/
.form{
	&-group{
		width: 100%;
    	margin-bottom: 15px;
    	float:left;
    	input[type="text"] , input[type="password"] {
    		&:focus{
    			outline: none !important;
    			border-color: var(--dark-blue);
    		}

    	}
    	select{
    		padding: 5px 10px;
    		min-height: 40px;
    		outline: none;
    		border-color: var(--less-gray);
    		background: #e9ebee;
    	}
    	.row{
    		padding: 5px 0;
    	}
    	.form-label{
    		position: relative;
    		font-size: 13px;
    		top: -3px;
    		padding: 0 5px;
    	}
    	.lc{
	    	line-height: 40px;
	    	font-size: 14px;
	    	font-weight: 550;
	    }

		.btn-link{
			margin:0 5px;
		}
	}
	.readonly{
		background: #ddd;
		color: #90949c;;
		pointer-events: none;
	}
	&-log{
		width: 100%;
		height: auto;
		overflow: auto;
		padding: 5px 0;
	}
	&-control {
	    display: block;
	    width: 100%;
	    min-height: 40px;
	    padding: 10px 12px;
	    font-size: 13px;
	    line-height: 1.428571429;
	    
	    background-image: none;
	    border: 1px solid #d5d8de;
	    border-radius: 2px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
		&:not(.disabled, select){
			color: #404040;
			background-color: #fff;
		}
	}
	&-comment{
		height: auto;
		position: relative;
		overflow: hidden;
		min-height: 40px;
		width: 100%;
		background: var(--white);
		border: 1px solid var(--less-gray);
		color: #fff !important;
		margin: 0 0 10px 0;
		outline: none;
		transition: all .3s ease 0s !important;
		-moz-transition: all .3s ease 0s !important;
		-o-transition: all .3s ease 0s !important;
		-webkit-transition: all .3s ease 0s !important;
		border-radius: 50px;
		-webkit-border-radius: 50px;


		.input-text{
			height: 100%;
  			width: 100%;
  			overflow: hidden;
			padding: 0 70px 0 20px;
			position:absolute;
			z-index: 1;
			left: 0;
			top: 0;
			outline: 0;
			border: 0;

			font-size: 13px;
    		line-height: 40px;
		}

		&__control{
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 2;
			height: 100%;
			.attachment-icons{
				width: auto;
				height: 100%;
				float: left;
				i{
					line-height: 40px;
					color: var(--dark-gray);
					float: left;
					margin:0 5px;
					float: left;
				}
			}
			.btn-submit{
				float: left;
				width: 40px;
				height: 100%;
				border: 0;
				outline: 0;
				background: transparent;
				color: var(--dark-gray);
				i{
					line-height: 40px;
				}
			}
		}
	}

	&-comment--big{
		min-height: 100px;
		border-radius: 10px;
		
		.input-text{
			line-height: 14px;
			font-size: 13px;
			width: 100% !important;
			padding: 10px 5px !important;
			height: calc(100% - 40px) !important;
		}
		.form-comment__control{
			bottom: 0;
			right: 0;
			height: 40px;
		}
		.btn-submit{
		
		}
	}
	
}
/*end form*/

/*third party*/
.form-submit, .third-party-login{
	.btn{
		width:100%;
	}
	.btn{
		padding: 0 !important;
		margin: 0;
	}
}
.third-party-login{
	.btn{
		margin-bottom:10px;
	}
}
.third-party-login{
	&-line{
		margin-bottom: 12px;
   		width: 100%;
	}
}

.facebook {
	&-btn{
		outline: 0;
		color: #FFF;
	    background-color: #3b5999;
	    border-color: transparent;
	}
}
.google {
	&-btn{
		outline: 0;
		color: #FFF;
	    background-color: #dd4b39;
	    border-color: transparent;
	}
}
/*end third party*/

/*icon self-definition*/
.ic{
	background-repeat: no-repeat;
	background-size: cover;
	&_adv-md{
    	background-image: url('../imgs/ic_adv-md.png');
	}
	&-ex-lg{
		height: 48px;
	    width: 48px;
    }
    &-lg{
		height: 36px;
	    width: 36px;
    }
	&-md{
		height: 24px;
	    width: 24px;
    }
	&-circle{
		-moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	}
	&_search-md{
		background-position: 0px 0px;
	}
	&_logout-md{
		background-position: 0px -24px;
	}

	&_user-md{
		background-position: 0px -48px;
	}
	&_members-md{
		background-position: 0px -72px;
	}
	&_article-md{
		background-position: 0px -96px;
	}
	&_photos-md{
		background-position: 0px -120px;
	}
	&_comments-md{
		background-position: 0px -144px;
	}
	&_chart-md{
		background-position: 0px -168px;
	}

	&_new-md{
		background-position: 0px -192px;
	}
	&_faqs-md{
		background-position: 0px -216px;
	}
}


/*end icon self-definition*/
//progressbar
.progress-bar{
	min-height: 50px;
    overflow: auto;
	.dot{
		height: 30px;
		width:30px;
		line-height: 30px;
		font-size: 20px;
		font-weight: 550;
		text-align: center;
		border-radius: 50%;
		border: 7px solid #1f75c4;
		background-color: var(--white);
		color: #1f75c4;
		z-index: 2;
	}
}
.progress-line{
	z-index: 1;
	height: 10px;
	border-radius: 10px;
	background: #555;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	top: 20px;
	bottom:0;
	margin: auto 0;
	background-color: var(--less-gray);
	z-index: 0;
	width: 100%;
	&__value{
		height: 10px;
		border-radius: 10px;
		background: #1f75c4;
		&--50{
			width: 50%;
		}
		&--100{
			width: 100%;
		}
	}
}

//message-box
.screen-fade{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.2);
	top:0;
	z-index:999;
	transition: all .5s;
}
.message-box{
	background: #fff;
	z-index: 100;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #304E72;
	&__header{
		padding: 5px 0;
		background: #1F427C;
		border-bottom: 1px solid #416371;
		.close-btn{

		}
		.title{
			padding:0 5px;
			font-size: 1.1rem;
			font-weight: 550;
			font-size: 1rem;
			color: var(--white);
		}
	}
	&--bg-sky{
		background: #BDD3FB;
	}
	&__body{		
		color: var(--default);
		padding: 10px 0;
	}
	&__footer{
		padding-bottom: 20px;
		.btn{
			margin: 0 5px;
			
			display: inline-block;
		}
		.no-btn{

		}
		.yes-btn{
			padding: 5px 20px;
		}
	}
}
.box{
	border: 1px solid var(--less-gray);
	&:focus{
		border: 1px solid var(--less-orange);
	}
	&-sm{
		padding: 10px 0;
		font-size: 20px;
		line-height: 20px;
		margin: 0 5px;
	}
}
/*----------------------------------------------End Basic Component----------------------------------------*/