$webModule : 'adv';

.header{
}

.topbar{
	padding: 5px 0;
	background: #111;
	font-size: 11px;
	text-transform: uppercase;
	a{
		color: var(--white);
		cursor: pointer;
	}
	&__img-saved{
		font-weight: 700;
	}
	&--center{
		max-width: 300px;
		margin: auto;
		left: 0;
		right: 0;
		color: var(--white);
	}
}

.head{
	background: #ff8a00;
	height: auto;
	overflow: auto;
	overflow: hidden;
	vertical-align: middle;
	color: var(--default);
	.logo{
		&__image{
			background-image:url('/'+$webModule+'/imgs/favicon.png');
			margin: 5px;
			height: 40px;
			width: 40px;
		}
	}
	.account{
		.quickview{
			margin-top: 8px;
		}
		span{
			display: inline-block;
			float: right;
			padding: 0 10px;
		}
	}
	.toggle{
		i{
			line-height: 50px;
			padding: 0 20px;
		}

	}
	.search-bar{
		height: 30px;
		margin: 10px 0;
		background: #fff;
		box-shadow: inset 0 -1px 1px rgba(255,255,255,0.1);
		overflow: auto;
		border-radius: 2px;
		&__text{
			font-size: 14px;
			text-overflow: ellipsis;
			padding: 0 5px;
			width: calc(100% - 40px);
			border-radius: 2px 0 0 2px;
			border: 0;
			outline: 0;
			&:focus .search-bar{
				border:2px solid var(--less-blue);
			}
		}
		&__btn{
			width: 40px;
			border: none;
			outline: 0;
			border-radius: 0 2px 2px 0;
			text-align: center;
			background: transparent;
			cursor: pointer;
			i{
				color: var(--dark-gray);
				font-size: 20px;
				line-height: 30px;
			}
		}
	}

	.account{
		.ic-lg{
			margin-top: 7px;
		}
	}
}


@media only screen and (min-width: $medium-screen){
	.head{
		.toggle{
			display: none;
		}
	}
}
@media only screen and (min-width: $medium-screen) and (max-width: extra-large-screen){
	.head{
		.toggle{
			display: none;
		}
	}
}
@media only screen and (max-width: $medium-screen){
	.topbar{
		display: none;
	}

}

.menu{
	background-color: #a60c19;
	font-size: 12px;
	font-weight: 550;	
	font-family: $font-primary;
	outline: 0;	
	a{
		padding: 10px 15px;
		color: var(--white);
		&:hover{
			background-color: #8e0b16;
		}
	}
	ul li.active{
		background-color: #8e0b16;
	}	
	ul{
		width: auto;
	}
}


@media only screen and (max-width: $medium-screen){
	.menu{
		width: 100%;
		position: absolute;
		z-index: 100;
		top: 50px;
		opacity: 1;
		&--hide{
			display: none;
		}
		ul{
			padding: 0 20px;
			width: calc(100% - 40px);
			height: auto;
			overflow: auto;

		}
		li,a{
			width: 100%;
			padding: 5px 0;
			line-height: 18px;
			margin: 0 !important;
			
		}
		li.active{
			color: rgba(255,255,255,.6) !important; 
			background-color: #a60c19 !important;
		}
		li:not(:last-child){
			border-bottom: .5px solid #d1d1d1;
		}
		a:hover{
			color: rgba(255,255,255,.8) !important; 
			background-color: #a60c19;
		}
		a:after, a:before{
			width: 0 !important;

		}
	}
}


.image{
	&-list{
		height: auto;
		width: 100%;
		overflow: auto;
		clear: both;
	}
	&-card{
		vertical-align: middle;
   		
    	border: none;
		height:auto;
		overflow: auto;
		float: left;
		cursor: pointer;
    	&--bg-skin{
    		background: #f9f9f9;
    		&:hover{
    			box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
    		}
    	}
	}
}
.image-hover{
	 &-blur{
		transition: .1s all;
		img:hover {
			-webkit-filter: opacity(60%);
			filter: opacity(60%);

	    }		
	 }
}
.card {
	&__img-cover{
		width: 100%;
		height: auto;
		overflow: auto;
		clear: both;
	}
	&__padding{
		padding: 10px;
	}
	&__details{
		.details{
			&__title{
				padding: 5px 0;
				color: var(--dark-blue);
			}
			&__description{
				color: #888;
			}
		}
	}
	
	&__control{
		padding: 8px 0;
		a{
			margin:0 5px;
			color: #fff;
		}
	}
	&__footer{
		padding: 5px 0;
		.card-carer{
			i{
				color: var(--less-red); 
			}
			span{
				color: var(--dark-gray);
			}
		}
		.card-comment{
			float: right;
			i{
				color: var(--dark-gray); 
			}
			span{
				color: var(--dark-gray);
			}
		}
	}

}
.image-list{
	&--datatable{

		.image-card{
			padding: 0 0 5px 0;

		}
		.card{
			&__padding{
				padding: 3px!important;
			}
		}
		.details{
			&__title{
				font-size: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1; /* number of lines to show */
				line-height: 1.2rem;        /* fallback */
				max-height: 1.3rem;       /* fallback */
				height: 1.15rem;
			}
			&__description{
				font-size: 12px;
			}
		}

	}
	&--extra-large{
		.image-card{
			padding: 0 0 10px 0;
			.card{
				&__img-cover{
					img{
						max-height: 130px;
						overflow: hidden;
					}
				}
			}
		}
	}
	&--small{
		.image-card{
			
		}
	}
}
@media only screen and (min-width :$extra-large-screen){

	.image-list{

		&--extra-large{
			.image-card{
				width: calc(16.67% - 5px);
				margin-bottom: 5px;
				&:not(:nth-child(6n+1)){
					margin-left:5px;
				}
				&:nth-child(6n+7){
					clear: both;
				}
			}
		}
	}
}

@media only screen and (min-width :$large-screen){
	.image-list{
		&--datatable{
			img{
				height: 100px;
			}
			.image-card{
				width: calc(16.67% - 3px);
				margin-bottom: 3px;
				&:not(:nth-child(6n+6)){
					margin-right:3px;
				}
			}
		}
	}
}
@media only screen and (min-width :$medium-screen)  and( max-width :$large-screen){
	.image-list{
		&--datatable{
			.image-card{
				width: calc(16.67% - 3px);
				margin-bottom: 3px;
				&:not(:nth-child(6n+6)){
					margin-right:3px;
				}
			}

			img{
				height: 100px;
			}

		}
	}
}

@media only screen and (min-width :$medium-screen) and(max-width :$extra-large-screen){
	.image-list{
		&--extra-large{
			.image-card{
				width: calc(20% - 5px);
				margin-bottom: 5px;
				&:not(:nth-child(5n+1)){
					margin-left:5px;
				}
				&:nth-child(5n+6){
					clear: both;
				}
			}
		}
	}
}

@media only screen and (min-width :$small-screen) and (max-width :$medium-screen){
	.image-list{
		&--datatable{
			.image-card{
				width: calc(25% - 2.8px);
				margin-bottom: 4px;
				&:not(:nth-child(4n+1)){
					margin-left:3px;
				}
				&:nth-child(4n+1){
					clear: both;
				}
			}

			img{
				height: 120px;
			}

		}
		&--extra-large{
			.image-card{
				width: calc(25% - 3px);
				margin-bottom: 5px;
				&:not(:nth-child(4n+1)){
					margin-left:3px;
				}
				&:nth-child(4n+5){
					clear: both;
				}
			}
		}
	}
}

@media only screen and (min-width :$small-screen){
	.image-list{
		&--small{
			.image-card{
				width: calc(25% - 3px);
				margin-bottom: 4px;
				&:not(:nth-child(4n+1)){
					margin-left:4px;
				}
				&:nth-child(4n+1){
					clear: both;
				}
			}
		}
	}
}

@media only screen and (min-width :$extra-small-screen) and (max-width :$small-screen){
	.image-list{
		&--datatable{
			.image-card{
				width: calc(33.33% - 3px);
				margin-bottom: 4px;
				&:not(:nth-child(3n+1)){
					margin-left:4px;
				}
				&:nth-child(3n+1){
					clear: both;
				}
			}

			img{
				height: 110px;
			}

			.details{
				&__title{
					-webkit-line-clamp: 1; /* number of lines to show */
					line-height: 1.2rem;        /* fallback */
					max-height: 1.2rem;       /* fallback */
					height: 1.15rem;
				}
				&__description{
					font-size: 12px;
				}
			}
		}
		&--extra-large{
			.image-card{
				width: calc(33.33% - 4px);
				margin-bottom:5px;
				&:not(:nth-child(3n+3)){
					margin-right:5px;
				}
				&:nth-child(3n+4){
					clear: both;
				}
			}
		}
		&--small{
			.image-card{
				width: calc(33.33% - 2px);
				margin-bottom: 3px;
				&:not(:nth-child(3n+1)){
					margin-left:3px;
				}
				&:nth-child(3n+1){
					clear: both;
				}
			}
		}
	}
}

@media only screen and (max-width :$extra-small-screen){
	.image-list{
		&--datatable{
			.image-card{
				width: calc(50% - 3px);
				margin-bottom: 4px;
				&:not(:nth-child(2n+1)){
					margin-left:4px;
				}
				&:nth-child(2n+1){
					clear: both;
				}
			}

			img{
				height: 120px;
			}

			.details{
				&__title{
					-webkit-line-clamp: 1; /* number of lines to show */
					line-height: 1.2rem;        /* fallback */
					max-height: 1.3rem;       /* fallback */
					height: 1.3rem;
				}
				&__description{
					font-size: 12px;
				}
			}
		}
		&--extra-large{
			.image-card{
				width: calc(50% - 4px);
				margin-bottom:5px;
				&:not(:nth-child(2n+2)){
					margin-right:5px;
				}
				&:nth-child(2n+3){
					clear: both;
				}
			}
		}
		&--small{
			.image-card{
				width: calc(50% - 2px);
				margin-bottom:3px;
				&:not(:nth-child(2n)){
					margin-right:3px;
				}
				&:nth-child(2n+1){
					clear: both;
				}
			}
		}
	}
}

.section-seemore {
	margin-top: 20px;
	padding: 5px 0;
	.btn{
		padding: 10px 80px;
	}
}

.section-navleft{
	float: left;

	li{
		margin-top: 5px;
		padding: 5px 0;
		font-size: 12px;
		font-weight: 550;
		-moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;
		span{
			line-height: 24px;
		    width: calc(100% - 25px);
			height: 24px;
		}
		
		&:not(.close):not(.heading){
			&:hover{
				background: #f2f2f2;
				cursor: pointer;
			}
			a{
				color: var(--default);
			}
		}
	}
	.heading{
		color: rgba(0,0,0,.5);
		text-transform: uppercase;
	}
	.toggle{
		font-size: 13px;
		font-weight: 550;
	    line-height: 30px;
	    i{
	    	line-height: 30px;
	    }
	}
	.active{
		background: #f2f2f2;
		a{
			color: #000;
			font-weight: bold;

		}
	}
	.close{
		background: var(--dark-gray);
		a{
			color: #fff;
		}
	}

}

.section-center{
	float: left;
	height: auto;
	overflow: auto;
}

.datatable{
	padding: 0;
	margin: 0;
	outline: 0;
	border-spacing: 0;
	border:0;
	tr.title{
		background: #36304a;
		color: #fff;
		font-weight: 550;
		font-size: 11px;
	}
	tr:not(.title){
		color: var(--default);
		font-size: 12px;
	}
	tr.even{
		background-color: #f5f5f5; 
	}
	tr:not(.even,.title){
		background-color: #cdcdcd; 
	}
}
.table{
	&-border-gray{
		border-bottom: 1px solid var(--less-gray);
		border-right: 1px solid  var(--less-gray);
		th,td{
			padding: 5px 4px;
			border-top: 1px solid  var(--less-gray);
			border-left: 1px solid  var(--less-gray);
		}
	}
}

.widget{
	&-box{
		background: none repeat scroll 0 0 #F9F9F9;
		border-left: 1px solid #CDCDCD;
		border-top: 1px solid #CDCDCD;
		border-right: 1px solid #CDCDCD;
		clear: both;
		margin-top: 16px;
		margin-bottom: 16px;
		position: relative;
	}
	&-title{
		height: 30px;
		line-height: 30px;
		color: #222;
		background-color: #ddd;;
		border-bottom: 1px solid #CDCDCD;
		.icon{
			height: 100%;
			border-right: 1px solid #CDCDCD;
			i{  
				padding: 0 10px;
				line-height: 30px;
			}
		}
		h5{
			padding: 0 5px;
		}
	}
	&-content{
		ul li{
			&:not(:last-child){
				border-bottom: 1px dotted #AEBDC8;
			}
		}
	}
}

.footer {
	margin-top: 20px;
	height: auto;
	padding: 10px 0;
	width:100%;
	overflow: auto;
	hr{
		border-top: 1px solid #ddd;
	}
}


/*===- section copyright -===*/
.copyright{
	background: #111;
    color: #eee;
	padding: 20px 0;
	a {
		color: var(--white);
		font-weight: bold;
		text-decoration: none;
	}
}
/*responsive copyright*/
@media only screen and (max-width : $small-screen){
	.copyright{
		p{
			text-align: center;
			float: none;
		}
	}

}
/*end responsive copyright*/
/*===- end section copyright -===*/
