/*3:09am 28-11-2018*/
/*===========- BASIC COMPONENT SASS -========*/
/*===- size -===*/
/*margin*/
/*===- position -===*/
/*center*/
/*row*/
.main-1200, .main-600, .main-500, .main-400, .main-350, .main-300, .main-250 {
  margin: 0 auto;
  height: auto;
  overflow: auto; }

/*===========- END MINXIN BASIC COMPONENT SASS -========*/
:root {
  --default: #333;
  --black: #000;
  --less-orange: #f0ad4e;
  --dark-orange: #eb9114;
  --less-gray: rgb(221, 221, 221);
  --dark-gray: #666;
  --less-red: #fa1515;
  --dark-red: #d43f3a;
  --less-green: #0095ff;
  --dark-green: #5cb85c;
  --less-blue: #07c;
  --dark-blue: #0d47a1;
  --white: #fff;
  --less-white: #f2f2f2;
  --skin: #f9f9f9;
  --font-main: Roboto,-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  --font-primary: Arial,"Helvetica Neue",Helvetica,sans-serif; }

* {
  margin: 0;
  padding: 0; }

/*tag body*/
body {
  font-family: "Roboto", sans-serif;
  height: auto;
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
  font-size: 12px;
  font-weight: 400;
  color: var(--default); }

/*end tag body*/
/*a tag*/
a {
  overflow: hidden;
  text-decoration: none;
  cursor: pointer; }
  a:not(.link-no-color) {
    color: var(--dark-blue); }

.link-simple {
  color: var(--default); }
  .link-simple:hover {
    text-decoration: underline; }
.link-danger {
  color: var(--less-red); }
.link-gray {
  color: var(--dark-gray); }

/*end a tag*/
/*tag form*/
.form h1, .form .h1, .form h2, .form .h2, .form h3, .form .h3 {
  font-size: 18px; }
.form h4, .form .h4, .form h5, .form .h5, .form h6, .form .h6 {
  margin-top: 15px;
  margin-bottom: 10px; }
.form h5, .form .h5 {
  font-size: 13px; }
.form h4, .form .h4, .form h5, .form .h5, .form h6, .form .h6 {
  margin-top: 9px;
  margin-bottom: 9px; }
.form h1, .form h2, .form h3, .form h4, .form h5, .form h6, .form .h1, .form .h2, .form .h3, .form .h4, .form .h5, .form .h6 {
  font-family: inherit;
  font-weight: 550;
  line-height: 1.1;
  color: inherit; }

/*end tag form*/
/*tag i*/
i {
  cursor: pointer; }

/*end tag i*/
/*----------------------------------------------Basic Component----------------------------------------*/
.ml-5 {
  margin-left: 5px; }

.mr-5 {
  margin-right: 5px; }

.mt-10 {
  margin-top: 10px; }
.mt-15 {
  margin-top: 15px; }
.mt-20 {
  margin-top: 20px; }
.mt-30 {
  margin-top: 30px; }
.mt-50 {
  margin-top: 50px; }

.mb-10 {
  margin-bottom: 10px; }
.mb-15 {
  margin-bottom: 15px; }
.mb-20 {
  margin-bottom: 20px; }
.mb-30 {
  margin-bottom: 30px; }
.mb-50 {
  margin-bottom: 50px; }

/*label*/
.label-danger {
  height: auto;
  padding: 5px 0;
  text-align: center;
  color: var(--less-red); }
.label-bold {
  font-weight: 550; }
.label-default {
  color: #000; }
.label-hover:hover {
  text-decoration: underline; }

/*end label*/
/*hide*/
.hide {
  display: none; }

/*hide*/
/*pull*/
.pull-left {
  float: left; }
.pull-right {
  float: right; }

/*end pull*/
/*img*/
.img-fill {
  width: 100%;
  height: 100%; }
.img-responsive {
  width: 100%;
  height: auto;
  overflow: auto; }

.virtual-image {
  margin: auto;
  border: 2px dashed var(--less-gray);
  width: 70%;
  height: 90px;
  margin: 13px 15%;
  cursor: pointer; }
  .virtual-image img {
    height: 40px;
    width: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

/*end img*/
/*background image*/
.bg-img-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

/*end background image*/
/*nav*/
.horizontal-nav li, .horizontal-nav a {
  display: inline-block;
  float: left; }

.vertical-nav li, .vertical-nav a {
  display: block; }

.navbar__link--separator {
  border-right: 1px solid var(--less-gray);
  margin: 0 5px; }

/*end nav*/
/*hover link left*/
.hover-link-left {
  vertical-align: middle; }
  .hover-link-left:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--dark-blue);
    transition: width .3s; }
  .hover-link-left:hover::after {
    width: 100%; }

/*end hover link left*/
/*list*/
.list-unstyle {
  list-style: none; }
.list-circle {
  list-style: circle; }

/*end list*/
/*position*/
.relative {
  position: relative; }

.absolute {
  position: absolute; }
  .absolute-left {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0; }
  .absolute-right {
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0; }
  .absolute-center {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

.fixed-top {
  position: fixed;
  width: 100% !important;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*end position*/
/*search bar*/
.search-bar {
  position: relative;
  width: auto;
  overflow: auto; }
  .search-bar__text {
    height: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    background: transparent; }
  .search-bar__btn {
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    height: 100%; }

/*end search bar*/
/*text*/
.text-center {
  text-align: center; }
.text-uppercase {
  text-transform: uppercase; }
.text-lowercase {
  text-transform: lowercase; }

/*end text*/
/*button*/
.btn {
  cursor: pointer;
  outline: 0;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .btn-primary {
    font-weight: 550;
    color: #FFF;
    background: #0097ff;
    border: 1px solid #07c;
    box-shadow: inset 0 1px 0 #66bfff; }
  .btn-default {
    border: 0 !important;
    color: #24292e;
    background-color: var(--white);
    font-weight: 550;
    font-size: 14px;
    border: 1px solid var(--less-gray);
    box-sizing: border-box;
    -webkit-transition: box-shadow cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
    -o-transition: box-shadow cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
    -webkit-transition: box-shadow cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
    transition: box-shadow cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s; }
  .btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--dark-red);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
    .btn-danger:hover {
      background: var(--dark-red); }
  .btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--dark-orange);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
    .btn-warning:hover {
      background: var(--less-orange); }
  .btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--dark-green);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
    .btn-success:hover {
      background: var(--dark-green); }
  .btn-outline {
    color: #888;
    background: #fff;
    border: 1px solid #dedede; }
    .btn-outline:hover {
      color: var(--dark-gray);
      border-color: #979797;
      background-color: var(--less-white); }
  .btn-xl {
    padding: 0 12px;
    font-size: 16px;
    line-height: 40px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 550; }
  .btn-lg {
    padding: 0 10px;
    font-size: 14px;
    line-height: 35px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
  .btn-sm {
    padding: 6px 12px;
    font-size: 13px;
    line-height: 23px; }
  .btn-xs {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 12px; }

/*end button*/
/*splash*/
.splash-screen {
  background: var(--less-white);
  width: 100%;
  height: 100%;
  overflow: auto; }

/*panel*/
.panel {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  overflow: auto;
  border-radius: 3px; }
  .panel-border-color {
    border-top: 3px solid var(--less-blue); }
    .panel-border-color-primary {
      border-top-color: var(--less-blue); }
  .panel-heading {
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 0; }
    .panel-heading-divider {
      border-bottom: 1px dotted var(--less-gray);
      margin: 0 20px 8px;
      padding-left: 0;
      padding-right: 0; }
    .panel-heading .logo {
      height: auto;
      width: 100%;
      overflow: auto; }
      .panel-heading .logo img {
        height: 60px;
        width: 60px;
        border-radius: 3px;
        -webkit-border-radius: 3px; }
    .panel-heading span h3 {
      height: auto;
      width: 100%;
      overflow: auto;
      padding: 5px 0 2px 0; }
    .panel-heading span h4 {
      padding: 4px 0 6px 0; }
  .panel-body {
    background: var(--white);
    padding: 20px 30px 15px;
    height: auto;
    overflow: hidden; }

/*end panel*/
/*form*/
.form-group {
  width: 100%;
  margin-bottom: 15px;
  float: left; }
  .form-group input[type="text"]:focus, .form-group input[type="password"]:focus {
    outline: none !important;
    border-color: var(--dark-blue); }
  .form-group select {
    padding: 5px 10px;
    min-height: 40px;
    outline: none;
    border-color: var(--less-gray);
    background: #e9ebee; }
  .form-group .row {
    padding: 5px 0; }
  .form-group .form-label {
    position: relative;
    font-size: 13px;
    top: -3px;
    padding: 0 5px; }
  .form-group .lc {
    line-height: 40px;
    font-size: 14px;
    font-weight: 550; }
  .form-group .btn-link {
    margin: 0 5px; }
.form .readonly {
  background: #ddd;
  color: #90949c;
  pointer-events: none; }
.form-log {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 5px 0; }
.form-control {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 1.428571429;
  background-image: none;
  border: 1px solid #d5d8de;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; }
  .form-control:not(.disabled, select) {
    color: #404040;
    background-color: #fff; }
.form-comment {
  height: auto;
  position: relative;
  overflow: hidden;
  min-height: 40px;
  width: 100%;
  background: var(--white);
  border: 1px solid var(--less-gray);
  color: #fff !important;
  margin: 0 0 10px 0;
  outline: none;
  transition: all .3s ease 0s !important;
  -moz-transition: all .3s ease 0s !important;
  -o-transition: all .3s ease 0s !important;
  -webkit-transition: all .3s ease 0s !important;
  border-radius: 50px;
  -webkit-border-radius: 50px; }
  .form-comment .input-text {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 70px 0 20px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    outline: 0;
    border: 0;
    font-size: 13px;
    line-height: 40px; }
  .form-comment__control {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 100%; }
    .form-comment__control .attachment-icons {
      width: auto;
      height: 100%;
      float: left; }
      .form-comment__control .attachment-icons i {
        line-height: 40px;
        color: var(--dark-gray);
        float: left;
        margin: 0 5px;
        float: left; }
    .form-comment__control .btn-submit {
      float: left;
      width: 40px;
      height: 100%;
      border: 0;
      outline: 0;
      background: transparent;
      color: var(--dark-gray); }
      .form-comment__control .btn-submit i {
        line-height: 40px; }
.form-comment--big {
  min-height: 100px;
  border-radius: 10px; }
  .form-comment--big .input-text {
    line-height: 14px;
    font-size: 13px;
    width: 100% !important;
    padding: 10px 5px !important;
    height: calc(100% - 40px) !important; }
  .form-comment--big .form-comment__control {
    bottom: 0;
    right: 0;
    height: 40px; }

/*end form*/
/*third party*/
.form-submit .btn, .third-party-login .btn {
  width: 100%; }
.form-submit .btn, .third-party-login .btn {
  padding: 0 !important;
  margin: 0; }

.third-party-login .btn {
  margin-bottom: 10px; }

.third-party-login-line {
  margin-bottom: 12px;
  width: 100%; }

.facebook-btn {
  outline: 0;
  color: #FFF;
  background-color: #3b5999;
  border-color: transparent; }

.google-btn {
  outline: 0;
  color: #FFF;
  background-color: #dd4b39;
  border-color: transparent; }

/*end third party*/
/*icon self-definition*/
.ic {
  background-repeat: no-repeat;
  background-size: cover; }
  .ic_adv-md {
    background-image: url("../imgs/ic_adv-md.png"); }
  .ic-ex-lg {
    height: 48px;
    width: 48px; }
  .ic-lg {
    height: 36px;
    width: 36px; }
  .ic-md {
    height: 24px;
    width: 24px; }
  .ic-circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .ic_search-md {
    background-position: 0px 0px; }
  .ic_logout-md {
    background-position: 0px -24px; }
  .ic_user-md {
    background-position: 0px -48px; }
  .ic_members-md {
    background-position: 0px -72px; }
  .ic_article-md {
    background-position: 0px -96px; }
  .ic_photos-md {
    background-position: 0px -120px; }
  .ic_comments-md {
    background-position: 0px -144px; }
  .ic_chart-md {
    background-position: 0px -168px; }
  .ic_new-md {
    background-position: 0px -192px; }
  .ic_faqs-md {
    background-position: 0px -216px; }

/*end icon self-definition*/
.progress-bar {
  min-height: 50px;
  overflow: auto; }
  .progress-bar .dot {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    border-radius: 50%;
    border: 7px solid #1f75c4;
    background-color: var(--white);
    color: #1f75c4;
    z-index: 2; }

.progress-line {
  z-index: 1;
  height: 10px;
  border-radius: 10px;
  background: #555;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  top: 20px;
  bottom: 0;
  margin: auto 0;
  background-color: var(--less-gray);
  z-index: 0;
  width: 100%; }
  .progress-line__value {
    height: 10px;
    border-radius: 10px;
    background: #1f75c4; }
    .progress-line__value--50 {
      width: 50%; }
    .progress-line__value--100 {
      width: 100%; }

.screen-fade {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 999;
  transition: all .5s; }

.message-box {
  background: #fff;
  z-index: 100;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #304E72; }
  .message-box__header {
    padding: 5px 0;
    background: #1F427C;
    border-bottom: 1px solid #416371; }
    .message-box__header .title {
      padding: 0 5px;
      font-size: 1.1rem;
      font-weight: 550;
      font-size: 1rem;
      color: var(--white); }
  .message-box--bg-sky {
    background: #BDD3FB; }
  .message-box__body {
    color: var(--default);
    padding: 10px 0; }
  .message-box__footer {
    padding-bottom: 20px; }
    .message-box__footer .btn {
      margin: 0 5px;
      display: inline-block; }
    .message-box__footer .yes-btn {
      padding: 5px 20px; }

.box {
  border: 1px solid var(--less-gray); }
  .box:focus {
    border: 1px solid var(--less-orange); }
  .box-sm {
    padding: 10px 0;
    font-size: 20px;
    line-height: 20px;
    margin: 0 5px; }

/*----------------------------------------------End Basic Component----------------------------------------*/
.main-1200, .main-600, .main-500, .main-400, .main-350, .main-300, .main-250 {
  margin: 0 auto;
  height: auto;
  overflow: auto; }

/*screen size responsive*/
.main-1200 {
  max-width: 1200px; }

.main-600 {
  max-width: 600px; }

.main-500 {
  max-width: 500px; }

.main-400 {
  max-width: 400px; }

.main-350 {
  max-width: 350px; }

.main-300 {
  max-width: 300px; }

.main-250 {
  max-width: 250px; }

/*grid view*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 24.99%; }

.col-4 {
  width: 33.32%; }

.col-5 {
  width: 41.65%; }

.col-6 {
  width: 49.98%; }

.col-7 {
  width: 58.31%; }

.col-8 {
  width: 66.64%; }

.col-9 {
  width: 74.97%; }

.col-10 {
  width: 83.3%; }

.col-1 {
  float: left; }

.col-2 {
  float: left; }

.col-3 {
  float: left; }

.col-4 {
  float: left; }

.col-5 {
  float: left; }

.col-6 {
  float: left; }

.col-7 {
  float: left; }

.col-8 {
  float: left; }

.col-9 {
  float: left; }

.col-10 {
  float: left; }

:root {
  --default: #333;
  --skin: #f2f2f2;
  --white: #ffffff;
  --shadow: #464953;
  --less-black: #36383F;
  --dark-shadow: #9fa2ad;
  --less-shadow: #c8cad0;
  --font-code-title: 16px;
  --font-code: 14px;
  --line-height-code: 14px;
  --line-height-code-title: 20px; }

.editor {
  background: #1D1E22; }

.main-header {
  overflow: hidden;
  height: 69px;
  min-height: 69px;
  min-width: 1000px;
  border-bottom: 5px solid var(--black);
  box-shadow: 0 1px 1px var(--black); }

.pen-title {
  height: 100%;
  margin-top: 10px;
  margin-left: 15px; }

.pen-text h1 {
  font-size: 24px;
  color: var(--white); }
.pen-text p {
  font-size: 12px;
  color: var(--skin); }

.secondary-nav {
  color: var(--skin);
  font-weight: 550; }

.controls {
  margin-right: 15px;
  list-style: none; }

.controls-default {
  cursor: pointer;
  line-height: 69px;
  margin: 0 8px;
  font-size: 18px;
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--skin); }

textarea {
  resize: none; }

.codebox-row {
  width: 100%; }
.codebox-content {
  width: calc(100% - 20px); }
.codebox-html, .codebox-struct, .codebox-command {
  background: var(--skin); }
  .codebox-html .code-content, .codebox-html .code-line, .codebox-struct .code-content, .codebox-struct .code-line, .codebox-command .code-content, .codebox-command .code-line {
    padding: 0 5px; }
  .codebox-html .code-line, .codebox-struct .code-line, .codebox-command .code-line {
    line-height: var(--font-code); }
  .codebox-html .code-content, .codebox-struct .code-content, .codebox-command .code-content {
    height: calc(100% - var(--line-height-code-title) - 1px);
    width: calc(100% - 35px); }
    .codebox-html .code-content textarea, .codebox-struct .code-content textarea, .codebox-command .code-content textarea {
      line-height: var(--line-height-code);
      overflow: hidden; }
.codebox-result {
  background: var(--skin);
  height: auto;
  overflow: auto; }
  .codebox-result .box-content {
    padding: 15px 0;
    width: 100%; }
  .codebox-result .code-line {
    height: auto; }
  .codebox-result .code-content {
    padding: 0 5px;
    width: calc(100% - var(--font-code) - 20px); }
    .codebox-result .code-content textarea {
      line-height: var(--line-height-code); }
.codebox-resize {
  background: red; }
.codebox-sperator {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background: var(--shadow);
  height: 10px !important; }

.code-title {
  width: 100%;
  border-bottom: 1px solid var(--less-shadow);
  display: inline-block;
  text-overflow: ellipsis; }
  .code-title h3 {
    font-size: var(--font-code-title);
    line-height: var(--line-height-code-title);
    font-weight: 550;
    padding: 0 5px; }
.code-line, .code-content, .code-content textarea {
  font-size: var(--font-code); }
.code-line {
  padding: 0 5px;
  line-height: var(--line-height-code);
  color: var(--dark-shadow); }
  .code-line span {
    display: block; }
.code-content {
  padding: 0 5px;
  overflow-wrap: break-word; }

.resize {
  background: var(--shadow); }
  .resize-horizontal {
    width: 18px;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    background: #36383F; }
    .resize-horizontal:not(.resize-fixed) {
      cursor: col-resize; }
  .resize-vertical {
    height: 18px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
    .resize-vertical:not(.resize-fixed) {
      cursor: row-resize; }

/*# sourceMappingURL=crawl.css.map */
