/*3:09am 28-11-2018*/
$browsers : ("webkit","o","ms","moz");
$dash: '-';

@mixin setAnAtr($att, $value){
	$att : value;
}

@mixin generateAttForBrowsers($attributes, $properties, $browsers){

	@each $attribute in $attributes {
		@each $property in $properties {
			@each $browser in $browsers {
				#{$dash+ $browser + $dash + $attribute} : $property;
			}
			#{$attribute} : $property;
		}
	}
}

@mixin generateAttByValue($attribute, $values){
	@each $value in $values {
		$attribute : #{$value};
	}
}

@mixin generateAttByPosition($pre, $values){
	@each $value in $values {
		#{$pre + $dash} : value;
	}
}

@mixin generateProperty($class, $att ,$value){
	.#{$class}{
		#{$att} : $value;
	}
}

@mixin generateClassByValue( $pre_class, $lists, $attribute ,$pre_value, $after_value){
	@each $list in $lists {
		$class : #{$pre_class}-#{nth($list,1)};
		$value : #{$pre_value}#{nth($list,2)}#{$after_value};
		@include generateProperty($class,  $attribute, $value);
	}
}

/*===========- BASIC COMPONENT SASS -========*/

@mixin ellipsis($line_clamp){
	white-space: nowrap;
	-webkit-line-clamp: $line_clamp;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
	@include textoverflow(ellipsis);
}

@mixin textoverflow($property){
	$attributes : ("text-overflow");
	$properties: ($property);
	@include generateAttForBrowsers($attributes ,$properties, $browsers);
}

@mixin boxshadow($property){
	-webkit-box-shadow: $property;
	box-shadow: $property;
}
@mixin transition($property){
	-webkit-transition: $property;
	-o-transition: $property;
	-webkit-transition: $property;
	transition: $property;
}

@mixin borderradius_full($top_left, $top_right, $bottom_right, $bottom_left){

	$attributes : ("border-top-left-radius", "border-top-right-radius", "border-bottom-right-radius", "border-bottom-left-radius");
	$properties: ($top_left, $top_right, $bottom_right, $bottom_right);

	@include generateAttForBrowsers($attributes ,$properties, $browsers);
}
@mixin borderradius($property){
  	$attributes : ("border-radius");
	$properties: ($property);
	@include generateAttForBrowsers($attributes ,$properties, $browsers);
}

@mixin circle{
	@include borderradius(50%);
}

/*===- size -===*/
@mixin size($height, $width){
	width: $width;
	height: $height;
}

%maxsize{
	@include size(100%,100%);
}
%maxsize_hidden{
	@extend %maxsize;
	overflow: hidden;
}
%maxsize_auto{
	@extend %maxsize;
	overflow: auto;
}
%autosize{
	@include size(auto, auto);
	overflow: auto;
}
%autosize_height_auto{
	@include size(auto, 100%);
	overflow: auto;
}
%autosize_width_auto{
	@include size(100%, auto);
	overflow: auto;
}
%autosize_height_hidden{
	@include size(auto, 100%);
	overflow: hidden;
}
%autosize_width_hidden{
	@include size(100%, auto);
	overflow: hidden;
}
/*margin*/
@mixin margin($property){
	margin: $property;
}

%margin_auto{
	margin: auto;
}
%margin_center_height{
	margin-top: auto;
	margin-bottom: auto;
}
%margin_center_width{
	margin-left: auto;
	margin-right: auto;
}
@mixin margin_center{
	@extend %margin_auto;
}
@mixin margin_center_top($top){
	margin-top: $top;
	@extend %margin_center_width;
}
@mixin margin_center_right($right){
	margin-right: $right;
	@extend %margin_center_height;
}
@mixin margin_center_bottom($bottom){
	margin-bottom: $bottom;
	@extend %margin_center_width;
}
@mixin margin_center_left($left){
	margin-left: $left;

	@extend %margin_center_height;
}

@mixin margin_full($top, $right, $bottom, $left){

	$pre : 'margin';
	$values: ($top, $right, $bottom, $left);

	@include generateAttByPosition( $pre,$values);
}

/*===- position -===*/
@mixin position($property){
	position: $property;
}
@mixin relative{
	@include position(relative);
}
@mixin absolute($margin){
	@include position(absolute);
	marign: $margin;
}

@mixin absolute_top($property){
	@include margin_full($property,0,0,0);
}
@mixin absolute_right($property){
	@include margin_full(0,$property,0,0);
}

@mixin absolute_bottom($property){
	@include margin_full(0,0,$property,0);
}

@mixin absolute_left($property){
	@include margin_full(0,0,0,$property);
}

/*center*/
@mixin absolute_middle(){
	@extend %absolute_center_center;
	@include margin_center;
}
%absolute_center_center{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
%absolute_center_width{
    right: 0;
	left: 0;
	@extend %margin_center_width;

}
%absolute_center_height{
    top: 0;
	bottom: 0;
	@extend %margin_center_height;
}
@mixin absolute_center_top($top){
	top: $top;
	@extend %absolute_center_width;
}
@mixin absolute_center_right($right){
	right: $right;
	@extend %absolute_center_height;
}

@mixin absolute_center_bottom($bottom){
	bottom: $bottom;
	@extend %absolute_center_width;
}

@mixin absolute_center_left($left){
	left: $left;
	@extend %absolute_center_height;
}

/*row*/
%row{
	@extend %autosize_height_auto;
	clear: both;
}

%main_center{
	margin: 0 auto;
	height: auto;
	overflow: auto;
}
/*===========- END MINXIN BASIC COMPONENT SASS -========*/