$mains : (1200, 600, 500, 400, 350, 300, 250);
%main_center{
   margin: 0 auto;
   height: auto;
   overflow: auto;
}
/*screen size responsive*/
@each $value in $mains {
   .main-#{$value} {
      max-width: #{$value + "px"};
      @extend %main_center;
   }
}

/*grid view*/
$from: 1;
$to: 10;
@for $i from $from through $to {
   .col-#{$i} {
      width: $i*8.33%;
   }
}

@for $i from $from through $to {
   .col-#{$i} {
      float: left;
   }
}
