.main-1200, .main-600, .main-500, .main-400, .main-350, .main-300, .main-250 {
  margin: 0 auto;
  height: auto;
  overflow: auto; }

/*screen size responsive*/
.main-1200 {
  max-width: 1200px; }

.main-600 {
  max-width: 600px; }

.main-500 {
  max-width: 500px; }

.main-400 {
  max-width: 400px; }

.main-350 {
  max-width: 350px; }

.main-300 {
  max-width: 300px; }

.main-250 {
  max-width: 250px; }

/*grid view*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 24.99%; }

.col-4 {
  width: 33.32%; }

.col-5 {
  width: 41.65%; }

.col-6 {
  width: 49.98%; }

.col-7 {
  width: 58.31%; }

.col-8 {
  width: 66.64%; }

.col-9 {
  width: 74.97%; }

.col-10 {
  width: 83.3%; }

.col-1 {
  float: left; }

.col-2 {
  float: left; }

.col-3 {
  float: left; }

.col-4 {
  float: left; }

.col-5 {
  float: left; }

.col-6 {
  float: left; }

.col-7 {
  float: left; }

.col-8 {
  float: left; }

.col-9 {
  float: left; }

.col-10 {
  float: left; }

/*# sourceMappingURL=responsive.css.map */
