@import 'custom_library.scss';
@import 'basic.scss';
@import 'responsive.scss';
@import 'component.scss';
/*==========================FOR ALL================*/


.body{
margin-top: 10px;
}

.header{
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.body{
	height: auto;
    width: 100%;
    overflow: hidden;
}

.section-navleft{
}

.section-right{
	overflow: hidden;

	.section-view, .section-control{
	 	width: 100%;
	 }
	 .section-view{
	 	overflow: auto;
	 	position: relative;
	 }
}


@media only screen and (min-width: $large-screen){
	body{
		margin-top: 50px;
	}
	.section-navleft{
		padding: 10px 0;
		width: 200px;
		height: auto;
	    top: 50px;
	    bottom: 0;
	    z-index: 100;
	    background-color: #fff;
	    .toggle{
				display: none;
			}
		&__management{

		}
	}
	.section-right{
		width: calc(100% - 210px);
		float: left;
		margin-left: 10px;
		padding: 10px 0;
		min-height: 100%;
		background-color: #fff;

	}
	.footer{
		bottom: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
	}
}
@media only screen and (max-width: $large-screen){

	.body{
		margin-top: 50px;
		.section-navleft{
			margin-top: 0;
			width: 100%;
			&__info{
				display: none;
				cursor: pointer;
			}
			.toggle{
				display: block;
			}
			&__management{
				&--hide{
					display: none;
				}
			}
		}
		.section-right{
			width: 100%;
			margin: 0;
			overflow: auto;
		}
	}

	.footer{
		margin-top: 20px;
	}
}
